  <style type="text/css">
	#Page_errorCodePool .btn-center {text-align: center;}
	#Page_errorCodePool .total-width {width: 850px;}
	#Page_errorCodePool .btn-table-change {margin-right: 20px;}
	#Page_errorCodePool .btn-table-report {margin-right: 20px;}
	#Page_errorCodePool .errcode-center {color:blue;font-size:18px;font-weight: bold;}
	#Page_errorCodePool .text-style {color:red;font-size:16px;font-weight: bold;}
	#Page_errorCodePool .min-height{min-height:50px;}
	#Page_errorCodePool .select-label-word {margin-top: 7px;width: 70px;}
	#Page_errorCodePool .table-word-center {text-align: center;vertical-align: middle;}  
	#Page_errorCodePool .show-nothing {display:none;}  
	#Page_errorCodePool .spl-thead-color1 {background-color: #00a65a;color: white;}  
	#Page_errorCodePool .spl-thead-color2 {background-color: #3c8dbc;color: white;}  
	#Page_errorCodePool .spl-thead-color3 {background-color: #f39c12;color: white;}  
	#Page_errorCodePool .spl-thead-color4 {background-color: #8ac14a;color: white;}  
	#Page_errorCodePool .spl-thead-wid {} 
	#Page_errorCodePool .change-font-red {color: red;font-weight: 700;} 
	#Page_errorCodePool .table-word-center {text-align: center;vertical-align: middle;}  
	
  </style>
<div class="row" id="Page_errorCodePool">
    <div class="col-md-12">
        <div class="box">
            <form id="JS_queryDataForm">
                <div class="box-header with-border">
                    <h3 class="box-title">CSF错误码规范按条件查询</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body"><br/>		            
		            <div class="row">
		            	<div class="col-sm-6">
		            		<label class="col-sm-2  control-label">采集日期:</label>
		            		<div class="col-sm-4">
                  				<input type="text" class="form-control input-sm " name="insertTime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
                  			</div>
                  		</div>
<!--                 		<div class="col-sm-6">
		                    <label  class="col-sm-2  control-label">所属中心：</label>
		                    <div class="col-sm-4 min-height">
		                    	<select name="center" class="form-control select2 input-sm" data-url="select1"  data-idkey="center" data-namekey="center">
			                        <option value="">请选择</option>
			                    </select>
			                </div>
		                </div> -->		                 
		            </div>
                </div>
                <div class="box-footer">
                    <div class="text-center">
                         <button type="reset" class="btn btn-default">重置</button>
                         <button type="button" class="btn btn-primary"  name="query">查询</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="box" id="JS_text" style="min-height:100px;border:1px solid green;">
            <div class="box-header with-border">
                <h3 class="box-title"><span name="timeShow"></span>日各中心CSF错误码规范报告:</h3>
            </div>
            <div class="box-body">
          		<div class="row" id="JS_errorCodeText"> </div>
            </div> 
        </div> 
        <div class="box" id="JS_connectionPoolList" style="min-height:100px;">
            <div class="box-header ">
                <h3 class="box-title">CSF错误码规范列表</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover" id="dataMaintainListTable">
                    <thead>
		                <tr>
		                <th class="iCheckbox table-word-center spl-thead-color4" width="15" ></th>
							<th width="150px" class="table-word-center spl-thead-color1">系统名称</th>	
							<th width="100px" class="table-word-center spl-thead-color1">已配置有效数据量(存在CSF注册)</th>
							<th width="100px" class="table-word-center spl-thead-color1">配置涉及CSF服务数</th>						
							<th width="100px" class="table-word-center spl-thead-color1">中心注册CSF服务数量</th>
							<th width="100px" class="table-word-center spl-thead-color2">CSF服务错误码配置覆盖率</th>
							<th width="100px" class="table-word-center spl-thead-color2">环比变化</th>
							<th width="100px" class="table-word-center spl-thead-color3">配置巡检规范率</th>
							<th width="100px" class="table-word-center spl-thead-color3">环比变化</th>
		                    <th class="table-word-center spl-thead-color1">移动负责人</th>
		                    <th class="table-word-center spl-thead-color1">亚信负责人</th>
							<th class="table-word-center spl-thead-color1">采集时间</th>
							<th class="table-word-center spl-thead-color1">未覆盖服务</th>
							<th class="table-word-center spl-thead-color1">不规范服务</th>
							<th class="table-word-center spl-thead-color1">历史波动曲线查看</th>
							
		                </tr>
                    </thead>
                    <tbody name="content"></tbody>         
                </table>
            </div>
            <div class="box-footer no-border">
            	<div class="dataTables_paginate" name="pagination" style="text-align:center"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
		<textarea cols="108" rows="6" disabled>
	指标说明:
1、巡检数据取自各业务系统配置库bs_busi_errcode_map表数据;
2、已配置有效数据量：取全量配置数据且配置对应的CSF服务在能力平台存在CSF注册的有效数据量;
3、配置涉及CSF服务数:已配置有效数据量涉及的注册CSF服务数;
4、存在调用的CSF服务数:该中心在能力平台注册的CSF服务总数;
5、CSF服务错误码配置覆盖率：配置涉及CSF服务数/(中心注册CSF服务数量-经中心确认无错误码的特殊服务清单);
6、规范率: 经平台巡检配置规范的数据量/已配置有效数据量;
		</textarea>
    </div>	
    <!-- 弹出页面（7天波动） -->
	<div class="modal fade" id="JS_show7dayModal" tabindex="-1" role="dialog">
	    <div class="modal-dialog total-width">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                <h4 class="modal-title">最近七天核心数据库连接数波动展示</h4>
	            </div>
	            <div id="JS_recent7Modal" class="modal-body" style="padding-bottom: 0">
				     <div class="box" id="JS_recent7dayView" name="initEcharts">
				        <div class="box-header" ></div>
				        <div class="box-body" id="JS_archiIndex7View" style="width: 100%; height:350px;"></div>
			   		</div>	
	          	</div>
	            <div class="modal-footer btn-center">
	                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>              
	            </div>
	        </div>
	    </div>
	</div>
    <!-- 弹出页面 （30天波动）-->
	<div class="modal fade" id="JS_show30dayModal" tabindex="-1" role="dialog">
	    <div class="modal-dialog total-width">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                <h4 class="modal-title">最近三十天核心数据库连接数波动展示</h4>
	            </div>
	            <div id="JS_recent30Modal" class="modal-body" style="padding-bottom: 0">
				     <div class="box" id="JS_recent30dayView" name="initEcharts">
				        <div class="box-header" ></div>
				        <div class="box-body" id="JS_archiIndex30View" style="width: 100%; height:350px;"></div>
			   		</div>	
	          	</div>
	            <div class="modal-footer btn-center">
	                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>              
	            </div>
	        </div>
	    </div>
	</div>
</div>
<!-- 表格数据 -->
<script id="TPL_connectionPoolTemp" type="text/x-handlebars-template">
{{#each this}}
<tr>
    <td><input type="radio" class="minimal" value="{{id}}" name="id"></td>
	<td width="120px">{{centerName}}</td>
    <td width="90px">{{errcodeCfgNum}}</td>
    <td width="90px">{{cfgCsfNum}}</td>
	<td width="90px">{{totlaCsfNum}}</td>
	<td width="90px" class="text-style">{{errcodeCoverRate}}%</td>
	<td width="90px" class="text-style">{{errcodeCoverRatePctg}}%</td>
	<td width="90px" class="text-style">{{errcodeSpecRate}}%</td>
	<td width="90px" class="text-style">{{errcodeSpecRatePctg}}%</td>
	<td>{{pmOfChinamobile}}</td>
    <td>{{pmOfAsiainfo}}</td>
	<td>{{monthDate}}</td>
	<td ><button type="button" class="btn btn-primary btn-table-uncover" data-center="{{centerName}}" data-date="{{monthDate}}" name="uncover">下载</button></td>
	<td ><button type="button" class="btn btn-primary btn-table-unstandard" data-center="{{centerName}}" data-date="{{monthDate}}" name="unstandard">下载</button></td>
	<td class="table-word-center"><button type="button" class="btn btn-primary btn-table-detail7" data-center="{{centerName}}" data-date="{{monthDate}}" name="detail7">7天曲线</button>
		 <button type="button" class="btn btn-primary btn-table-detail30" data-center="{{centerName}}" data-date="{{monthDate}}" name="detail30">30天曲线</button>
	</td>
</tr>
{{/each}}
</script>
<script id="TPL_errorCodeTempText" type="text/x-handlebars-template">
<div class="events-grid" >
	<div class=" events-semi-grid">
			<p style="text-indent:2em;margin-top:13px;" name="textShowTwo">
				成功采集各系统中心配置数据共
				<span class="errcode-center">{{total}}</span>条，经平台巡检全中心CSF错误码服务覆盖率为
				<span class="text-style">{{percentage}}%</span>，配置规范率为
				<span class="text-style">{{standard}}%</span>%。
			</p>
	</div>
</div>
</script>

<script type="text/javascript">
//<![CDATA[
seajs.use("script/errorCode/centerCsfErrorCode", function(init) {
    init.init();
});
//]]>
</script>


