
    <div class="col-md-3">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">业务模块列表</h3>
                <button id="Js_Add" type="button" class="btn btn-primary pull-right">添加</button>
            </div>
            <div class="box-body">
                <div name="scroll">
                    <ul id="Js_treeModuls" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">模块信息</h3>
            </div>
            <form id="JS_getModulInfoForm" class="form-horizontal">
                <div class="box-body" style="min-height: 100px;" id="modulInfo">
                </div>
                <div class="box-footer">
                    <div class=" text-center">
                        <button type="button" class="btn btn-primary" name="save">保存</button>
                        <button type="button" class="btn btn-default" name="del">删除</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

<script>
seajs.use("script/busiMng/busiModulMng", function(JQuery) {
    JQuery.init();
});
</script>
<!-- </div> -->
