<div class="row">
    <div class="col-md-3">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#isOrganize" data-toggle="tab">模块列表</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="isOrganize">
                    <ul id="JS_busiModulTree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9" >
        <!--用户列表-->
        <div id="JS_getUserinfoList" class="box"  style="min-height: 100px">
            <div style="text-align: center; padding: 100px 0;">
                <p style="font-size: 38px;"><i class="fa fa-warning text-yellow"></i></p>
                <p style="color: #666;"><span>请先选择模块！</span></p>
            </div>
        </div>
        <!--关联组织-->
        <div id="JS_getStaffOrgList" class="box hide" style="min-height: 100px"></div>
        <!-- /.box -->
    </div>
</div>

<script>
seajs.use("script/busiMng/busiCaseMng.js", function(Query) {
    Query.init();
});
</script>
