<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="true">
	
	<description>Apache CXF的 SOAP Web Service配置</description>
	
	<!-- WebService的实现Bean定义 -->
	<bean id="soapService" class=" com.ai.aiga.webservice.soap.SoapServiceImpl" />
	<bean id="naCodePathWebServiceSv" class=" com.ai.aiga.webservice.soap.NaCodePathWebServiceSvImp" />
	
	<!-- jax-ws endpoint定义  -->
	<jaxws:endpoint address="/soapservice">
		<jaxws:implementor ref="soapService" />
	</jaxws:endpoint>
	<jaxws:endpoint address="/naCodePathWebServiceSv">
		<jaxws:implementor ref="naCodePathWebServiceSv" />
	</jaxws:endpoint>
	
</beans>
