<div class="row">
    <div class="col-md-12">
        <div class="box">
            <form id="JS_queryAutoResultForm">
                <div class="box-header with-border">
                    <h3 class="box-title">按条件查询</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>任务名称</label>
                                <input type="email" class="form-control input-sm" name="taskName" placeholder="请输入任务名称">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>任务编号</label>
                                <input type="email" class="form-control input-sm" name="taskTag" placeholder="请输入任务编号">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>执行主机IP</label>
                                <input type="email" class="form-control input-sm" name="machineIp" placeholder="请输入执行主机IP">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>任务执行状态</label>
                                <select name="taskResult" class="form-control input-sm">
                                    <option value="">请选择</option>
                                    <option value="1">未执行</option>
                                    <option value="2">执行中</option>
                                    <option value="3">执行完成</option>
                                    <option value="4">执行失败</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="text-center">
                        <button type="reset" class="btn btn-default">重置</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="box" id="JS_getAutoResultList" style="min-height:100px;">
            <div style="text-align: center; padding: 50px 0;">
                <p style="font-size: 38px;"><i class="fa fa-hourglass-1  text-gray"></i></p>
                <p style="color: #333;"><span>数据加载中，请稍后...</span></p>
            </div>
        </div>
    </div>
</div>
<!-- 查看自动化执行结果详细信息弹出框 -->
<div class="modal fade" id="JS_getAutoResultInfoModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">详细信息</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <form id="JS_queryAutoResultInfoForm">
                                <div class="box-header with-border">
                                    <h3 class="box-title">按条件查询</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>用例名称</label>
                                                <input type="email" class="form-control input-sm" name="autoName" placeholder="请输入任务名称">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>执行结果</label>
                                                <select name="resultType" class="form-control input-sm">
                                                    <option value="">请选择</option>
                                                    <option value="0">成功</option>
                                                    <option value="1">失败</option>
                                                    <option value="2">未执行</option>
                                                    <option value="3">中断</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label></label>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" name="queryAuto">查询</button>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label></label>
                                                <button type="reset" class="btn btn-default">重置</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="box" id="JS_getAutoResultInfoList" style="min-height:100px;">
                            <div style="text-align: center; padding: 50px 0;">
                                <p style="font-size: 38px;"><i class="fa fa-hourglass-1  text-gray"></i></p>
                                <p style="color: #333;"><span>数据加载中，请稍后...</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- 查看执行信息 -->
<div class="modal fade" id="JS_showRunInfoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">执行信息</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <textarea name="runInfoArea" readonly="readonly" style="width: 100%;height: 500px;">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- 查看执行日志 -->
<div class="modal fade" id="JS_showRunLogModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">执行日志</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <textarea name="runLogArea" readonly="readonly" style="width: 100%;height: 500px;">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- 生成报告弹出框 -->
<div class="modal fade" id="JS_generateReportModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">生成报告</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <form id="JS_getTaskDetailForm">
                            </form>
                        </div>
                        <div class="box" id="JS_getReportDetailList" style="min-height:100px;">
                            <div style="text-align: center; padding: 50px 0;">
                                <p style="font-size: 38px;"><i class="fa fa-hourglass-1  text-gray"></i></p>
                                <p style="color: #333;"><span>数据加载中，请稍后...</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<script>
seajs.use("script/autoManage/autoResult", function(Query) {
    Query.init();
});
</script>
