<!--Page Start-->
<div class="row" id="Page_autoCaseTempMng">
    <div class="col-md-12">
        <div class="box">
            <form id="JS_queryCaseTempForm">
                <div class="box-header with-border">
                    <h3 class="box-title">按条件查询</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>用例模版名称</label>
                                <input type="email" class="form-control input-sm" name="tempName" placeholder="请输入模版名称">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>重要级别</label>
                                <select name="important" class="form-control input-sm">
                                    <option value="">请选择</option>
                                    <option value="1">一级用例</option>
                                    <option value="2">二级用例</option>
                                    <option value="3">三级用例</option>
                                    <option value="4">四级用例</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>系统大类</label>
                                <select name="sysId" class="form-control input-sm" data-url="getSysList" data-subname="sysSubId">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>系统子类</label>
                                <select name="sysSubId" class="form-control input-sm" data-suburl="getSubsysList" data-idkey="subsysId" data-namekey="sysName" data-subname="funId">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>功能点</label>
                                <select name="funId" class="form-control input-sm" data-suburl="getFunList" data-idkey="funId" data-namekey="sysName">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="text-center">
                        <button type="reset" class="btn btn-default">重置</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="box" id="JS_getCaseTempList">
            <div class="box-header">
                <h3 class="box-title">自动化用例模板列表</h3>
                <div class="box-tools">
                    <button type="button" class="btn btn-primary" name="edit"><i class="fa fa-edit"></i> 编辑模板</button>
                    <button type="button" class="btn btn-primary" name="generate"><i class="fa fa-hourglass-end"></i> 生成用例</button>
                    <button type="button" class="btn btn-primary" name="del"><i class="fa fa-remove"></i> 废弃模板</button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="iCheckbox" width="15"></th>
                            <th>用例模板名称</th>
                            <th>系统大类</th>
                            <th>系统子类</th>
                            <th>功能点</th>
                            <th>业务</th>
                            <th>重要级别</th>
                        </tr>
                    </thead>
                    <tbody name="content"></tbody>
                </table>
            </div>
            <div class="box-footer no-border">
                <div class="dataTables_paginate" name="pagination"></div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="Modal_updateCaseTempInfo" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑模板</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <div class="row">
                    <div class="col-md-3">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">选择添加组件</h3>
                            </div>
                            <div class="box-body">
                                <div name="scroll">
                                    <ul name="tree" class="ztree"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <form>
                            <div class="box">
                                <div class="box-body">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <label>自动化用例模板名称<i class="text-red">*</i>：
                                            </label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="tempName">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box" id="JS_getTempCompList" style="min-height:100px;">
                                <div style="text-align: center; padding: 50px 0;">
                                    <p style="font-size: 38px;"><i class="fa fa-hourglass-1  text-gray"></i></p>
                                    <p style="color: #333;"><span>数据加载中，请稍后...</span></p>
                                </div>
                            </div>
                            <div class="box collapsed-box" id="JS_getCaseTempInfo">
                                <div style="text-align: center; padding: 50px 0;">
                                    <p style="font-size: 38px;"><i class="fa fa-hourglass-1  text-gray"></i></p>
                                    <p style="color: #333;"><span>数据加载中，请稍后...</span></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary pull-right" name="save">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="Modal_generateCaseInfo" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">生成用例</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <div class="row">
                    <div class="col-md-3">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">组件列表</h3>
                            </div>
                            <div class="box-body" id="JS_getSideTempCompList">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <form>
                            <div class="box">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>自动化用例模板名称：
                                                    <i class="text-red">*</i></label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">用例模板_</div>
                                                    <input type="text" class="form-control" name="autoName" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>环境类型
                                                    <i class="text-red">*</i></label>
                                                <select class="form-control" name="environmentType">
                                                    <option value="">请选择</option>
                                                    <option value="1">验收环境</option>
                                                    <option value="2">准发布环境
                                                    </option>
                                                    <option value="3">生产环境
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="box-header ">
                                    <h3 class="box-title">参数列表</h3>
                                </div>
                                <div class="box-body">
                                    <table name="table" class="table table-hover" id="JS_getParameterList">
                                        <thead>
                                            <tr>
                                                <th>参数名</th>
                                                <th>参数值</th>
                                                <th>参数描述</th>
                                                <th>取值SQL</th>
                                                <th>预期值</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary pull-right" name="save">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- handlebars/自动化用例模板列表 -->
<script id="TPL_getCaseTempList" type="text/x-handlebars-template">
    {{#each this}}
    <tr>
        <td>
            <input type="radio" class="minimal" value="{{tempId}}" name="tempId">
            <input type="hidden" value="{{caseId}}" name="caseId">
        </td>
        <td>{{tempName}}
            <input type="hidden" value="{{tempName}}" name="tempName">
        </td>
        <td>{{sysName}}</td>
        <td>{{sysSubName}}</td>
        <td>{{funName}}</td>
        <td>{{transformatBusi busiId}}</td>
        <td>{{transformatImp important}}</td>
    </tr>
    {{/each}}
</script>
<!-- handlebars/已选组件列表 -->
<script id="TPL_getTempCompList" type="text/x-handlebars-template">
    <div class="box-header ">
        <h3 class="box-title">已选组件列表</h3>
        <div class="box-tools">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" name="del">删除</button>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="iCheckbox" width="15"></th>
                    <th>组件名称</th>
                    <th>用例步骤描述</th>
                    <th>组件顺序</th>
                </tr>
            </thead>
            <tbody>
                {{#each this}}
                <tr>
                    <td>
                        <input type="radio" class="minimal" value="{{compId}}" name="compId">
                    </td>
                    <td>{{compName}}
                        <input type="hidden" value="{{compName}}" name="compName">
                    </td>
                    <td>{{compDesc}}
                        <input type="hidden" value="{{compDesc}}" name="compDesc">
                    </td>
                    <td>
                        <input name="compOrder" value="{{compOrder}}">
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</script>
<!-- handlebars/已选组件列表 -->
<script id="TPL_getSideTempCompList" type="text/x-handlebars-template">
    <table class="table table-bordered table-hover">
        <tbody>
            {{#each this}}
            <tr>
                <input type="hidden" value="{{compOrder}}" name="compOrder">
                <td width="15">
                    <input type="checkbox" class="minimal" value="{{compId}}" name="compId">
                </td>
                <td>{{compName}}
                    <input type="hidden" value="{{compName}}" name="compName">
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
<!-- handlebars/模板基本信息 -->
<script id="TPL_getCaseTempInfo" type="text/x-handlebars-template">
    <div class="box-header with-border">
        <h3 class="box-title">基本信息</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body" style="display: none;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>模板名称：</label>
                    <input type="text" class="form-control input-sm" value="{{caseName}}" readonly="readonly">
                </div>
            </div>
        </div>
        <div class="row">
            {{#each factors}}
            <div class="col-md-6">
                <div class="form-group">
                    <label>因子名称：</label>
                    <input type="text" class="form-control input-sm" readonly="readonly" value="{{factorName}}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>因子描述：</label>
                    <input type="text" class="form-control input-sm" readonly="readonly" value="{{remark}}">
                </div>
            </div>
            {{/each}}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>模板应用：</label>
                    <input type="text" class="form-control input-sm" value="{{operateDesc}}" readonly="readonly">
                </div>
            </div>
        </div>
    </div>
</script>
<!-- handlebars/参数列表 -->
<script id="TPL_getParameterList" type="text/x-handlebars-template">
    <tbody name="{{compId}}_{{compOrder}}">
        <input type="hidden" name="compId" value="{{compId}}">
        <input type="hidden" name="compOrder" value="{{compOrder}}">
        <tr class="bg-light-blue color-palette">
            <td>组件名：{{compName}}_{{compOrder}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {{#each this}}
        <tr>
            <td>
                <input type="hidden" name="paramId" value="{{paramId}}">
                <input type="hidden" name="paramName" value="{{paramName}}" style="width: 100px;">{{paramName}}</td>
            <td>
                <input type="text" name="paramValue" value="{{paramValue}}" style="width: 100px;">
            </td>
            <td>
                <input type="hidden" name="paramDesc" value="{{paramDesc}}" style="width: 100px;">{{paramDesc}}</td>
            <td>
                <input type="text" name="paramSql" value="{{paramSql}}" style="width: 100px;">
            </td>
            <td>
                <input type="text" name="paramExpect" value="{{paramExpect}}" style="width: 100px;">
            </td>
        </tr>
        {{/each}}
    </tbody>
</script>
<script>
seajs.use("script/autoManage/autoCaseTempMng", function(Query) {
    Query.init();
});
</script>
