<div class="row">
    <div class="col-md-3">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#controlTree" data-toggle="tab">选择功能点</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="controlTree">
                    <ul id="treeDemo" class="ztree"></ul>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-9">
        <div class="box">
            <div class="box-header">
                  <h5></h5>
                  <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                      </button>
                  </div>
            </div>  
            <div class="box-body">
                  <form id="JS_getCompInfoForm">
                    <div class="row">
                      <div class="col-md-3">
                          <div class="form-group input-group-sm">
                              <label>控件名称：</label>
                              <input type="text" class="form-control" id="ctrlName" name="ctrlName" value="" required="">
                          <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group input-group-sm">
                              <label>创建人:</label>
                              <input type="text" class="form-control" id="cearteName" name="creatorId" value="" required="">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group input-group-sm ">
                              <label>创建时间:</label>
                              <div class="form-inline">
                              <input type="text" class="form-control input-sm " name="time1" id="time1" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                              至:
                              <input type="text" class="form-control input-sm " name="time2" id="time2" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="box-footer">
                    <div class="text-center">
                      <button type="reset" class="btn btn-default" >重置</button>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <button type="button" class="btn btn-primary" data-toggle="modal" name="submit" id="queriesControl">查询</button>
                    </div>
                  </div>
                </form> 
            </div>
        </div>

        <div id="JS_getControlList" class="box" style="min-height: 100px"></div>
<!-- /.box -->
    </div>
</div>
<script>
    seajs.use("script/control/control.js", function(getContral) {
        getContral.init();
    });
</script>