<!--Page Start-->
<style type="text/css"> 
#Page_thirdSysManage .width-input-nomal {width: 165px;}
#Page_thirdSysManage .width-input-long {width: 432px;}
#Page_thirdSysManage .btn-center {text-align: center;}
#Page_thirdSysManage .btn-table-update {margin-right: 20px;}
#Page_thirdSysManage .btn-table-delete {margin-right: 20px;}
#Page_thirdSysManage .check-inline-label {display: block;float:left;margin-top: 10px;}
#Page_thirdSysManage .total-width {width: 860px;}
#Page_thirdSysManage .margin-onl {margin-left: 20px;margin-right: 20px;}
#Page_thirdSysManage .query-data-label {width: 80px;margin-right:10px;}
#Page_thirdSysManage .fist-text-label, .col2-sec-label{width: 90px;margin-left: 5px;}
#Page_thirdSysManage .col2-sec-label {margin-left: 273px;}
#Page_thirdSysManage .line-sen-top {margin-top: 15px;}
#Page_thirdSysManage .text-area-sty {width: 700px;vertical-align:middle; }
</style> 
<!-- 页面id -->
<div class="row" id="Page_thirdSysManage">
<div class="box box-primary">
	<div class="nav-tabs-custom">	
        <ul class="nav nav-tabs" role="tablist">  
			<li role="presentation" class="active"><a href="#thirdSysManage_qryByType" role="tab" data-toggle="tab">按分类查询</a></li>  
			<li role="presentation"><a href="#thirdSysManage_qryByCondition" role="tab" data-toggle="tab">按条件查询</a></li>  
		</ul> 
		<div class="tab-content">  
			<div role="tabpanel" class="tab-pane active" id="thirdSysManage_qryByType">
			    <form id="JS_querySysDomainTypeForm" class="form-horizontal">		
			        <div class="box-body">
			            <div class="col-md-12">
			                <div class="form-group form-inline" style="margin-bottom: 0">
			                	<div class="col-md-4" style="display: -webkit-inline-box;">
			                		<label class="control-label query-data-label">一级域:</label>
				                    <select name="idFirst" class="form-control select2 input-sm" data-url="getPrimaryDomainList" data-idkey="idFirst" data-namekey="name" data-subname="idSecond">
				                        <option value="">请选择</option>
				                    </select>
			                	</div>
			            		<div class="col-md-4" style="display: -webkit-inline-box;">
				                    <label class="control-label query-data-label">二级子域:</label>
				                    <select name="idSecond" class="form-control select2 input-sm" data-suburl="getSecondByFirst" data-idkey="idSecond" data-namekey="name">
				                        <option value="">请选择</option>
				                    </select>
			                	</div>
			            		<div class="col-md-4">
				                    <button type="button" class="btn btn-primary" style="margin-right:10px" data-toggle="modal" name="query">查询</button>
				                    <button type="button" class="btn btn-primary" name="apply">申请</button>
			                	</div>		
			                </div>             
			            </div>
			        </div>
		        </form>		        
			</div>  
 			<div role="tabpanel" class="tab-pane" id="thirdSysManage_qryByCondition">
				<form id="JS_querySysDomainConditionForm" class="form-horizontal">		
			        <div class="box-body">
			            <div class="col-md-12">
			                <div class="form-group form-inline">
			                	<div class="col-md-4">
				                    <label class="control-label query-data-label">系统名称:</label>
				                    <input name="name" type="text" class="form-control input-sm"></input>
			                	</div>
			            		<div class="col-md-4">
				                    <label class="control-label query-data-label">系统编号:</label> 
				                    <input name="idThird" type="text" class="form-control input-sm"></input>   
			                	</div>
			            		<div class="col-md-4">
				                    <button type="button" class="btn btn-primary" style="margin-right:10px" data-toggle="modal" name="query">查询</button>
				                    <button type="button" class="btn btn-primary" name="apply">申请</button>
			                	</div>	
			                </div>             
			            </div>
			        </div>
		        </form>		
			</div>
		</div> 
	</div>		   
</div>
<div class="box" id="JS_thirdSysMessageList">
    <div class="box-header" >
        <h3 class="box-title">系统信息列表</h3>
    </div>
    <div class="box-body" >
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="iCheckbox" width="15"></th>
                    <th style="text-align:center;min-width:120px">系统（三级）</th>
                    <th style="text-align:center;min-width:40px">英文简称</th>
                    <th style="text-align:center;">编号</th>
                    <th style="text-align:center;">系统功能描述</th>
                    <th style="text-align:center;">操作</th>
                </tr>
            </thead>
            <tbody name="content"></tbody>
        </table>
    </div>
    <div class="box-footer no-border">
        <div class="dataTables_paginate" style="text-align: center;" name="pagination"></div>
    </div> 
</div>

<!-- 申请页面 -->
<div class="modal fade" id="JS_thirdApplyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog total-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">系统（三级）信息申请</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
				<div class="box-body form-group form-inline" style="margin-bottom: 0px">
					<form id="JS_thirdApplyForm">
						<div class="col-md-12">
							<label class="control-label fist-text-label">名称<span style="color:red">*</span></label>
	   						<input name="name" type="text" class="form-control input-sm width-input-nomal"></input>
	  						<label class="control-label fist-text-label">英文简称</label>
							<input name="code" type="text" class="form-control input-sm width-input-nomal"></input>
					   	 	<label class="control-label fist-text-label">系统编号</label>
					   	 	<label class="form-control input-sm width-input-nomal" style="margin-bottom: 0">认定时分配</label>
							<input name="sysId" type="hidden" value="0"></input>
						</div>
						<div class="line-sen-top col-md-12">
							<label class="control-label fist-text-label">系统功能描述</label>
							<textarea type="textarea" name="systemFunction" cols="107" rows="4" class="form-control input-sm text-area-sty"></textarea>
						</div>
						<div id="updata-select" class="line-sen-top col-md-12 form-group">
						    <label class="control-label fist-text-label">一级域<span style="color:red">*</span></label>
                            <select name="idFirst" class="form-control select2 input-sm width-input-nomal" data-url="getPrimaryDomainList" data-idkey="idFirst" data-namekey="name" data-subname="idBelong">
                        		<option value="">请选择</option>
                    		</select>
                    		<label class="control-label col2-sec-label">二级子域<span style="color:red">*</span></label>
                    		<select name="idBelong"  class="form-control select2 input-sm width-input-nomal" data-suburl="getSecondByFirst" data-idkey="idSecond" data-namekey="name">
                        		<option value="">请选择</option>
                    		</select>
						</div>
						<div class="line-sen-top col-md-12">
						    <label class="control-label fist-text-label">等级信息<span style="color:red">*</span></label>
						    <select name="rankInfo"  class="form-control select2 input-sm width-input-nomal" data-url="rankInfoStatic" data-idkey="codeValue" data-namekey="codeName">
                        		<option value="">请选择</option>
                    		</select>
					   		<label class="control-label fist-text-label">责任部门</label>
     			    		<input name="department" class="form-control input-sm width-input-nomal"></input>
					   		<label class="control-label fist-text-label">责任人</label>
     			    		<input name="principal" class="form-control input-sm width-input-nomal"></input>    			    		
						</div>	
						<div class="line-sen-top col-md-12">
					   	    <label class="control-label fist-text-label">项目立项信息</label>
					   		<input name="projectInfo" type="text" class="form-control input-sm width-input-long"></input>
		                    <label class="control-label fist-text-label">开发厂商</label>
							<input name="developer" class="form-control input-sm width-input-nomal" ></input>
						</div>
						<div class="line-sen-top col-md-12">
					    	<label class="control-label fist-text-label">规划设计信息</label>
							<input name="designInfo" type="text" class="form-control input-sm width-input-long"></input>
					    	<label class="control-label fist-text-label">建设状态<span style="color:red">*</span></label>		    	
     			   			<select name="sysState" data-toggle="tooltip" title="系统属性值" class="form-control select2 input-sm" data-url="thirdSysState" data-idkey="codeValue" data-namekey="codeName" style="width: 113px">
     			   			</select>
     			   			<input type="text" class="form-control input-sm" data-toggle="tooltip" title="年份" name="ext2" onclick="WdatePicker({dateFmt:'yyyy'})" style="width: 49px"/> 
						</div>
						<div class="line-sen-top col-md-8">	    		    	
			    			<label class="control-label fist-text-label check-inline-label">分层层级<span style="color:red">*</span></label>        	
		    			   		<input style="margin-left:10px;" type="checkbox" name="hierarchy" value="SaaS"/><label data-toggle="tooltip" title="交互应用层" style="width:45px;">SaaS</label>
								<input style="margin-left:40px;" type="checkbox" name="hierarchy" value="IPaaS"/><label data-toggle="tooltip" title="应用集成平台服务层" style="width:45px;">IPaaS</label>
								<input style="margin-left:40px;" type="checkbox" name="hierarchy" value="DaaS"/><label data-toggle="tooltip" title="大数据模型层" style="width:45px;">DaaS</label>
								<input style="margin-left:40px;" type="checkbox" name="hierarchy" value="UPaaS"/><label data-toggle="tooltip" title="通用服务中心层" style="width:45px;">UPaaS</label>
								<br/>
								<input style="margin-left:10px;" type="checkbox" name="hierarchy" value="BPaaS"/><label data-toggle="tooltip" title="核心业务中心层" style="width:45px;">BPaaS</label>
								<input style="margin-left:40px;" type="checkbox" name="hierarchy" value="IaaS"/><label data-toggle="tooltip" title="基础设施服务层" style="width:45px;">IaaS</label>
								<input style="margin-left:40px;" type="checkbox" name="hierarchy" value="TPaaS"/><label data-toggle="tooltip" title="通用技术组件平台服务层" style="width:45px;">TPaaS</label>	
						</div>
						<div class="col-md-4" style="margin-top: 30px;">
							<label class="control-label" style="margin-right: 20px;">媒体</label>
							<label class="radio inline" style="width:60px"><input type="radio" value="app"  name="groupApply">APP端</label>
							<label class="radio inline" style="width:60px"><input type="radio" value="pc" checked="checked" name="groupApply">PC端</label>
						</div>
						<div class="form-group col-sm-8 line-sen-top">
		                    <label for="inputfile" class="col-sm-2  control-label">附件上传<span style="color:red">*</span></label>
							<input type="file" name="fileName"  class="col-sm-5">
						</div>
					</form>	
          	    </div>
          	</div>
            <div class="modal-footer btn-center">
         	    <button type="button" class="btn btn-primary" name="save">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>              
            </div>
        </div>
    </div>
</div>
<!-- 修改页面 -->
<div class="modal fade" id="JS_thirdUpdateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog total-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">系统（三级）信息修改</h4>
            </div>
            <div id="JS_updateModal" class="modal-body" style="padding-bottom: 0">
          	</div>
            <div class="modal-footer btn-center">
         	    <button type="button" class="btn btn-primary" name="save">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>              
            </div>
        </div>
    </div>
</div>
</div>

<!-- 修改页面模版 -->
<script id="TPL_thirdUpdateFrom" type="text/x-handlebars-template">
<div class="box-body form-group form-inline" style="margin-bottom: 0px">
	<form id = "JS_thirdUpdateForm">
	<div class="col-md-12">
		<label class="control-label fist-text-label">名称<span style="color:red">*</span></label>
	    <input name="name" type="text" class="form-control input-sm width-input-nomal" value="{{name}}"></input>
	    <label class="control-label fist-text-label">英文简称</label>
	    <input name="code" type="text" class="form-control input-sm width-input-nomal" value="{{code}}"></input>
	    <label class="control-label fist-text-label">系统编号<span style="color:red">*</span></label>
	    <input name="sysId" type="text" class="form-control input-sm width-input-nomal" value="{{idThird}}"></input>
	</div>
	<div class="line-sen-top col-md-12">
		<label class="control-label fist-text-label">系统功能描述</label>
		<textarea name="systemFunction" cols="107" rows="4" class="form-control input-sm text-area-sty">{{systemFunction}}</textarea>
	</div>
	<div class="line-sen-top col-md-12 form-group">
	    <label class="control-label fist-text-label">所属一级域</label>
		<input type="text" class="form-control input-sm width-input-nomal" readonly="readonly" value="{{idFirstName}}"></input>
		<label class="control-label fist-text-label">所属二级子域<span style="color:red">*</span></label>
		<select name="idBelong"  class="form-control select2 input-sm width-input-nomal" data-url="getSecondByFirst" data-idkey="idSecond" data-namekey="name">
            <option value="">请选择</option>
        </select>
        <label class="control-label fist-text-label">等级信息<span style="color:red">*</span></label>
		<select name="rankInfo"  class="form-control select2 input-sm width-input-nomal" data-url="rankInfoStatic" data-idkey="codeValue" data-namekey="codeName">
        	<option value="">请选择</option>
        </select>
	</div>
	<div class="line-sen-top col-md-12">
		<label class="control-label fist-text-label">责任部门</label>
     	<input name="department" type="text" class="form-control input-sm width-input-nomal" value="{{department}}"></input>
		<label class="control-label col2-sec-label">责任人</label>
     	<input name="principal" type="text" class="form-control input-sm width-input-nomal" value="{{principal}}"></input>
	</div>		
	<div class="line-sen-top col-md-12">
		<label class="control-label fist-text-label">项目立项信息</label>
		<input name="projectInfo" type="text" class="form-control input-sm width-input-long" value="{{projectInfo}}"></input>
		<label class="control-label fist-text-label">开发厂商</label>
     	<input name="developer" type="text" class="form-control input-sm width-input-nomal" value="{{developer}}"></input>
		<input type="hidden" name="onlysysId" value="{{onlysysId}}"></input>
		<input type="hidden" name="createDate" value="{{createDate}}"></input>
		<input type="hidden" name="modifyDate" value="{{modifyDate}}"></input>
	</div>
	<div class="line-sen-top col-md-12">
		<label class="control-label fist-text-label">规划设计信息</label>
		<input name="designInfo" type="text" class="form-control input-sm width-input-long" value="{{designInfo}}"></input>
		<label class="control-label fist-text-label">建设状态<span style="color:red">*</span></label>
     	<select name="sysState" data-toggle="tooltip" title="系统属性值" class="form-control select2 input-sm" data-url="thirdSysState" data-idkey="codeValue" data-namekey="codeName" style="width: 113px">
     	</select>
     	<input type="text" class="form-control input-sm" data-toggle="tooltip" title="年份" name="ext2" onclick="WdatePicker({dateFmt:'yyyy'})" style="width: 49px"/>
 	</div>
	</form>
	<div class="line-sen-top col-md-8">	    	
		<label class="control-label fist-text-label check-inline-label">分层层级<span style="color:red">*</span></label>        		
		<input style="margin-left:10px;" type="checkbox" name="hierarchysec" value="SaaS"/><label data-toggle="tooltip" title="交互应用层" style="width:45px;">SaaS</label>
		<input style="margin-left:40px;" type="checkbox" name="hierarchysec" value="IPaaS"/><label data-toggle="tooltip" title="应用集成平台服务层" style="width:45px;">IPaaS</label>
		<input style="margin-left:40px;" type="checkbox" name="hierarchysec" value="DaaS"/><label data-toggle="tooltip" title="大数据模型层" style="width:45px;">DaaS</label>
		<input style="margin-left:40px;" type="checkbox" name="hierarchysec" value="UPaaS"/><label data-toggle="tooltip" title="通用服务中心层" style="width:45px;">UPaaS</label>
		<br/>
		<input style="margin-left:10px;" type="checkbox" name="hierarchysec" value="BPaaS"/><label data-toggle="tooltip" title="核心业务中心层" style="width:45px;">BPaaS</label>
		<input style="margin-left:40px;" type="checkbox" name="hierarchysec" value="IaaS"/><label data-toggle="tooltip" title="基础设施服务层" style="width:45px;">IaaS</label>
		<input style="margin-left:40px;" type="checkbox" name="hierarchysec" value="TPaaS"/><label data-toggle="tooltip" title="通用技术组件平台服务层" style="width:45px;">TPaaS</label>
	</div>
	<div class="col-md-4" style="margin-top: 30px;">
		<label class="control-label" style="margin-right: 20px;">媒体</label>
		<label class="radio inline" style="width:60px"><input type="radio" value="app"  name="groupUpdate">APP端</label>
		<label class="radio inline" style="width:60px"><input type="radio" value="pc"  checked="checked" name="groupUpdate">PC端</label>
	</div>
</div>
</script>
	
<!-- 表格数据  -->
<script id="TPL_getThirdMessageList" type="text/x-handlebars-template">
{{#each this}}
<tr>
    <td><input type="radio" class="minimal" value="{{onlysysId}}" name="onlysysId"></td>
    <td>{{name}}</td>
    <td>{{code}}</td>
    <td>{{idThird}}</td>
    <td>{{systemFunction}}</td>
    <td><div style="white-space: nowrap"><button class="btn btn-primary btn-table-update" data-source="{{onlysysId}}">修改</button><button class="btn btn-primary btn-table-delete" data-source="{{onlysysId}}">删除</button></div></td>
</tr>
{{/each}}
</script>
<script>
seajs.use("script/sysArchiBaselineManage/archiGradingManage/thirdSysManage", function(init) {
	init.init();
});
</script>

