<!--Page Start-->
<style type="text/css"> 
#Page_thirdSysManage .width-input-167 {
	width: 167px;
}
#Page_thirdSysManage .width-input-400 {
	width: 400px;
}
#Page_thirdSysManage .btn-center {
 text-align: center;
}
#Page_thirdSysManage .btn-table-update {
	margin-right: 20px;
}
#Page_thirdSysManage .btn-table-delete {
	margin-right: 20px;
}
#Page_thirdSysManage .check-inline-label {
	display: block;
	float:left;
	margin-top: 10px;
}
#Page_thirdSysManage .check-inline {
	display: block;
}
#Page_thirdSysManage .total-width {
	width: 850px;
}
#Page_thirdSysManage .first-name-label {
 margin-left: 40px; 
 margin-right: 20px;
}
#Page_thirdSysManage .second-label-depart {
 margin-left: 30px;
 margin-right: 20px;
}
#Page_thirdSysManage .second-label-select {
 margin-left: 30px;
 margin-right: 45px;
}
#Page_thirdSysManage .second-label {
 margin-left: 260px;
 margin-right: 20px;
}
#Page_thirdSysManage .margin-onl {
 margin-left: 20px;
 margin-right: 20px;
}
#Page_thirdSysManage .fist-text-label {
 margin-right: 5px;
}
#Page_thirdSysManage .margin-top-20 {
 margin-top: 20px;
}
#Page_thirdSysManage .text-area-sty {
 margin-top:10px;
 width: 680px;
 vertical-align:middle; 
}
</style> 
<!-- 页面id -->
<div class="row" id="Page_thirdSysManage">
<div class="box box-primary">
    <form id="JS_querySysDomainForm" class="form-horizontal">
        <div class="box-header with-border">
            <h3 class="box-title">按条件查询</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-md-12">
                <div class="form-group form-inline">
                    <label class="control-label margin-onl">一级域:</label>
                    <select name="idFirst" class="form-control select2 input-sm" data-url="getPrimaryDomainList" data-idkey="idFirst" data-namekey="name" data-subname="idSecond" style="width: 160px">
                        <option value="">请选择</option>
                    </select>
                    <label class="control-label margin-onl">二级子域:</label>
                    <select name="idSecond"  class="form-control select2 input-sm" data-suburl="getSecondByFirst" data-idkey="idSecond" data-namekey="name" style="width: 160px">
                        <option value="">请选择</option>
                    </select>
                    <button type="button" class="btn btn-primary margin-onl" data-toggle="modal" name="query">查询</button>
                    <button type="button" class="btn btn-primary margin-onl" name="apply">申请</button>
                </div>             
            </div>
        </div>
    </form>
</div>
<div class="box" id="JS_thirdSysMessageList">
    <div class="box-header" >
        <h3 class="box-title">系统信息列表</h3>
    </div>
    <div class="box-body" >
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="iCheckbox" width="15"></th>
                    <th>系统（三级）</th>
                    <th>别名</th>
                    <th>编号</th>
                    <th>系统功能描述</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody name="content"></tbody>
        </table>
    </div>
    <div class="box-footer no-border">
        <div class="dataTables_paginate" name="pagination"></div>
    </div> 
</div>

<!-- 申请页面 -->
<div class="modal fade" id="JS_thirdApplyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">系统（三级）信息申请</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
				<div class="box-body form-group form-inline total-width">
					<form id = "JS_thirdApplyForm">
						<div class="col-md-12">
							<label class="control-label first-name-label">名称</label>
	   						<input name="name" type="text" class="form-control input-sm width-input-167"></input>
	  						<label class="control-label margin-onl">简称</label>
							<input name="code" type="text" class="form-control input-sm width-input-167"></input>
					   	 	<label class="control-label margin-onl">系统编号</label>
							<input name="sysId" type="text" class="form-control input-sm width-input-167"></input>
						</div>
						<div class="margin-top-20 col-md-12">
							<label class="control-label fist-text-label">系统功能描述</label>
							<textarea name="systemFunction" cols="107" rows="4" class="form-control input-sm text-area-sty"></textarea>
						</div>
						<div id="updata-select" class="margin-top-20 col-md-12 form-group">
	    					<label class="control-label fist-text-label">所属二级子域</label>
        					<select name="idBelong"  class="form-control select2 input-sm" data-url="getSecondDomainList" data-idkey="idSecond" data-namekey="name" style="width: 170px">
         					</select>
         					<label class="control-label second-label">等级信息</label>
        			 		<input name="rankInfo" type="text" class="form-control input-sm width-input-167" ></input>
						</div>
						<div class="margin-top-20 col-md-12">
					   	    <label class="control-label fist-text-label">项目立项信息</label>
					   		<input name="projectInfo" type="text" class="form-control input-sm width-input-400"></input>
					   		<label class="control-label second-label-depart">责任部门</label>
     			    		<input name="department" type="text" class="form-control input-sm width-input-167"></input>
						</div>
						<div class="margin-top-20 col-md-12">
					    	<label class="control-label fist-text-label">规划设计信息</label>
							<input name="designInfo" type="text" class="form-control input-sm width-input-400"></input>
					    	<label class="control-label second-label-select">状态</label>
     			   			<select name="sysState"  class="form-control select2 input-sm" data-url="thirdSysState" data-idkey="codeValue" data-namekey="codeName" style="width: 170px">
     			   			</select>
						</div>
					</form>	
					<div class="margin-top-20 col-md-12">	    		    	
		    			<label class="control-label fist-text-label check-inline-label">分层层级</label>        
		     			<div class="check-inline">				
	    			   		<input style="margin-left:40px;" type="checkbox" name="hierarchy" value="SaaS"/><label style="width:45px;">SaaS</label>
							<input style="margin-left:40px;" type="checkbox" name="hierarchy" value="IPaaS"><label style="width:45px;">IPaaS</label>
							<input style="margin-left:40px;" type="checkbox" name="hierarchy" value="DaaS"><label style="width:45px;">DaaS</label>
							<input style="margin-left:40px;" type="checkbox" name="hierarchy" value="UPaaS"><label style="width:45px;">UPaaS</label>
							<br/>
							<input style="margin-left:40px;" type="checkbox" name="hierarchy" value="BPaaS"><label style="width:45px;">BPaaS</label>
							<input style="margin-left:40px;" type="checkbox" name="hierarchy" value="PaaS"><label style="width:45px;">PaaS</label>
							<input style="margin-left:40px;" type="checkbox" name="hierarchy" value="IaaS"><label style="width:45px;">IaaS</label>
							<input style="margin-left:40px;" type="checkbox" name="hierarchy" value="TPaaS"><label style="width:45px;">TPaaS</label>
						</div>						
					</div>
          	    </div>
          	</div>
            <div class="modal-footer btn-center">
         	    <button type="button" class="btn btn-primary" name="save">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>              
            </div>
        </div>
    </div>
</div>
<!-- 修改页面 -->
<div class="modal fade" id="JS_thirdUpdateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">系统（三级）信息修改</h4>
            </div>
            <div id="JS_updateModal" class="modal-body" style="padding-bottom: 0">
          	</div>
            <div class="modal-footer btn-center">
         	    <button type="button" class="btn btn-primary" name="save">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>              
            </div>
        </div>
    </div>
</div>
</div>

<!-- 修改页面模版 -->
<script id="TPL_thirdUpdateFrom" type="text/x-handlebars-template">
<div class="box-body form-group form-inline total-width">
	<form id = "JS_thirdUpdateForm">
	<div class="col-md-12">
		<label class="control-label first-name-label">名称</label>
	    <input name="name" type="text" class="form-control input-sm width-input-167" value="{{name}}"></input>
	    <label class="control-label margin-onl">简称</label>
	    <input name="code" type="text" class="form-control input-sm width-input-167" value="{{code}}" ></input>
	    <label class="control-label margin-onl">系统编号</label>
	    <input name="sysId" type="text" class="form-control input-sm width-input-167" value="{{idThird}}"></input>
	</div>
	<div class="margin-top-20 col-md-12">
		<label class="control-label fist-text-label">系统功能描述</label>
		<textarea name="systemFunction" cols="107" rows="4" class="form-control input-sm text-area-sty">{{systemFunction}}</textarea>
	</div>
	<div id="updata-select" class="margin-top-20 col-md-12 form-group">
	    <label class="control-label fist-text-label">所属二级子域</label>
		<input type="text" class="form-control input-sm" readonly="readonly" value="{{idSecondName}}"></input>
		<input name="idBelong" type="hidden" value="{{idSecond}}"></input>
        <label class="control-label second-label">等级信息</label>
        <input name="rankInfo" type="text" class="form-control input-sm width-input-167" value="{{rankInfo}}"></input>
	</div>
	<div class="margin-top-20 col-md-12">
		<label class="control-label fist-text-label">项目立项信息</label>
		<input name="projectInfo" type="text" class="form-control input-sm width-input-400" value="{{projectInfo}}"></input>
		<label class="control-label second-label-depart">责任部门</label>
     	<input name="department" type="text" class="form-control input-sm width-input-167" value="{{department}}"></input>
		<input type="hidden" name="onlysysId" value="{{onlysysId}}"></input>
		<input type="hidden" name="createDate" value="{{createDate}}"></input>
		<input type="hidden" name="modifyDate" value="{{modifyDate}}"></input>
	</div>
	<div class="margin-top-20 col-md-12">
		<label class="control-label fist-text-label">规划设计信息</label>
		<input name="designInfo" type="text" class="form-control input-sm width-input-400" value="{{designInfo}}"></input>
		<label class="control-label second-label-select">状态</label>
     	<select name="sysState"  class="form-control select2 input-sm" data-url="thirdSysState" data-idkey="codeValue" data-namekey="codeName" style="width: 170px">
     	</select>
	</div>
	</form>
	<div class="margin-top-20 col-md-12">	    	
		<label class="control-label fist-text-label check-inline-label">分层层级</label>        
		<div class="check-inline">				
	       	<input style="margin-left:40px;" type="checkbox" name="hierarchysec" value="SaaS"/><label style="width:45px;">SaaS</label>
			<input style="margin-left:40px;" type="checkbox" name="hierarchysec" value="IPaaS"><label style="width:45px;">IPaaS</label>
			<input style="margin-left:40px;" type="checkbox" name="hierarchysec" value="DaaS"><label style="width:45px;">DaaS</label>
			<input style="margin-left:40px;" type="checkbox" name="hierarchysec" value="UPaaS"><label style="width:45px;">UPaaS</label>
			<br/>
			<input style="margin-left:40px;" type="checkbox" name="hierarchysec" value="BPaaS"><label style="width:45px;">BPaaS</label>
			<input style="margin-left:40px;" type="checkbox" name="hierarchysec" value="PaaS"><label style="width:45px;">PaaS</label>
			<input style="margin-left:40px;" type="checkbox" name="hierarchysec" value="IaaS"><label style="width:45px;">IaaS</label>
			<input style="margin-left:40px;" type="checkbox" name="hierarchysec" value="TPaaS"><label style="width:45px;">TPaaS</label>
		</div>
	</div>
</div>
</script>
<!--   <input type="hidden" value="{{caseId}}" name="caseId">
 -->
 <!-- 表格数据  -->
<script id="TPL_getSysMessageList" type="text/x-handlebars-template">
{{#each this}}
<tr>
    <td><input type="radio" class="minimal" value="{{onlysysId}}" name="onlysysId"></td>
    <td>{{name}}</td>
    <td>{{code}}</td>
    <td>{{idThird}}</td>
    <td>{{systemFunction}}</td>
    <td><button class="btn btn-primary btn-table-update" temp="{{onlysysId}}">修改</button><button class="btn btn-primary btn-table-delete" temp="{{onlysysId}}">删除</button></td>
</tr>
{{/each}}
</script>
<script>
seajs.use("script/sysArchiBaselineManage/archiGradingManage/thirdSysManage", function(init) {
	init.init();
});
</script>

