<!--Page Start-->
<div class="row" id="Page_machine">
    <div class="col-md-12">
        <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">条件查询</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
              </div>
              <div class="box-body">
        	      <form id="JS_queryMachineForm" class="form-horizontal" role = "form">

        	      </form>
              </div>
        </div>

        <div class="box" id="JS_getMachineList">
            <div class="box-header">
                <h3 class="box-title">机器列表</h3>
                <div class="box-tools">
                    <button type="button" class="btn btn-primary" data-toggle="modal"  id="JS_addMachine"><!-- <i class="fa fa-plus"></i> --> 新增机器</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" id="JS_deleteMachine"><!-- <i class="fa fa-plus"></i> --> 删除机器</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" id="JS_connectEnvironment"><!-- <i class="fa fa-plus"></i> --> 关联环境</button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="iCheckbox" width="15"></th>
                            <th>IP</th>
                            <th>机器名称</th>
                            <th>机器状态</th>
                            <th style="display:none;">账号</th>
                            <th style="display:none;">密码</th>
                            <th style="display:none;">请求时间</th>
                            <th style="display:none;">任务ID</th>
                        </tr>
                    </thead>
                    <tbody name="content"></tbody>
                </table>
            </div>
            <div class="box-footer no-border">
                <div class="dataTables_paginate" name="pagination"></div>
            </div>
        </div>
    </div>
</div>

<!-- 弹框，新增 -->
<div class="modal fade" id="JS_addMachineInfoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="formName" class="modal-title">新增机器</h4>
            </div>
            <div class="modal-body">
                <form id="JS_addMachineInfoForm">

                </form>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-default pull-left" id="JS_addMachineInfoReset" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="JS_addMachineInfoSubmit">确认</button>
            </div>
        </div>
    </div>
</div>

<!-- 弹框，关联 -->
<div class="modal fade" id="Modal_connectEnvironmentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="formName" class="modal-title">关联环境</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box" id="JS_getEnvironmentList">
                            <div class="box-header">
                                <h3 class="box-title">环境列表</h3>
                                <div class="box-tools">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" id="JS_connectEnvironmentSubmit"><!-- <i class="fa fa-plus"></i> --> 关联机器</button>
                                </div>
                            </div>
                            <div class="box-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="iCheckbox" width="15"></th>
                                            <th>系统大类</th>
                                            <th>环境名称</th>
                                            <th>环境地址</th>
                                            <th style="display:none;">测试数据库</th>
                                            <th style="display:none;">地市</th>
                                            <th style="display:none;">所处中心</th>
                                            <th style="display:none;">环境类型</th>
                                            <th style="display:none;">执行环境</th>
                                            <th style="display:none;">更新时间</th>
                                            <th style="display:none;">登录账号</th>
                                            <th style="display:none;">登录密码</th>
                                            <th style="display:none;">数据库账号</th>
                                            <th style="display:none;">数据库密码</th>
                                            <th style="display:none;">SVN地址</th>
                                            <th style="display:none;">SVN账号</th>
                                            <th style="display:none;">SVN密码</th>
                                        </tr>
                                    </thead>
                                    <tbody name="content"></tbody>
                                </table>
                            </div>
                            <div class="box-footer no-border">
                                <div class="dataTables_paginate" name="pagination"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box" id="JS_getRelaEnvironmentList">
                            <div class="box-header">
                                <h3 class="box-title">已关联环境列表</h3>
                                <div class="box-tools">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" id="JS_deleteConnectEnvironment" name="del"><!-- <i class="fa fa-plus"></i> --> 删除关联</button>
                                </div>
                            </div>
                            <div class="box-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="iCheckbox" width="15"></th>
                                            <th style="display:none;">>系统大类</th>
                                            <th>环境名称</th>
                                            <th>环境地址</th>
                                            <th style="display:none;">测试数据库</th>
                                            <th style="display:none;">地市</th>
                                            <th style="display:none;">所处中心</th>
                                            <th style="display:none;">环境类型</th>
                                            <th style="display:none;">执行环境</th>
                                            <th style="display:none;">更新时间</th>
                                            <th style="display:none;">登录账号</th>
                                            <th style="display:none;">登录密码</th>
                                            <th style="display:none;">数据库账号</th>
                                            <th style="display:none;">数据库密码</th>
                                            <th style="display:none;">SVN地址</th>
                                            <th style="display:none;">SVN账号</th>
                                            <th style="display:none;">SVN密码</th>
                                        </tr>
                                    </thead>
                                    <tbody  name="content"></tbody>
                                </table>
                            </div>
                            <div class="box-footer no-border">
                                <div class="dataTables_paginate" name="pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#machineTab_1" data-toggle="tab" aria-expanded="false">环境列表</a>
                        </li>
                        <li class=""><a href="#machineTab_2" data-toggle="tab" aria-expanded="false">已关联环境列表</a></li>
                    </ul>
                    <div class="tab-content">
                        tab页签1
                        <div class="tab-pane active" id="machineTab_1">
                            <div class="row">
                                <div class="box" id="">
                                    <div class="box-header">
                                        <div class="box-title">环境列表</div>
                                        <div class="box-tools">
                                            <button type="button" class="btn btn-primary" data-toggle="modal" id="JS_connectEnvironmentSubmit"><i class="fa fa-plus"></i> 关联环境</button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="min-height: 100px;" id="JS_connectEnvironmentList"></div>
                                </div>
                            </div>
                        </div>
                        tab页签2
                        <div class="tab-pane" id="machineTab_2">
                            <div class="row">
                                <div class="box" id="">
                                    <div class="box-header">
                                        <h3 class="box-title">已关联环境列表</h3>
                                        <div class="box-tools">
                                            <button type="button" class="btn btn-primary" data-toggle="modal" id="JS_deleteConnectEnvironment" name="del"><i class="fa fa-plus"></i> 删除关联</button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="min-height: 100px;" id="JS_getRelaEnvironmentList"></div>
                                </div>
                            </div>
                        </div>
                        /.tab-pane
                    </div>
                    /.tab-content
                </div> -->
            </div>
            <!-- <div class="modal-footer">
                <button type="reset" class="btn btn-default pull-left" id="JS_connectEnvironmentReset" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="JS_connectEnvironmentSubmit">确认</button>
            </div> -->
        </div>
    </div>
</div>

<!-- handlebars/机器列表 -->
<script id="TPL_getMachineList" type="text/x-handlebars-template">
    {{#each this}}
        <tr>
            <td><input type="radio" class="minimal" value="{{machineId}}" name="machineId"></td>
            <td>{{machineIp}}</td>
            <td>{{machineName}}</td>
            <td>{{statuses status}}</td>
            <td style="display:none;">{{machineAccount}}</td>
            <td style="display:none;">{{machinePassword}}</td>
            <td style="display:none;">{{requestTime}}</td>
            <td style="display:none;">{{taskId}}</td>
        </tr>
    {{/each}}
</script>
<!-- handlebars/环境列表 -->
<script id="TPL_getEnvironmentList" type="text/x-handlebars-template">
    {{#each this}}
        <tr>
            <td><input type="checkbox" class="minimal" value="{{envId}}" name="envId"></td>
            <td>{{sysName}}</td>
            <td>{{envName}}</td>
            <td>{{envUrl}}</td>
            <td style="display:none;">{{database}}</td>
            <td style="display:none;">{{regionId}}</td>
            <td style="display:none;">{{soId}}</td>
            <td style="display:none;">{{envTypes envType}}</td>
            <td style="display:none;">{{runEnvs runEnv}}</td>
            <td style="display:none;">{{updateTime}}</td>
            <td style="display:none;">{{sysAccount}}</td>
            <td style="display:none;">{{sysPassword}}</td>
            <td style="display:none;">{{svnUrl}}</td>
            <td style="display:none;">{{svnAccount}}</td>
            <td style="display:none;">{{synPassword}}</td>
            <td style="display:none;">{{dbAccount}}</td>
            <td style="display:none;">{{dbPassword}}</td>
        </tr>
    {{/each}}
</script>
<!-- handlebars/已关联环境列表 -->
<script id="TPL_getRelaEnvironmentList" type="text/x-handlebars-template">
    {{#each this}}
        <tr>
            <td><input type="checkbox" class="minimal" value="{{envId}}" name="envId"></td>
            <td style="display:none;">>{{sysName}}</td>
            <td>{{envName}}</td>
            <td>{{envUrl}}</td>
            <td style="display:none;">{{database}}</td>
            <td style="display:none;">{{regionId}}</td>
            <td style="display:none;">{{soId}}</td>
            <td style="display:none;">{{envTypes envType}}</td>
            <td style="display:none;">{{runEnvs runEnv}}</td>
            <td style="display:none;">{{updateTime}}</td>
            <td style="display:none;">{{sysAccount}}</td>
            <td style="display:none;">{{sysPassword}}</td>
            <td style="display:none;">{{svnUrl}}</td>
            <td style="display:none;">{{svnAccount}}</td>
            <td style="display:none;">{{synPassword}}</td>
            <td style="display:none;">{{dbAccount}}</td>
            <td style="display:none;">{{dbPassword}}</td>
        </tr>
    {{/each}}
</script>

<script>
    seajs.use("script/machine/machine", function(machine) {
        machine.init();
    });
</script>