<div class="box">
    <form id="Js_queryPerTaskForm">
        <div class="box-header with-border">
            <h3 class="box-title">按条件查询</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>变更计划名称</label>
                        <select name="onlinePlan" class="form-control input-sm" data-url="getOnlinePlanList" data-idkey="onlinePlan" data-namekey="onlinePlanName">
                                    <option value="">请选择</option>
                                </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>发布任务名称</label>
                        <input name="subTaskName" class="form-control input-sm">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>起始时间</label>
                        <input type="text" class="form-control input-sm " name="time1" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>终止时间</label>
                        <input type="text" class="form-control input-sm " name="time1" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="text-center">
                <button type="reset" class="btn btn-default">重置</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
            </div>
        </div>
    </form>
</div>
<div class="box" style="min-height: 100px">
    <div class="box-header">
        <h3 class="box-title">非功能任务展示</h3>
        <form>
                        <div class="form-group form-inline">
                            <label>选择文件：</label>
                            <input type="text" class="form-control input-sm" name="fileName">
                            <button type="reset" class="btn btn-default" name="reset">上传文档</button>
                        </div>
                    </form>
        <div class="box-tools">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" id="JS_synTestResults"><i class="fa fa-share-alt"></i>同步测试结果</button>
                <button type="button" class="btn btn-success" id="Js_queTestResults"><i class="fa fa-hourglass-end"></i>查看测试结果</button>
            </div>
        </div>
    </div>
    <div id="Js_perTaskList" class="box-body" style="min-height: 100px;">
        <div style="text-align: center; padding: 50px 0;">
            <p style="font-size: 38px;"><i class="fa fa-hourglass-1  text-gray"></i></p>
            <p style="color: #333;"><span>数据加载中，请稍后...</span></p>
        </div>
    </div>
</div>
<div class="box" style="min-height: 100px">
    <div class="box-header">
        <h3 class="box-title">关联接口列表</h3>
        <div class="box-tools">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" id="Js_savInMan"><i class="fa fa-info"></i> 保存测试人员</button>
            </div>
        </div>
    </div>
    <div id="Js_interfaceList" class="box-body" style="min-height: 100px;">
        <div style="text-align: center; padding: 50px 0;">
            <p style="font-size: 38px;"><i class="fa fa-hourglass-1  text-gray"></i></p>
            <p style="color: #333;"><span>数据加载中，请稍后...</span></p>
        </div>
    </div>
</div>
<!-- 查看自动化执行结果详细信息弹出框 -->
<div class="modal fade" id="modal_getTestResults">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">性能测试结果展示</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                        <div class="box-tools">
                            <div class="btn-group">
                            	<button type="button" class="btn btn-danger" id="JS_delTR"><i class="fa fa-remove"></i> 删除选中明细</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" id="Js_savTR">保存测试结果</button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body" id="Js_perTaskProcessList" style="min-height:100px;">
                        <div style="text-align: center; padding: 50px 0;">
                            <p style="font-size: 38px;"><i class="fa fa-hourglass-1  text-gray"></i></p>
                            <p style="color: #333;"><span>数据加载中，请稍后...</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="TPL_perTaskList" type="text/x-handlebars-template">
    <table class="table table-condensed table-hover" style="width: 2000px;">
        <thead>
            <tr>
                <th class="iCheckbox"></th>
                <th>变更计划名称</th>
                <th>任务名称</th>
                <th>子任务名称</th>
                <th>子任务类型</th>
                <th>子任务状态</th>
                <th>关联用例集</th>
                <th>分派人</th>
                <th>分派时间</th>
                <th>更新时间</th>
                <th>完成时间</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
            <tr>
                <td>
                    <input type="radio" class="minimal" value="{{taskId}}" name="taskId">
                </td>
                <td>
                    <input type="hidden" name="onlinePlanId" value="{{onlinePlanId}}">{{onlinePlanName}}</td>
                <td>
                    <input type="hidden" name="taskName" value="{{taskName}}">{{taskName}}</td>
                <td>
                    {{subTaskName}}</td>
                <td>
                    <input type="hidden" name="taskType" value="{{taskType}}">{{transformatTaskType taskType}}</td>
                <td>
                    <input type="hidden" name="state" value="{{state}}">{{transformatState state}}</td>
                <td>
                    <input type="hidden" name="assigId" value="{{assignId}}">{{assignName}}</td>
                <td>{{dealDate}}</td>
                <td>{{doneDate}}</td>
                <td>{{finishDate}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
<script id="TPL_interfaceList" type="text/x-handlebars-template">
    <table class="table table-condensed table-hover" style="width: 2000px;">
        <thead>
            <tr>
                <th class="iCheckbox"></th>
                <th>接口编号</th>
                <th>接口名称</th>
                <th>接口服务类型</th>
                <th>测试人员</th>
                <th>脚本执行时长（分）</th>
                <th>执行结果</th>
                <th>版本更新前生产性能数据</th>
                <th>版本更新后生产性能数据</th>
                <th>测试结论是否拟合</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
            <tr>
                <td>
                    <input type="checkbox" class="minimal" value="{{resultId}}" name="resultId">
                </td>
                <td>
                    <input type="hidden" name="serviceId" value="{{interId}}">{{interId}}</td>
                <td>
                    <input type="hidden" name="serviceName" value="{{interCode}}">{{interCode}}</td>
                <td>
                    {{caseType}}</td>
                <td>
                    <select name="operatId" class="form-control input-sm" data-url="getDealOpIdList" data-idkey="dealOpId" data-namekey="dealOpName">
                                                    <option value="">请选择</option>
                                                </select></td>
                <td>
                    <input type="hidden" name="totalTime" value="{{totalTime}}">{{totalTime}}</td>
                <td>
                    <input type="hidden" name="runResult" value="{{runResult}}">{{runResult}}</td>
                <td>{{bfprodData}}</td>
                <td>{{afprodData}}</td>
				<td>{{isMatching}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
<script id="TPL_perTaskProcessList" type="text/x-handlebars-template">
    <table class="table table-condensed  table-bordered table-hover"  style="width: 3500px;">
        <thead>
            <tr>
                <th class="iCheckbox"></th>
                <th style="width: 180px;">备注</th>
                <th>接口编号</th>
                <th>接口名称</th>
                <th>接口版本号</th>
                <th>执行时间</th>
                <th>执行开始时间</th>
                <th>执行结束时间</th>
                <th>压力持续时间</th>
                <th>是否是新接口</th>
                <th>并发数</th>
                <th>场景</th>
                <th>测试轮数</th>
                <th>最小响应时间</th>
                <th>平均响应时间</th>
                <th>最大响应时间</th>
                <th>标准偏差</th>
                <th>90%响应时间</th>
                <th>通过数</th>
                <th>失败数</th>
                <th>停止数</th>
                <th>最小事物数</th>
                <th>平均事物数</th>
                <th>最大事物数</th>
                <th>总吞吐量/分钟</th>
                <th>CPU使用率</th>
                <th>内存使用率</th>
                <th>JAVA方法执行时间</th>
                <th>SQL语句执行时间</th>
                <th>测试结论</th>
                <th>测试不通过原因</th>
                <th>调用量</th>
                <th>生产标准</th>
                <th>验收环境标准</th>
                <th>测试环境</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
            <tr>
                <td><input type="checkbox" class="minimal" value="{{resultId}}" name="resultId"></td>
                <td><input type="text" name="remark" value="{{remark}}"></td>
                <td>{{infCode}}</td>
                <td>{{infName}}</td>
                <td>{{ver}}</td>
                <td>{{exdate}}</td>
                <td>{{exstarttime}}</td>
                <td>{{exendtime}}</td>
                <td>{{durtme}}</td>
                <td>{{isnew}}</td>
                <td>{{curnum}}</td>
                <td>{{scene}}</td>
                <td>{{testtimes}}</td>
                <td>{{rtmin}}</td>
                <td>{{rtavg}}</td>
                <td>{{rtmax}}</td>
                <td>{{stdDeviation}}</td>
                <td>{{rt90Percent}}</td>
                <td>{{lrpass}}</td>
                <td>{{lrfail}}</td>
                <td>{{lrstop}}</td>
                <td>{{tpsmin}}</td>
                <td>{{tpsavg}}</td>
                <td>{{tpsmax}}</td>
                <td>{{throughput}}</td>
                <td>{{cpuusagemax}}</td>
                <td>{{memusagemax}}</td>
                <td>{{functionextime}}</td>
                <td>{{sqlextime}}</td>
                <td>{{conclusion}}</td>
                <td>{{failreason}}</td>
                <td>{{infcallvolunes}}</td>
                <td>{{prodstd}}</td>
                <td>{{accstd}}</td>
                <td>{{testevn}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <!-- /.box-body -->
</script>
<script>
seajs.use("script/netFlowManage/taskProcess/perTaskProcess.js", function(Query) {
    Query.init();
});
</script>
