<div class="row" id="Page_AsciptionView">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                                按条件查询
                            </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <form id="JS_queryCaseTempForm">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>系统名称</label>
                                <input class="form-control input-sm" name="sysName" placeholder="请输入系统名称" />
                            </div>
                        </div>
                        <div class="col-md-2 .col-md-offset-4">
                            <div class="form-group">
                                <label>重要级别</label>
                                <select name="importantClass" class="form-control">
                                    <option value="">
                                        请选择
                                    </option>
                                    <option value="1">
                                        一般系统
                                    </option>
                                    <option value="2">
                                        核心系统
                                    </option>
                                    <option value="3">
                                        重要系统
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>归属域</label>
                                <select name="sysOfDomain" class="form-control">
                                    <option value="">
                                        请选择
                                    </option>
                                    <option value="1">
                                        —全部—
                                    </option>
                                    <option value="2">
                                        基础域
                                    </option>
                                    <option value="3">
                                        电子渠道
                                    </option>
                                    <option value="4">
                                        BOSS
                                    </option>
                                    <option value="5">
                                        CRM
                                    </option>
                                    <option value="6">
                                        渠道接入
                                    </option>
                                    <option value="7">
                                        接口域
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="text-center">
                        <button type="reset" class="btn btn-default">重置</button> &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="box" id="JS_getSysInfoList" style="min-height:100px;">
            <div class="box-header ">
                <h3 class="box-title">系统详细信息列表</h3>
                <div class="box-tools">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" name="add"><i class="fa fa-plus"></i> 添加</button>
                        <button type="button" class="btn btn-danger" name="del"><i class="fa fa-remove"></i> 删除</button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover" id="AsciptionListTable">
                    <thead>
                        <tr>
                            <th class="iCheckbox" width="15"></th>
                            <th>系统名称</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>归属系统</th>
                        </tr>
                    </thead>
                    <tbody name="content"></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <div class="dataTables_paginate" name="pagination"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- 新增弹框 -->
<div class="modal fade" id="JS_addSysInfoModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">系统大类</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <form id="JS_addSysInfo" class="form-inline">
                    <div class="box-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>系统名称</label>
                                        <input type="email" class="col-xs-8 form-control " name="sysName" placeholder="请输入系统名称" required />
                                    </div>
                                </div>
                                <div class="col-md-3 col-md-offset-2  ">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>重要级别</label>
                                        <select name="importantClass" class="form-control " required>
                                            <option value="">
                                                请选择
                                            </option>
                                            <option value="1">
                                                一般系统
                                            </option>
                                            <option value="2">
                                                核心系统
                                            </option>
                                            <option value="3">
                                                重要系统
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3  ">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>归属域</label>
                                        <select name="sysOfDomain" class="form-control " required>
                                            <option value="">
                                                请选择
                                            </option>
                                            <option value="1">
                                                —全部—
                                            </option>
                                            <option value="2">
                                                基础域
                                            </option>
                                            <option value="3">
                                                电子渠道
                                            </option>
                                            <option value="4">
                                                BOSS
                                            </option>
                                            <option value="5">
                                                CRM
                                            </option>
                                            <option value="6">
                                                渠道接入
                                            </option>
                                            <option value="7">
                                                接口域
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                            <div class="row">
                                <div class="form-group col-sm-11">
                                    <label class="col-sm-5 ">备注：</label>
                                    <textarea name="remarks" class="col-sm-7 form-control" style="width: 100%" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary pull-right" id="addSysInfoButton" name="addSysInfoButton">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<script id="TPL_asciptionManageTemp" type="text/x-handlebars-template">
    {{#each this}}
    <tr>
        <td>
            <input type="radio" class="minimal" value="{{sysId}}" name="sysId">
            <td>{{sysName}}
                <input type="hidden" value="{{sysId}}" name="sysId">
            </td>
            <td>{{createTime}}</td>
            <td>{{updateTime}}</td>
            <td>{{transformatImc importantClass}}</td>
            <td>{{firm}}</td>
            <td>{{transformatDomain sysOfDomain}}</td>
            <td>{{remarks}}</td>
    </tr>
    {{/each}}
</script>
<script type="text/javascript">
//<![CDATA[
seajs.use("script/dataMaintenance/ascriptionManage", function(Init) {
    Init.init();
});
//]]>
</script>
