<div class="row" id="Page_sonSysView">
        <div class="col-md-12">
            <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                                按条件查询
                            </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                                    <form id="JS_queryCaseTempForm">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>子系统名称</label>
                                    <input type="email" class="form-control input-sm" name="sysName" placeholder="请输入系统名称">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>归属系统</label>
                                    <select name="sysId" class="form-control" data-url="getSysList" data-idkey="sysId">
                                        <option value="">
                                            请选择
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="text-center">
                            <button type="reset" class="btn btn-default">重置</button> &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box" id="JS_getsubInfoList" style="min-height:100px;">
                <div class="box-header ">
                    <h3 class="box-title">子系统详细信息列表</h3>
                    <div class="box-tools">
                            <button type="button" class="btn btn-primary" name="add"><i class="fa fa-plus"></i> 添加</button>
                            <button type="button" class="btn btn-primary" name="del"><i class="fa fa-remove"></i> 删除</button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover" id="AsciptionListTable">
                        <thead>
                            <tr>
                                <th class="iCheckbox" width="15"></th>
                                <th>子系统名称</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                                <th>归属系统</th>
                            </tr>
                        </thead>
                          <tbody name="content"></tbody>
                      </table>
<div class="box-footer no-border">
                <div class="dataTables_paginate" name="pagination"></div>
            </div>
                </div>
            </div>
        </div>
</div>
<!-- Modal -->
<!-- 新增弹框 -->
<div class="modal fade" id="Modal_addsubSysInfoModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">
                            系统子类
                        </h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <form id="JS_addSysInfo" class="form-inline">
                    <div class="box-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>系统名称</label>
                                        <input class="col-xs-8 form-control" name="sysName" placeholder="请输入系统名称" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>归属系统</label>
                                       <select name="sysId" class="form-control select2 input-sm" data-url="getSysList"  data-idkey="sysId" data-namekey="sysName" >
                                            <option value="">
                                                请选择
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary pull-right" id="addSysInfoButton" name="addSysInfoButton">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<script id="TPL_getSonSysTemp" type="text/x-handlebars-template">
{{#each this}}
            <tr>
                <td><input type="radio" class="minimal" value="{{subsysId}}" name="subsysId">
                 <td>{{sysName}}</td>
                <td>{{createTime}}</td>
                <td>{{updateTime}}</td>
                <td>{{name}}</td>
            </tr>
            {{/each}}
</script>
<script type="text/javascript">
//<![CDATA[
seajs.use("script/dataMaintenance/sonSysManage", function(Init) {
    Init.init();
});
//]]>
</script>
