<div class="row" id="Page_quesTypeinView">
    <div class="col-md-12">
        <div class="box">
            <form id="JS_queryDataMaintainForm" role="form">
                <div class="box-header with-border">
                    <h1 class="box-title">架构问题指标主表录入</h1>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div><br/><br/>
   			    <div class="box-body">
		            <div class="row">
		                <div class="form-group col-sm-6">
		                    <label for="indexGroup" class="col-sm-2 control-label">指标分组：</label>
		                    <div class="col-sm-6">
			                    <select name="indexGroup" class="form-control input-sm" data-url="fetchdistinct" data-subname="indexName" data-idkey="indexGroup" data-namekey="indexGroup">
			                        <option value="">请选择</option>
			                    </select>
		                    </div>
		                </div>
		                <div class="form-group col-sm-6" >
		                    <label for="indexName" class="col-sm-2 control-label">指标名称：</label>
		                    <div class="col-sm-6">
			                    <select name="indexName" class="col-sm-4 form-control input-sm" data-suburl="fetchselectName" data-idkey="indexName" data-namekey="indexName" id="indexName">
			                        <option value="">请选择</option>
			                    </select>
			                </div>
		                </div>
		            </div>
                </div>
                <div class="box-footer">
                    <div class="text-center">
                        <button type="reset" class="btn btn-default">取消</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
                    </div>
                </div>
            </form>
        </div>
		<div class="box show_nothing" id="JS_getDataMaintainList" style="min-height:100px;">
            <div class="box-header ">
                <h3 class="box-title">问题指标主表列表</h3>
                <div class="box-tools">
                    <button type="button" class="btn btn-primary" name="add">新增</button>
                    <button type="button" class="btn btn-primary" name="del">删除</button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover" id="dataMaintainListTable">
                 	<thead>
		                <tr>
	                    <th class="iCheckbox" width="15"></th>
	                    <th>指标定义</th>
						<th>指标名称</th>
						<th>指标分组</th>
						<th>分表编号</th>
						<th>数据库名</th>
						<th>用户名</th>
						<th>模块名</th>
						<th>状态</th>
	 					<th>创建时间</th>
						<th>操作编号</th>
						<th>分组编号</th>
		                </tr>
                    </thead>
                    <tbody name="content"></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <div class="dataTables_paginate" name="pagination" style="text-align:center"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- 新增弹框 -->
<div class="modal fade" id="Modal_addDataMaintainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">架构问题主表新增</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <form id="JS_addDataMaintainInfo" class="form">
                    <div class="box-body">
                        <div class="box-body">
                            <div class="row">
				                <div class="form-group col-sm-6">
				                    <label for="indexId" class="col-sm-3 control-label">指标编号:</label>
				                    <div class="col-sm-7">
				                    	<input name="indexId" type="text" class="form-control" placeholder="请输入指标编号">
				                    </div>
				                </div>
				                <div class="form-group col-sm-6">
				                    <label for="indexName" class="col-sm-3 control-label">指标名称:</label>
				                    <div class="col-sm-7">
				                    	<input name="indexName" type="text" class="form-control" placeholder="请输入指标名称">
					                </div>
				                </div>
				           	</div>
                            <div class="row">
				                <div class="form-group col-sm-6">
				                    <label for="indexGroup" class="col-sm-3 control-label">指标分组:</label>
				                    <div class="col-sm-7">
				                    	<input name="indexGroup" type="text" class="form-control" placeholder="请输入指标分组">
				                    </div>
				                </div>
				                <div class="form-group col-sm-6">
				                    <label for="schId" class="col-sm-3 control-label">分表名称:</label>
				                    <div class="col-sm-7">
				                    	<input name="schId" type="text" class="form-control" placeholder="请输入指标分表名称">
					                </div>
				                </div>
				            </div>
                            <div class="row">
				                <div class="form-group col-sm-6">
				                    <label for="key1" class="col-sm-3 control-label">数据库名:</label>
				                    <div class="col-sm-7">
				                    	<input name="key1" type="text" class="form-control" placeholder="请输入数据库名">
				                    </div>
				                </div>
				                <div class="form-group col-sm-6">
				                    <label for="key2" class="col-sm-3 control-label">用户名:</label>
				                    <div class="col-sm-7">
				                    	<input name="key2" type="text" class="form-control" placeholder="请输入用户名称">
					                </div>
				                </div>
				            </div>
                            <div class="row">
				                <div class="form-group col-sm-6">
				                    <label for="key3" class="col-sm-3 control-label">模块名称:</label>
				                    <div class="col-sm-7">
				                    	<input name="key3" type="text" class="form-control" placeholder="请输入模块名称:">
				                    </div>
				                </div>
				                <div class="form-group col-sm-6">
				                    <label for="groupId" class="col-sm-3 control-label">分组编号:</label>
				                    <div class="col-sm-7">
				                    	<input name="groupId"" type="text" class="form-control" placeholder="请输入分组编号">
					                </div>
				                </div>
				            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="text-center">
	                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
	                <button type="button" class="btn btn-primary pull-right" name="save">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- 属性维护修改弹框 -->
<div class="modal fade" id="Modal_updateDataMaintainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">架构问题指标主表修改</h4>
            </div>
            <div id="JS_updateModal" class="modal-body" style="padding-bottom: 0">
                <form id="JS_updateDataMaintainInfo" class="form">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary pull-right" name="save">保存</button>
            </div>
        </div>
    </div>
</div>
<script id="TPL_modifyQuesIdentifiedInfo" type="text/x-handlebars-template">
    <div class="box-header with-border">
        <h3 class="box-title">架构问题指标主表修改</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="form-group col-sm-6">
                <div class="form-group">
                    <label for="indexId" class="col-sm-3 control-label">指标编号</label>
					<div class="col-sm-7">
                    	<input type="text" class="form-control input-sm" value="{{indexId}}" name="indexId">
					</div>
                </div>
            </div>
			<div class="form-group col-sm-6">
                <div class="form-group">
                    <label for="indexName" class="col-sm-3 control-label">指标名称</label>
					<div class="col-sm-7">
                    	<input type="text" class="form-control input-sm" value="{{indexName}}" name="indexName">
					</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <div class="form-group">
                    <label for="indexGroup" class="col-sm-3 control-label">指标分组</label>
					<div class="col-sm-7">
                    	<input type="text" class="form-control input-sm" value="{{indexGroup}}" name="indexGroup">
					</div>
                </div>
            </div>
			<div class="form-group col-sm-6">
                <div class="form-group">
                    <label for="schId" class="col-sm-3 control-label">分表名称</label>
					<div class="col-sm-7">
                    	<input type="text" class="form-control input-sm" value="{{schId}}" name="schId">
					</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <div class="form-group">
                    <label for="key1" class="col-sm-3 control-label">数据库名</label>
					<div class="col-sm-7">
                    	<input type="text" class="form-control input-sm" value="{{key1}}" name="key1">
					</div>
                </div>
            </div>
			<div class="form-group col-sm-6">
                <div class="form-group">
                    <label for="key2" class="col-sm-3 control-label">用户名称</label>
					<div class="col-sm-7">
                    	<input type="text" class="form-control input-sm" value="{{key2}}" name="key2">
					</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <div class="form-group">
                    <label for="key3" class="col-sm-3 control-label">模块名称</label>
					<div class="col-sm-7">
                    	<input type="text" class="form-control input-sm" value="{{key3}}" name="key3">
					</div>
                </div>
            </div>
			<div class="form-group col-sm-6">
                <div class="form-group">
                    <label for="groupId" class="col-sm-3 control-label">分组编号</label>
					<div class="col-sm-7">
                    	<input type="text" class="form-control input-sm" value="{{groupId}}" name="groupId">
					</div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">
//<![CDATA[
seajs.use("script/archiQuesManage/quesTypein", function(Init) {
    Init.init();
});
//]]>
</script>
