<head>
<style type="text/css"> 
#Page_archiGradingIdentified .margin-onl {
	width: 90px;
	margin-left: 5px;
}
#Page_archiGradingIdentified .from-change-line {
	margin-bottom: 5px;
}
#Page_archiGradingIdentified .show_nothing {
	display:none;
}
</style> 
</head>
<div class="row" id="Page_quesEventView">
    <div class="col-md-12">
        <div class="box">
            <form id="JS_queryDataMaintainForm" role="form">
                <div class="box-header with-border">
                    <h1 class="box-title">巡检事件单</h1>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div><br/>
                <div class="box-body">
		            <div class="row">
		                <div class="form-group col-sm-6">
		                    <label for="id" class="col-sm-2 control-label">巡检编号:</label>
		                    <div class="col-sm-4">
		                    	<input name="id" type="text" class="form-control" placeholder="请输入巡检编号">
		                    </div>
		                </div>
		                <div class="form-group col-sm-6">
		                    <label for="name" class="col-sm-2 control-label">巡检名称：</label>
		                    <div class="col-sm-4">
		                    	<input name="name" type="text" class="form-control" placeholder="请输入巡检名称">
			                </div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="form-group col-sm-6">
		                    <label for="startTime" class="col-sm-2 control-label">开始时间:</label>
		                    <div class="col-sm-4">
		                    	<input type="text" class="form-control input-sm " name="startTime" value="2017-08-01" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"> 
			                </div>
		                </div>
		                <div class="form-group col-sm-6">
		                    <label for="endTime" class="col-sm-2 control-label">结束时间:</label>
		                    <div class="col-sm-4">
		                    	<input type="text" class="form-control input-sm " name="endTime" value="2017-08-01" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"> 
			                </div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="form-group col-sm-6">
		                    <label for="state" class="col-sm-2 control-label">巡检状态：</label>
		                    <div class="col-sm-4">
			                    <select name="state" class="form-control select2 input-sm" data-url="staticEventState" data-idkey="codeValue" data-namekey="codeName">
			                        <option value="">请选择</option>
			                    </select>
			                </div>
		                </div>
		                <div class="form-group col-sm-6">
		                    <label for="ext1" class="col-sm-2 control-label">备注：</label>
		                    <div class="col-sm-4">
		                    	<input name="ext1" type="text" class="form-control" placeholder="可选填">
			                </div>
		                </div>
		            </div>
                </div>
                <div class="box-footer">
                    <div class="text-center">
                        <button type="reset" class="btn btn-default">取消</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
                    </div>
                </div>
            </form>
        </div>
		<div class="box show_nothing" id="JS_getDataMaintainList" style="min-height:100px;">
            <div class="box-header ">
                <h3 class="box-title">巡检事件单列表</h3>
                <div class="box-tools">
                    <button type="button" class="btn btn-primary" name="add">新增</button>
                    <button type="button" class="btn btn-primary" name="del">删除</button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover" id="dataMaintainListTable">
                    <thead>
		                <tr>
	                    <th class="iCheckbox" width="15"></th>
						<th>巡检编号</th>
						<th>巡检名称</th>
						<th>开始事件</th>
                        <th>结束时间</th>
                        <th>巡检状态</th>
						<th>扩展字段1</th>
						<th>扩展字段2</th>
						<th>扩展字段3</th>
		                </tr>
                    </thead>
                    <tbody name="content"></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <div class="dataTables_paginate" name="pagination" style="text-align:center"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- 新增弹框 -->
<div class="modal fade" id="Modal_addDataMaintainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">巡检事件单</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <form id="JS_addDataMaintainInfo" class="form">
                    <div class="box-body">
                        <div class="box-body">
                            <div class="row">
				                <div class="form-group col-sm-6">
				                    <label for="id" class="col-sm-3 control-label">巡检编号:</label>
				                    <div class="col-sm-7">
				                    	<input name="id" type="text" class="form-control" placeholder="请输入巡检编号">
				                    </div>
				                </div>
				                <div class="form-group col-sm-6">
				                    <label for="name" class="col-sm-3 control-label">巡检名称：</label>
				                    <div class="col-sm-7">
				                    	<input name="name" type="text" class="form-control" placeholder="请输入巡检名称">
					                </div>
				                </div>
				            </div>
                            <div class="row">
				                <div class="form-group col-sm-6">
				                    <label for="startTime" class="col-sm-3 control-label">开始时间:</label>
				                    <div class="col-sm-7">
				                    	<input type="text" class="form-control input-sm " name="startTime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"> 
					                </div>
				                </div>
				                <div class="form-group col-sm-6">
				                    <label for="endTime" class="col-sm-3 control-label">结束时间:</label>
				                    <div class="col-sm-7">
				                    	<input type="text" class="form-control input-sm " name="endTime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"> 
					                </div>
				                </div>
		            		</div>
				            <div class="row">
				                <div class="form-group col-sm-6">
				                    <label for="state" class="col-sm-3 control-label">巡检状态：</label>
				                    <div class="col-sm-7">
					                    <select name="state" class="form-control select2 input-sm" data-url="staticEventState" data-idkey="codeValue" data-namekey="codeName">
					                        <option value="">请选择</option>
					                    </select>
					                </div>
				                </div>
				                <div class="form-group col-sm-6">
				                    <label for="ext1" class="col-sm-3 control-label">备注：</label>
				                    <div class="col-sm-7">
				                    	<input name="ext1" type="text" class="form-control" placeholder="可选填">
					                </div>
				                </div>
				            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="text-center">
	                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
	                <button type="button" class="btn btn-primary pull-right" name="save">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="TPL_getSysMessageList" type="text/x-handlebars-template">
{{#each this}}
<tr>
    <td><input type="radio" class="minimal" value="{{id}}" name="id"></td>
    <td>{{id}}</td>
    <td>{{name}}</td>
	<td>{{startTime}}</td>
	<td>{{endTime}}</td>
	<td>{{state}}</td>
	<td>{{ext1}}</td>
	<td>{{ext2}}</td>
	<td>{{ext3}}</td>
</tr>
{{/each}}
</script>

<script type="text/javascript">
//<![CDATA[
seajs.use("script/archiQuesManage/quesEvent", function(Init) {
    Init.init();
});
//]]>
</script>
