<div class="row" id="Page_quesSolvedView">
    <div class="col-md-12">
        <div class="box">
            <form id="JS_queryDataMaintainForm">
                <div class="box-header with-border">
                    <h3 class="box-title">按条件查询</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>问题分类</label>
                                <select class="form-control input-sm" name="propertyId" data-url="getPropertyName" data-idkey="propertyId" data-namekey="propertyName">
                                    <option>请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>一级分类</label>
                                <select class="form-control input-sm" name="propertyId" data-url="getPropertyName" data-idkey="propertyId" data-namekey="propertyName">
                                    <option>请选择</option>
                                </select>                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>二级分类</label>
                                <select class="form-control input-sm" name="propertyId" data-url="getPropertyName" data-idkey="propertyId" data-namekey="propertyName">
                                    <option>请选择</option>
                                </select>                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>三级分类</label>
                                <select class="form-control input-sm" name="propertyId" data-url="getPropertyName" data-idkey="propertyId" data-namekey="propertyName">
                                    <option>请选择</option>
                                </select>                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>具体疑难问题</label>
                                <input class="form-control input-sm" name="correlationField" placeholder="请输入关联字段" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="box-footer">
                    <div class="text-center">
                        <button type="reset" class="btn btn-default">重置</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="box" id="JS_getDataMaintainList" style="min-height:100px;">
            <div class="box-header ">
                <h3 class="box-title">架构问题管控列表</h3>
                <div class="box-tools">
                    <button type="button" class="btn btn-primary" name="add">添加</button>
                    <button type="button" class="btn btn-primary" name="del">删除</button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover" id="dataMaintainListTable">
                    <thead>
		                <tr>
	                    <th class="iCheckbox" width="15"></th>
						<th>问题编号</th>
						<th>问题类型</th>
						<th>一级分类</th>
						<th>二级分类</th>
						<th>三级分类</th>
						<th>疑难问题</th>
						<th>摘要</th>
						<th>发生环境</th>
						<th>所属项目</th>
						<th>一级域编号</th>
						<th>二级子域编号</th>
						<th>三级系统编号</th>
						<th>系统版本</th>
						<th>优先级</th>
						<th>缺陷级别</th>
						<th>流程状态</th>
						<th>申报信息</th>
						<th>认定信息</th>
						<th>解决信息</th>
						<th>创建时间</th>
						<th>修改时间</th>
						<th>报告人</th>
						<th>指派人</th>
						<th>扩展字段1</th>
						<th>扩展字段2</th>
						<th>扩展字段3</th>
		                </tr>
                    </thead>
                    <tbody name="content"></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <div class="dataTables_paginate" name="pagination"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- 新增弹框 -->
<div class="modal fade" id="Modal_addDataMaintainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">问题添加</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <form id="JS_addDataMaintainInfo" class="form">
                    <div class="box-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>问题编号</label>
                                        <input name="quesId" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>问题类型</label>
                                        <select name="quesType" class="form-control">
                                            <option value="0">请选择</option>
                                            <option value="1">技术巡检</option>
                                            <option value="2">系统巡检</option>
                                            <option value="3">疑难问题</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>一级分类</label>
                                        <select name="firstCategory" class="form-control">
					                        <option value="0">请选择</option>
					                        <option value="1">容量规划</option>
					                        <option value="2">高可用</option>
					                        <option value="3">分层</option>
					                        <option value="4">柔性可用</option>
					                        <option value="5">日志</option>
					                        <option value="6">配置</option>
					                        <option value="7">监控</option>
					                        <option value="8">安全</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>二级分类</label>
                                        <select name="secondCategory" class="form-control">
					                        <option value="0">请选择</option>
					                        <option value="1">系统容量</option>
					                        <option value="2">业务容量</option>
					                        <option value="3">系统性能</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>三级分类</label>
                                        <select name="thirdCategory" class="form-control">
					                        <option value="0">请选择</option>
					                        <option value="1">数据库容量</option>
					                        <option value="2">网络宽带</option>
					                        <option value="3">TPCC</option>
					                        <option value="4">存储</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>疑难问题</label>
                                        <input name="diffProblem" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>摘要</label>
                                        <input name="abstracts" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>发生环境</label>
                                        <input name="occurEnvironment" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>所属项目</label>
                                        <input name="belongProject" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>一级域编号</label>
                                        <input name="idFirst" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>二级子域编号</label>
                                        <input name="idSecond" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>三级系统编号</label>
                                        <input name="idThird" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>系统版本</label>
                                        <input name="sysVersion" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>优先级</label>
                                        <input name="priority" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>缺陷级别</label>
                                        <input name="defectLevel" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>流程状态</label>
                                        <input name="state" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                               <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>申报信息</label>
                                        <input name="requestInfo" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>认定信息</label>
                                        <input name="identifiedInfo" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>解决信息</label>
                                        <input name="solvedInfo" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>创建时间</label>
                                        <input name="createDate" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                               <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>修改时间</label>
                                        <input name="modifyDate" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>报告人</label>
                                        <input name="reportor" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>指派人</label>
                                        <input name="appointedPerson" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>扩展字段1</label>
                                        <input name="ext1" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                              <div class="col-md-4">
                                    <div class="form-group">
                                        <label>扩展字段2</label>
                                        <input name="ext2" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>扩展字段3</label>
                                        <input name="ext3" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary pull-right" name="save">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- 属性维护修改弹框 -->
<div class="modal fade" id="Modal_updateDataMaintainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">问题修改</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <form id="JS_updateDataMaintainInfo" class="form">
                    <div class="box-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>问题编号</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入编号" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>问题类型</label>
                                        <select name="propertyCfgId" class="form-control">
                                            <option value="0">请选择</option>
                                            <option value="1">技术巡检</option>
                                            <option value="2">系统巡检</option>
                                            <option value="3">疑难问题</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>一级分类</label>
                                        <select name="propertyCfgId" class="form-control " data-suburl="getPropertyConfigList" data-idkey="cigId" data-namekey="propertyField" name="propertyCfgId">
					                        <option value="0">请选择</option>
					                        <option value="1">容量规划</option>
					                        <option value="2">高可用</option>
					                        <option value="3">分层</option>
					                        <option value="4">柔性可用</option>
					                        <option value="5">日志</option>
					                        <option value="6">配置</option>
					                        <option value="7">监控</option>
					                        <option value="8">安全</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>二级分类</label>
                                        <select data-idkey="db" name="db" data-namekey="db" class="form-control " data-url="getDbList">
					                        <option value="0">请选择</option>
					                        <option value="1">系统容量</option>
					                        <option value="2">业务容量</option>
					                        <option value="3">系统性能</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>三级分类</label>
                                        <select name="propertyId" class="form-control" data-url="getPropertyName" data-subname="propertyCfgId" data-idkey="propertyId" data-namekey="propertyName" required>
					                        <option value="0">请选择</option>
					                        <option value="1">数据库容量</option>
					                        <option value="2">网络宽带</option>
					                        <option value="3">TPCC</option>
					                        <option value="4">存储</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>疑难问题</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>摘要</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>发生环境</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>所属项目</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>一级域编号</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>二级子域编号</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>三级系统编号</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>系统版本</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>优先级</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>缺陷级别</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>流程状态</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                               <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>申报信息</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>认定信息</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>解决信息</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>创建时间</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                               <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>修改时间</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>报告人</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>指派人</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>扩展字段1</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                              <div class="col-md-4">
                                    <div class="form-group">
                                        <label>扩展字段2</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>扩展字段3</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入" required>
                                        </input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary pull-right" name="save">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<script id="TPL_getDataMaintainTemp" type="text/x-handlebars-template">
    {{#each this}}
    <tr>
        <td>
            <input type="radio" class="minimal" value="{{correlationId}}" name="correlationId">
            <td>{{propertyId}}
                <input type="hidden" value="{{correlationId}}" name="correlationId">
            </td>
            <td>{{correlationTable}}</td>
            <td>{{correlationField}}</td>
            <!-- <td>{{alias}}</td> -->
            <td>{{db}}</td>
    </tr>
    {{/each}}
</script>
<script type="text/javascript">
//<![CDATA[
seajs.use("script/archiQuesManage/quesSolved", function(Init) {
    Init.init();
});
//]]>
</script>
