<div class="row" id="Page_quesIndexRView">
    <div class="col-md-12">
    <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#deliverableTab_1" data-toggle="tab" aria-expanded="false">按日查询</a></li>
        <li class=""><a href="#deliverableTab_2" data-toggle="tab" aria-expanded="false">按月查询</a></li>
    </ul>
	<div class="tab-content">
    <!-- tab页签1 -->
    <div class="tab-pane active" id="deliverableTab_1">
		<div class="col-md-4">
	        <div class="box">
	            <form id="JS_queryDataMaintainForm">
	                <div class="box-header with-border">
	                    <h1 class="box-title">指标按条件查询</h1>
	                    <div class="box-tools pull-right">
	                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
	                        </button>
	                    </div>
	                </div>
	                <div class="box-body">
	                	<div class="row" id="JS_selectData" style="width:250px">
				        	<div class="form-group col-sm-12">
		                        <label class="col-sm-4 control-label">开始时间:</label>
				        		<div class="col-sm-8">
			                  		<input type="text" class="form-control input-sm " name="startMonth" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
				        		</div>
				        	</div>
				        </div>
				        <div class="row" id="JS_selectData2" style="width:250px">
				        	<div class="form-group col-sm-12">
		                        <label class="col-sm-4 control-label">结束时间:</label>
				        		<div class="col-sm-8">
		                  			<input type="text" class="form-control input-sm " name="endMonth" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/> 
				        		</div>
				        	</div>
		                </div>
						<!-- 主内容 -->
						<div class="row" id="Page_RoleFunc">
<!-- 								    <div class="col-md-6" style="display:none">
								        <div class="box">
								            <div class="box-header with-border">
								                <div class="box-title">指标分组</div>
								            </div>
								            <div class="box-body" style="min-height: 520px;" id="Page_getIndexGroupR">
								                <div class="text-loader min-height">
								                    <div class="text-loader-content">
								                        <i class="fa fa-refresh fa-spin"></i>请稍候，数据加载中...
								                    </div>
								                </div>
								            </div>
								        </div>
								    </div> -->
						    <div class="col-md-6">
						        <div class="box">
						            <div class="box-header with-border">
						                <div class="box-title">指标名称</div>
						                <div class="box-tools">
						                </div>
						            </div>
						            <div class="box-body" style="min-height: 260px;">
						                <div class="active tab-pane" id="activity">
						                    <div class="row">
						                        <div class="col-md-12">
<!-- 								                            <div class="input-group input-group-sm ztree-search" id="Tree_getRightTreeRRSearch" style="display: none;">
								                                <input type="text" class="form-control" name="searchValue" placeholder="请输入关键字，如『移动』">
								                                <span class="input-group-btn">
								                                      <button type="button" class="btn btn-primary" name="searchBtn"><i class="fa fa-search"></i></button>
								                                    </span>
								                            </div> -->
						                            <ul id="Tree_getRightTreeRR" class="ztree">
						                                <div class="text-loader min-height">
						                                    <div class="text-loader-content">
						                                        <i class="fa fa-refresh fa-spin"></i>请稍候，数据加载中...
						                                    </div>
						                                </div>
						                            </ul>
						                        </div>
						                    </div>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>

	                </div>
	                <div class="box-footer">
	                    <div class="text-center">
	                        <button type="reset" class="btn btn-default">重置</button>
	                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
	                    </div>
	                </div>
	            </form>
	        </div>
		</div>
		<div class="col-md-8">
	        <div class="box" id="JS_getDataMaintainList" style="min-height:100px; display:none">
	            <div class="box-header ">
	                <h3 class="box-title">指标分类</h3>
	                <div class="box-tools">
	               <button type="button" class="btn btn-primary" name="add">添加</button>
	                    <button type="button" class="btn btn-primary" name="del">删除</button>
	                </div>
	            </div>
	            <div class="box-body">
	                <table class="table table-bordered table-hover" id="dataMaintainListTable">
	                    <thead>
			                <tr>
		                    <th class="iCheckbox" width="15"></th>
		                    <th>指标定义</th>
							<th>指标名称</th>
							<th>指标分组</th>
							<th>分表编号</th>
							<th>数据库名</th>
							<th>用户名</th>
							<th>模块名</th>
							<th>状态</th>
		 					<th>创建时间</th>
							<th>操作编号</th>
			                </tr>
	                    </thead>
	                    <tbody name="content"></tbody>
	                </table>
	            </div>
	            <div class="box-footer no-border">
	        		<div class="dataTables_paginate" name="pagination" style="text-align:center"></div>
	    		</div> 
	        </div> 
			       
	    	<div class="box" id="JS_sysMessageView" name="initEcharts" style="display:none">
		        <div class="box-header" >
		        </div>
		        <div class="box-body" id="JS_archiIndexView" style="width: 100%; height:350px; ">
		            <!-- 视图 -->
		        </div>
		    </div>
				    
	        <div class="box" id="JS_getDataMaintainListSec" name="initTable" style="min-height:100px;display:none">
	            <div class="box-header ">
	                <h3 class="box-title">指标采集结果</h3>
	                <div class="box-tools">
	                </div>
	            </div>
	            <div class="box-body">
	                <table class="table table-bordered table-hover" id="dataMaintainListTable">
	                    <thead>
			                <tr>
		                    <th class="iCheckbox" width="15"></th>
							<th>指标分组</th>
							<th>指标名称</th>
							<th>指标值</th>
							<th>指标日期</th>
		                    <th>指标编号</th>
			                </tr>
	                    </thead>
	                    <tbody name="content"></tbody>
	                </table>
	            </div>
	            <div class="box-footer no-border">
	        		<div class="dataTables_paginate" name="paginationSec" style="text-align:center"></div>
	    		</div> 
	        </div>
		</div>
	   </div>
	   
	   
	   
       <!-- tab页签2 -------------------------------------------------------------->
       <div class="tab-pane" id="deliverableTab_2">
       		<div class="col-md-4">
	        <div class="box">
	            <form id="JS_queryDataMaintainForm2">
	                <div class="box-header with-border">
	                    <h1 class="box-title">指标按条件查询</h1>
	                    <div class="box-tools pull-right">
	                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
	                        </button>
	                    </div>
	                </div>
	                <div class="box-body">
	                	<div class="row" id="JS_selectDatas1" style="width:250px">
				        	<div class="form-group col-sm-12">
		                        <label class="col-sm-4 control-label">开始时间:</label>
				        		<div class="col-sm-8">
			                  		<input type="text" class="form-control input-sm " name="startMonth" onclick="WdatePicker({dateFmt:'yyyy-MM'})"/>
				        		</div>
				        	</div>
				        </div>
				        <div class="row" id="JS_selectDatas2" style="width:250px">
				        	<div class="form-group col-sm-12">
		                        <label class="col-sm-4 control-label">结束时间:</label>
				        		<div class="col-sm-8">
		                  			<input type="text" class="form-control input-sm " name="endMonth" onclick="WdatePicker({dateFmt:'yyyy-MM'})"/> 
				        		</div>
				        	</div>
		                </div>
						<!-- 主内容 -->
						<div class="row" id="Page_RoleFunc2">
<!-- 								    <div class="col-md-6" style="display:none">
								        <div class="box">
								            <div class="box-header with-border">
								                <div class="box-title">指标分组</div>
								            </div>
								            <div class="box-body" style="min-height: 520px;" id="Page_getIndexGroupR">
								                <div class="text-loader min-height">
								                    <div class="text-loader-content">
								                        <i class="fa fa-refresh fa-spin"></i>请稍候，数据加载中...
								                    </div>
								                </div>
								            </div>
								        </div>
								    </div> -->
						    <div class="col-md-6">
						        <div class="box">
						            <div class="box-header with-border">
						                <div class="box-title">指标名称</div>
						                <div class="box-tools">
						                </div>
						            </div>
						            <div class="box-body" style="min-height: 260px;">
						                <div class="active tab-pane" id="activity">
						                    <div class="row">
						                        <div class="col-md-12">
<!-- 								                            <div class="input-group input-group-sm ztree-search" id="Tree_getRightTreeRR2Search" style="display: none;">
								                                <input type="text" class="form-control" name="searchValue" placeholder="请输入关键字，如『移动』">
								                                <span class="input-group-btn">
								                                      <button type="button" class="btn btn-primary" name="searchBtn"><i class="fa fa-search"></i></button>
								                                    </span>
								                            </div> -->
						                            <ul id="Tree_getRightTreeRR2" class="ztree">
						                                <div class="text-loader min-height">
						                                    <div class="text-loader-content">
						                                        <i class="fa fa-refresh fa-spin"></i>请稍候，数据加载中...
						                                    </div>
						                                </div>
						                            </ul>
						                        </div>
						                    </div>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>

	                </div>
	                <div class="box-footer">
	                    <div class="text-center">
	                        <button type="reset" class="btn btn-default">重置</button>
	                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
	                    </div>
	                </div>
	            </form>
	        </div>
		</div>
		<div class="col-md-8">
	        <div class="box" id="JS_getDataMaintainList2" style="min-height:100px; display:none">
	            <div class="box-header ">
	                <h3 class="box-title">指标分类</h3>
	                <div class="box-tools">
	               <button type="button" class="btn btn-primary" name="add">添加</button>
	                    <button type="button" class="btn btn-primary" name="del">删除</button>
	                </div>
	            </div>
	            <div class="box-body">
	                <table class="table table-bordered table-hover" id="dataMaintainListTable2">
	                    <thead>
			                <tr>
		                    <th class="iCheckbox" width="15"></th>
		                    <th>指标定义</th>
							<th>指标名称</th>
							<th>指标分组</th>
							<th>分表编号</th>
							<th>数据库名</th>
							<th>用户名</th>
							<th>模块名</th>
							<th>状态</th>
		 					<th>创建时间</th>
							<th>操作编号</th>
			                </tr>
	                    </thead>
	                    <tbody name="content"></tbody>
	                </table>
	            </div>
	            <div class="box-footer no-border">
	        		<div class="dataTables_paginate" name="pagination" style="text-align:center"></div>
	    		</div> 
	        </div> 
			       
	    	<div class="box" id="JS_sysMessageView2" name="initEcharts2" style="display:none">
		        <div class="box-header" >
		        </div>
		        <div class="box-body" id="JS_archiIndexView2" style="width: 100%; height:350px; ">
		            <!-- 视图 -->
		        </div>
		    </div>
				    
	        <div class="box" id="JS_getDataMaintainListSec2" name="initTable" style="min-height:100px;display:none">
	            <div class="box-header ">
	                <h3 class="box-title">指标采集结果</h3>
	                <div class="box-tools">
	                </div>
	            </div>
	            <div class="box-body">
	                <table class="table table-bordered table-hover" id="dataMaintainListTable2">
	                    <thead>
			                <tr>
		                    <th class="iCheckbox" width="15"></th>
							<th>指标分组</th>
							<th>指标名称</th>
							<th>指标值</th>
							<th>指标日期</th>
		                    <th>指标编号</th>
			                </tr>
	                    </thead>
	                    <tbody name="content"></tbody>
	                </table>
	            </div>
	            <div class="box-footer no-border">
	        		<div class="dataTables_paginate" name="paginationSec2" style="text-align:center"></div>
	    		</div> 
	        </div>
		</div>
	</div>
	</div>
	</div>
    </div>
</div>

<!-- 弹出框  -->
<div class="modal fade" id="JS_modall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title">
					注意事项：
				</h4>
			</div>
			<div class="modal-body">
			    <label>提示:</label>
			    <p>您当前选择了另一个指标分组！页面只支持在一个分组下进行选择查询，是否继续？
				<br/>
                <br/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">否
				</button>
				<button type="button" class="btn btn-primary" name="pass">
					是
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<script type="text/javascript">
//<![CDATA[
seajs.use("script/archiQuesManage/quesIndexR", function(Init) {
    Init.init();
});
//]]>
</script>
