  <style type="text/css">
	#Page_quesIndexRView .width-input-167 {width: 167px;}
	#Page_quesIndexRView .width-input-400 {width: 400px;}
	#Page_quesIndexRView .width-input-158 {width: 155px;}
	#Page_quesIndexRView .btn-center {text-align: center;}
	#Page_quesIndexRView .check-inline-label {display: block;float:left;margin-top: 10px;}
	#Page_quesIndexRView .total-width {width: 850px;}
	#Page_quesIndexRView .margin-onl {margin-left: 20px;margin-right: 20px;}
	#Page_quesIndexRView .query-data-label {width: 80px;}
	#Page_quesIndexRView .fist-text-label, .col2-sec-label, .col3-after-label {margin-right: 5px;width: 84px;}
	#Page_quesIndexRView .col2-sec-label {margin-left: 250px;}
	#Page_quesIndexRView .col3-after-label {margin-left: 17px;}
	#Page_quesIndexRView .line-sen-top {margin-top: 15px;}
	#Page_quesIndexRView .text-area-sty {width: 680px;vertical-align:middle; }
	#Page_quesIndexRView .btn-table-change {margin-right: 20px;}
	#Page_quesIndexRView .btn-table-report {margin-right: 20px;}
	#Page_quesIndexRView .btn-center {text-align: center;}
	#Page_quesIndexRView .total-width {width: 850px;}
	#Page_quesIndexRView .btn-table-change {margin-right: 20px;}
	#Page_quesIndexRView .btn-table-report {margin-right: 20px;}
	#Page_quesIndexRView .errcode-center {color:blue;font-size:18px;font-weight: bold;}
	#Page_quesIndexRView .text-style {color:red;font-size:16px;font-weight: bold;}
	#Page_quesIndexRView .min-height{min-height:50px;}
	#Page_quesIndexRView .select-label-word {margin-top: 7px;width: 70px;}
	#Page_quesIndexRView .table-word-center {text-align: center;vertical-align: middle;}  
	#Page_quesIndexRView .show-nothing {display:none;}  
	#Page_quesIndexRView .spl-thead-color1 {background-color: #00a65a;color: white;}  
	#Page_quesIndexRView .spl-thead-color2 {background-color: #3c8dbc;color: white;}  
	#Page_quesIndexRView .spl-thead-color3 {background-color: #f39c12;color: white;}  
	#Page_quesIndexRView .spl-thead-color4 {background-color: #8ac14a;color: white;}  
	#Page_quesIndexRView .spl-thead-color5 {background-color: #e1b34a;color: white;}  
	#Page_quesIndexRView .spl-thead-wid {} 
	#Page_quesIndexRView .change-font-red {color: red;font-weight: 700;} 
	#Page_quesIndexRView .change-font-green {color: green;font-weight: 700;} 
	#Page_quesIndexRView .change-font-orange {color: yellow;font-weight: 700;} 
	#Page_quesIndexRView .change-font-yellow {color: orange;font-weight: 700;} 
	#Page_quesIndexRView .table-word-center {text-align: center;vertical-align: middle;}  
	#Page_quesIndexRView .table-kuan1{width:6%;}
	#Page_quesIndexRView .table-kuan2{width:10%;}
	#Page_quesIndexRView .table-kuan3{width:15%;}
  </style>
<div class="row" id="Page_quesIndexRView">
    <div class="col-md-4">
    	<div class="nav-tabs-custom">
    		<ul class="nav nav-tabs">
       			<li class="active"><a href="#quesIndexRdeliverableTab_1" data-toggle="tab" aria-expanded="false">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;按日查询</a></li>
        		<li class=""><a href="#quesIndexRdeliverableTab_2" data-toggle="tab" aria-expanded="false">按月查询</a></li>
   	 		</ul>
			<div class="tab-content">
    		<!-- tab页签1 -->
			    <div class="tab-pane active" id="quesIndexRdeliverableTab_1">
			        <div class="box">
			            <form id="JS_queryDataMaintainForm">
			                <div class="box-body">
			                	<div class="row" id="JS_selectData" style="width:250px">
						        	<div class="form-group col-sm-12">
				                        <label class="col-sm-4 control-label">开始时间:</label>
						        		<div class="col-sm-6">
					                  		<input type="text" class="form-control input-sm " name="startMonth" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
						        		</div>
								        <div class="col-sm-2">
					                        <button type="reset" class="btn btn-default">重置</button>
					                    </div>
						        	</div>
						        </div>
						        <div class="row" id="JS_selectData2" style="width:250px">
						        	<div class="form-group col-sm-12">
				                        <label class="col-sm-4 control-label">结束时间:</label>
						        		<div class="col-sm-6">
				                  			<input type="text" class="form-control input-sm " name="endMonth" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/> 
						        		</div>
						        		<div class="col-sm-2">
			                        		<button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
					                    </div>
						        	</div>
				                </div>
								<!-- 主内容 -->
								<div class="row" id="Page_RoleFunc">
									<div style="max-height:650px; overflow-y:scroll; border:0px solid;">
									    <div class="col-md-6">
									        <div class="box">
									            <div class="box-header with-border">
									                <div class="box-title">指标名称</div>
									                <div class="box-tools"></div>
									            </div>
									            <div class="box-body" style="min-height: 260px;">
									                <div class="active tab-pane" id="activity">
									                    <div class="row">
									                        <div class="col-md-12">
									                            <ul id="Tree_getRightTreeRR" class="ztree">
									                                <div class="text-loader min-height">
									                                    <div class="text-loader-content">
									                                        <i class="fa fa-refresh fa-spin"></i>请稍候，数据加载中...
									                                    </div>
									                                </div>
									                            </ul>
									                        </div>
									                    </div>
									                </div>
									            </div>
									        </div>
									    </div>
								    </div>
								</div>
     			            </div>
						</form>
        		    </div>
				</div>	   
		       <!-- tab页签2 -------------------------------------------------------------->
		       <div class="tab-pane" id="quesIndexRdeliverableTab_2">
			        <div class="box">
			            <form id="JS_queryDataMaintainForm2">
			                <div class="box-body">
			                	<div class="row" id="JS_selectDatas1" style="width:250px">
						        	<div class="form-group col-sm-12">
				                        <label class="col-sm-4 control-label">开始时间:</label>
						        		<div class="col-sm-6">
					                  		<input type="text" class="form-control input-sm " name="startMonth" onclick="WdatePicker({dateFmt:'yyyy-MM'})"/>
						        		</div>
								        <div class="col-sm-2">
					                        <button type="reset" class="btn btn-default">重置</button>
					                    </div>
						        	</div>
						        </div>
						        <div class="row" id="JS_selectDatas2" style="width:250px">
						        	<div class="form-group col-sm-12">
				                        <label class="col-sm-4 control-label">结束时间:</label>
						        		<div class="col-sm-6">
				                  			<input type="text" class="form-control input-sm " name="endMonth" onclick="WdatePicker({dateFmt:'yyyy-MM'})"/> 
						        		</div>
						        		<div class="col-sm-2">
					                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
					                    </div>
						        	</div>
				                </div>
								<!-- 主内容 -->
								<div class="row" id="Page_RoleFunc2">
									<div style="min-height: 260px;max-height:650px; overflow-y:scroll; border:0px solid;">
									    <div class="col-md-6">
									        <div class="box">
									            <div class="box-header with-border">
									                <div class="box-title">指标名称</div>
									                <div class="box-tools"></div>
									            </div>
									            <div class="box-body">
									                <div class="active tab-pane" id="activity">
									                    <div class="row">
									                        <div class="col-md-12">
									                            <ul id="Tree_getRightTreeRR2" class="ztree">
									                                <div class="text-loader min-height">
									                                    <div class="text-loader-content">
									                                        <i class="fa fa-refresh fa-spin"></i>请稍候，数据加载中...
									                                    </div>
									                                </div>
									                            </ul>
									                        </div>
									                    </div>
									                </div>
									            </div>
									        </div>
									    </div>
								    </div>
								</div>
			                </div>
			            </form>
					</div>
				</div>
			</div>
		</div>
    </div>  
 	<div class="col-md-8">
        <div class="box" id="JS_getDataMaintainList" style="min-height:100px; display:none">
            <div class="box-header ">
                <h3 class="box-title">指标分类</h3>
                <div class="box-tools">
               <button type="button" class="btn btn-primary" name="add">添加</button>
                    <button type="button" class="btn btn-primary" name="del">删除</button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover" id="dataMaintainListTable">
                    <thead>
		                <tr>
	                    <th class="iCheckbox" width="15"></th>
	                    <th>指标定义</th>
						<th>指标名称</th>
						<th>指标分组</th>
						<th>分表编号</th>
						<th>数据库名</th>
						<th>用户名</th>
						<th>模块名</th>
						<th>状态</th>
	 					<th>创建时间</th>
						<th>操作编号</th>
		                </tr>
                    </thead>
                    <tbody name="content"></tbody>
                </table>
            </div>
            <div class="box-footer no-border">
        		<div class="dataTables_paginate" name="pagination" style="text-align:center"></div>
    		</div> 
        </div> 
        
        <div class="nav-tabs-custom" id="JS_sysMessageViewLabel" style="display:none">	
        	<ul class="nav nav-tabs">
       			<li class="active"><a href="#averageIndex" data-toggle="tab" aria-expanded="false">指标平均值</a></li>
        		<li class=""><a href="#maxIndex" data-toggle="tab" aria-expanded="false">波峰值</a></li>
        		<li class=""><a href="#minIndex" data-toggle="tab" aria-expanded="false">波谷值</a></li>
        		<li class=""><a href="#detailIndex" data-toggle="tab" aria-expanded="false">当日具体值</a></li>
   	 		</ul>		
   	 		<div class="tab-content">
    			<!-- tab页签1 -->
			    <div class="tab-pane active" id="averageIndex">		       
		    	<div class="box" id="JS_sysMessageView" name="initEcharts" style="display:none">
			        <div class="box-header" ></div>
			        <div class="box-body" id="JS_archiIndexView" style="width: 100%; height:350px;"></div>
		       		<!-- 视图 -->
					<div class="ibox">
				            <!--初始化echarts实例的容器-->
				        <div id="eBaiduMap" class="ibox-size" style="width: 100%;"></div>
				            <!--用于存放上下翻页按钮.js-eclegend-tool容器，页面中的修改只需增加下面这一句-->
				        <div class="js-eclegend-tool" id="initLegengds" style="position: absolute;right: 10px;top: 40%;z-index:100">
				        </div>
				    </div>
		   		</div>
		   		</div>
		       <!-- tab页签2 -------------------------------------------------------------->
		       <div class="tab-pane" id="maxIndex">
		       <div class="box" id="JS_sysMessageViewMax" name="initEcharts" style="display:none">
			        <div class="box-header" ></div>
			        <div class="box-body" id="JS_archiIndexViewMax" style="width: 100%; height:350px;"></div>
		   		</div>
		       </div>
		       <!-- tab页签3 -------------------------------------------------------------->
		       <div class="tab-pane" id="minIndex">
		       <div class="box" id="JS_sysMessageViewMin" name="initEcharts" style="display:none">
			        <div class="box-header" ></div>
			        <div class="box-body" id="JS_archiIndexViewMin" style="width: 100%; height:350px;"></div>
		   		</div>
		       </div>
		       <!-- tab页签4 -------------------------------------------------------------->
		       <div class="tab-pane" id="detailIndex">
		       <div class="box" id="JS_sysMessageViewDetail" name="initEcharts" style="display:none">
			        <div class="box-header" ></div>
			        <div class="box-body" id="JS_archiIndexViewDetail" style="width: 100%; height:350px;"></div>
		   		</div>
		       </div>
		   	</div>
	   	</div>	
   			
   		<div class="box" id="JS_totalMessageView" name="initEcharts" style="display:none">
	        <div class="box-header" ></div>
	        <div class="box-body" id="JS_totalArchiIndexView" style="width: 100%; height:350px;"></div>
   		</div>
	</div>
	
	<div class="col-md-12">
	    <div class="box" id="JS_getDataMaintainListTop" name="initTable" style="display:none">
            <div class="box-header" style="height:80px">
                <h3 class="box-title">数据库连接数平均数增长来源分析(起始时间/截止时间对比)</h3>
				<div class="box">
		            <form id="JS_queryDB">
		                <div class="box-body">
		                	<div class="row" id="JS_selectData">
					        	<div class="form-group col-sm-10">
			                        <label class="col-sm-1 control-label">起始时间:</label>
					        		<div class="col-sm-2">
				                  		<input type="text" class="form-control input-sm " name="startMonth" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
					        		</div>
			                        <label class="col-sm-1 control-label">截止时间:</label>
					        		<div class="col-sm-2">
			                  			<input type="text" class="form-control input-sm " name="endMonth" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/> 
					        		</div>
					        		<div class="col-sm-1">
		                        		<button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
				                    </div>
					        	</div>
					        </div>
    			        </div>
					</form>
       		    </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover" id="dataMaintainListTopTable">
                    <thead>
		                <tr>
	                    <th class="iCheckbox table-word-center spl-thead-color1" width="15"></th>
						<th class="table-word-center spl-thead-color1">排名情况</th>
						<th class="table-word-center spl-thead-color1">系统来源</th>
						<th class="table-word-center spl-thead-color2">起始时间当天平均值</th>
						<th class="table-word-center spl-thead-color3">截止时间当天平均值</th>
						<th class="table-word-center spl-thead-color4">两天连接数增长量</th>
						<th class="table-word-center spl-thead-color5">两天增长率占比%</th>
		                </tr>
                    </thead>
                    <tbody name="content"></tbody>
                </table>
            </div>
            <div class="box-footer no-border">
        		<div class="dataTables_paginate" name="paginationTop" style="text-align:center"></div>
    		</div> 
        </div>
	</div>
	
	<div class="col-md-12">
	    <div class="box" id="JS_getDataMaintainListSec" name="initTable" style="display:none">
            <div class="box-header ">
                <h3 class="box-title">指标采集结果</h3>
                <div class="box-tools">
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover" id="dataMaintainListTable">
                    <thead>
		                <tr>
	                    <th class="iCheckbox" width="15"></th>
						<th>指标分组</th>
						<th>指标名称</th>
						<th>指标实例</th>
						<th>指标值</th>
						<th>指标日期</th>
						<th>插入时间</th>
	                    <th>指标编号</th>
		                </tr>
                    </thead>
                    <tbody name="content"></tbody>
                </table>
            </div>
            <div class="box-footer no-border">
        		<div class="dataTables_paginate" name="paginationSec" style="text-align:center"></div>
    		</div> 
        </div>
	</div>
</div>

<!-- 弹出框  -->
<div class="modal fade" id="JS_modall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title">
					注意事项：
				</h4>
			</div>
			<div class="modal-body">
			    <label>提示:</label>
			    <p>您当前选择了另一个指标分组！页面只支持在一个分组下进行选择查询，是否继续？
				<br/>
                <br/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">否
				</button>
				<button type="button" class="btn btn-primary" name="pass">
					是
				</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
//<![CDATA[
seajs.use("script/archiQuesManage/quesIndexR", function(Init) {
    Init.init();
});
//]]>
</script>
