<div class="row" id="Page_dataMaintainView">
    <div class="col-md-12">
        <div class="box">
            <form id="JS_queryDataMaintainForm">
                <div class="box-header with-border">
                    <h3 class="box-title">按条件查询</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>属性名称</label>
                                <select class="form-control input-sm" name="propertyId" data-url="getPropertyName" data-idkey="propertyId" data-namekey="propertyName">
                                    <option>请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>相关表</label>
                                <input class="form-control input-sm" name="correlationTable" placeholder="请输入相关表" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>关联字段</label>
                                <input class="form-control input-sm" name="correlationField" placeholder="请输入关联字段" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="text-center">
                        <button type="reset" class="btn btn-default">重置</button> &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="box" id="JS_getDataMaintainList" style="min-height:100px;">
            <div class="box-header ">
                <h3 class="box-title">属性维护列表</h3>
                <div class="box-tools">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" name="add"><i class="fa fa-plus"></i> 添加</button>
                        <button type="button" class="btn btn-danger" name="del"><i class="fa fa-remove"></i> 删除</button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover" id="dataMaintainListTable">
                    <thead>
                        <tr>
                            <th class="iCheckbox" width="15"></th>
                            <th>属性</th>
                            <th>相关表</th>
                            <th>关联字段</th>
                            <!-- <th>别名</th> -->
                            <th>数据库</th>
                        </tr>
                    </thead>
                    <tbody name="content"></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <div class="dataTables_paginate" name="pagination"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- 新增弹框 -->
<div class="modal fade" id="JS_addDataMaintainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">属性维护</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <form id="JS_addDataMaintainInfo" class="form">
                    <div class="box-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>属性ID</label>
                                        <select name="propertyId" class="form-control" data-url="getPropertyName" data-subname="propertyCfgId" data-idkey="propertyId" data-namekey="propertyName" required>
                                            <option value="">
                                                请选择
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>相关表</label>
                                        <input name="correlationTable" class="form-control" placeholder="请输入表名" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>相关字段</label>
                                        <input name="correlationField" class="form-control" placeholder="请输入字段名" required>
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>数据配置字段</label>
                                        <select name="propertyCfgId" class="form-control " data-suburl="getPropertyConfigList" data-idkey="cigId" data-namekey="propertyField" name="propertyCfgId">
                                                <option value="0">
                                                    请选择
                                                </option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="text-red">* </i>
                                        <label>数据库</label>
                                        <select name="db" class="form-control " data-url="getDbList" data-idkey="db" data-namekey="db">
                                            <option value="0">
                                                请选择
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary pull-right" name="save">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- 属性维护修改弹框 -->
<div class="modal fade" id="JS_updateDataMaintainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">属性维护</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <form id="JS_updateDataMaintainInfo" class="form">
                    <div class="box-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>相关表</label>
                                        <input name="propertyResource" class="form-control" placeholder="请输入表名">
                                        </input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>关联字段</label>
                                        <input name="correlationField" class="form-control" placeholder="请输入字段名">
                                        </input>
                                    </div>
                                </div>
                                <!--  <div class="col-md-4">
                                   <div class="form-group">
                                       <label>别名</label>
                                       <input name="alias" class="form-control" placeholder="请输入别名">
                                       </input>
                                   </div>
                               </div> -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>数据库</label>
                                        <select name="db" class="form-control " data-url="getDbList" data-idkey="db" data-namekey="db">
                                            <option value="0">
                                                请选择
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary pull-right" name="save">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<script id="TPL_getDataMaintainTemp" type="text/x-handlebars-template">
    {{#each this}}
    <tr>
        <td>
            <input type="radio" class="minimal" value="{{correlationId}}" name="correlationId">
            <td>{{propertyId}}
                <input type="hidden" value="{{correlationId}}" name="correlationId">
            </td>
            <td>{{correlationTable}}</td>
            <td>{{correlationField}}</td>
            <!-- <td>{{alias}}</td> -->
            <td>{{db}}</td>
    </tr>
    {{/each}}
</script>
<script type="text/javascript">
//<![CDATA[
seajs.use("script/autoManage/dataBackups/dataMaintain", function(Init) {
    Init.init();
});
//]]>
</script>
