 <style type="text/css">
	#Page_taskMonitoring #JS_taskMonitoringList {min-height:50px;}
	#Page_taskMonitoring #taskSuccessFail {width: 600px;height:400px;}
	#Page_taskMonitoring #taskClassSuccess {width: 600px;height:400px;}
  </style>
<div class="row" id="Page_taskMonitoring">
    <div class="col-md-12">
        <div class="box">
            <form id="JS_queryDataForm">
                <div class="box-header with-border">
                    <h3 class="box-title">平台任务监控按条件查询</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body"><br/>
		            <div class ="row">
		            	<div class="form-group col-sm-6">
		            		<label class="col-sm-2  control-label">查询时间:</label>
		            		<div class="col-sm-4">
                  				<input type="text" class="form-control input-sm " name="startDate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
                  			</div>
                  		</div>
		            </div>
                </div>
                <div class="box-footer">
                    <div class="text-center">
                         <button type="reset" class="btn btn-default">重置</button>
                         <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="box" id="JS_taskMonitoringList">
            <div class="box-header ">
                <h3 class="box-title">监控信息列表</h3>
            </div>
            <div class="box-body">
                <div id="taskSuccessFail" style="width: 600px;height:400px;"></div>
                <div id="taskClassSuccess" style="width: 600px;height:400px;"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
//<![CDATA[
seajs.use("script/archTaskMonitoring/ArchTaskMonitoring", function(init) {
    init.init();
});
//]]>
</script>


