
<style type="text/css">
    #condition{
        width: 230px;
        padding:5px 0px;
        height: 30px;
        border:0.8px solid rgb(210, 214, 222);
        font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "STHeitiSC-Light", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
        font-style: normal;
        font-size: 12px;
        color: rgb(120, 120, 120);
    }
</style>
<div class="row" id="Page_taskMonitoring">
    <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#dataSelectByView" role="tab" data-toggle="tab">视图信息查询</a></li>
                <li role="presentation"><a href="#dataSelectByTable" role="tab" data-toggle="tab">表格信息查询</a></li>
                <li role="presentation"><a href="#dataSelectByTop" role="tab" data-toggle="tab">失败率Top10</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="dataSelectByView">
                    <div class="box">
                        <form id="JS_queryDataForm">
                            <div class="box-tools pull-right">
                            </div>
                            <div class="box-body"><br/>
                                <div class ="row">
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-2  control-label">查询时间:</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control input-sm " name="startDate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="text-center">
                                        <button type="reset" class="btn btn-default">重置</button>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box" id="JS_taskMonitoringList" style="min-height:100px;">
                        <div class="box-header ">
                            <h3 class="box-title">监控信息图一</h3>
                        </div>
                        <div class="box-body">
                            <div  id="JS_tableFirstHint"> </div>
                            <div id="taskSumAndSuccessful" style="width: 1000px;height:400px;margin: auto;position: relative;left: 0;right: 0;"></div>
                        </div>
                    </div>
                    <div class="box" id="JS_taskMonitoringListByTime" style="min-height:100px;">
                        <div class="box-header ">
                            <h3 class="box-title">监控信息图二</h3>
                        </div>
                        <div class="box-body">
                            <div  id="JS_tableSecondHint">
                            </div>
                            <div id="taskRuntimeByTime" style="width: 1000px;height:400px;margin: auto;position: relative;left: 0;right: 0;"></div>
                        </div>
                    </div>
                    <div class="box" id="JS_taskMonitoringFrequencyAndTimes" style="min-height:100px;">
                        <div class="box-header">
                            <h3 class="box-title">监控信息图三</h3>
                        </div>
                        <div class="box-body">
                            <div  id="JS_tableThirdHint"></div>
                            <div style="width: 1000px;height: 400px;margin: auto;position: relative;left: 0;right: 0;">
                                <div id="taskRuntimeByFrequency" style="width: 500px;height:400px;margin:auto;float: left"></div>
                                <div id="taskRuntimeByTimes" style="width: 500px;height:400px;margin: auto;float: left;"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="dataSelectByTable">
                    <div class="box" >
                        <form id="JS_queryDataFormTable">
                            <div class="box-body"><br/>
                                <div class ="row">
                                    <div class="form-group col-sm-6" style="float: left">
                                        <label class="col-sm-2  control-label">查询时间:</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control input-sm " name="startDate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6" >
                                        <label class="col-sm-2  control-label">查询内容:</label>
                                        <div class="col-sm-4">
                                            <select name="condition" id="condition">
                                                <option value="">请选择</option>
                                                <option value="failTaskList">表一&nbsp;&nbsp;一周内失败任务信息清单</option>
                                                <option value="taskRunningFrequency">表二&nbsp;&nbsp;一天内任务运行频率情况信息</option>
                                                <option value="taskRunInTime">表三&nbsp;&nbsp;一天中任务指定时长内任务运行信息</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="text-center">
                                        <button type="reset" class="btn btn-default" name="resetSelect">重置</button>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box" id="JS_taskMonitoringListTable" style="width:auto;height:auto;">
                        <div class="box-header with-border">
                            <div class="box-tools pull-right" style="margin-bottom: 10px">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-target="#firstTable"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body" id="firstTable" style="overflow: auto;height:360px">
                            <table class="table table-bordered table-hover" id="dataMaintainListTable">
                                <tbody name="content"></tbody>
                            </table>
                        </div>
                        <div class="box-footer no-border">
                            <div class="dataTables_paginate" name="pagination" style="text-align:center"></div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="dataSelectByTop">
                    <div class="box">
                        <form id="JS_queryDataFormTop">
                            <div class="box-tools pull-right">
                            </div>
                            <div class="box-body"><br/>
                                <div class ="row">
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-2  control-label">查询时间:</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control input-sm " name="startDate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="text-center">
                                        <button type="reset" class="btn btn-default">重置</button>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box" id="JS_taskMonitoringListTopFirst" style="width: 33%;height:350px;float: left;">
                        <div style="text-align: center;">一周内任务失败次数Top10</div>
                        <div class="box-body" >
                            <table class="table table-bordered table-hover" id="TopTableFirst">
                                <thead>
                                <tr>
                                    <th style="width:80px"></th>
                                    <th style="text-align:center">cfg_task_id</th>
                                    <th style="text-align:center">失败次数</th>
                                </tr>
                                </thead>
                                <tbody name="content"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box" style="width: 33%;height:350px;float:left;">
                        <div style=";text-align: center;">*****************************</div>
                        <div class="box-body" >
                            <table class="table table-bordered table-hover" id="TopTableSecond">
                                <thead>
                                <tr>
                                    <th style="width:80px"></th>
                                    <th style="text-align:center">cfg_task_id</th>
                                    <th style="text-align:center">countNum</th>
                                </tr>
                                </thead>
                                <tbody name="content"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

 <script id="TPL_getFullTableList" type="text/x-handlebars-template">

     <tr>
         <th colspan="1" style="text-align: left;color:rgb(84,84,51)">监控信息表格一</th>
         <th colspan="4" style="text-align: center;color:rgb(84,84,51)">一周内失败任务信息清单</th>
     </tr>
     <tr>
         <th style="width:110px"></th>
         <th style="text-align:center">start_date</th>
         <th style="text-align:center">cfg_task_id</th>
         <th style="text-align:center">task_name</th>
         <th style="text-align:center">business_class</th>
     </tr>
     {{#each this}}
     <tr style="text-align: center">
         <td><input type="radio" class="minimal" value="{{idThird}}" name="idThird"></td>
         <td>{{startTime}}</td>
         <td>{{cfgTaskId}}</td>
         <td>{{taskName}}</td>
         <td>{{businessClass}}</td>
     </tr>
     {{/each}}
 </script>
 <script id="TPL_getFullTableListSecond" type="text/x-handlebars-template">
     <tr>
         <th colspan="1" style="text-align:left;color:rgb(84,84,51)">监控信息表格二</th>
         <th colspan="4" style="text-align:center;color: rgb(84,84,51)">一天内任务运行频率情况信息</th>
     </tr>
     <tr>
     <th style="width:110px"></th>
     <th style="text-align:center">运行次数</th>
     <th style="text-align:center">cfg_task_id</th>
     <th style="text-align:center">task_name</th>
     <th style="text-align:center">business_class</th>
     </tr>
     {{#each this}}
     <tr style="text-align: center">
         <td><input type="radio" class="minimal" value="{{idThird}}" name="idThird"></td>
         <td>{{times}}</td>
         <td>{{cfgTaskId}}</td>
         <td>{{taskName}}</td>
         <td>{{businessClass}}</td>
     </tr>
     {{/each}}
 </script>
<script id="TPL_getFullTableListThird" type="text/x-handlebars-template">
    <tr>
        <th colspan="1" style="text-align: left;color:rgb(84,84,51)">监控信息表格三</th>
        <th colspan="3" style="text-align: center;color:rgb(84,84,51)">一天中任务指定时长内任务运行信息</th>
    </tr>
    <tr>
    <th style="width:110px"></th>
    <th style="text-align:center">运行时长(分钟)</th>
    <th style="text-align:center">cfg_task_id</th>
    <th style="text-align:center">task_name</th>
    </tr>
    {{#each this}}
    <tr style="text-align: center">
        <td><input type="radio" class="minimal" value="{{idThird}}" name="idThird"></td>
        <td>{{minutes}}</td>
        <td>{{cfgTaskId}}</td>
        <td>{{taskName}}</td>
    </tr>
    {{/each}}
</script>
<script id="TPL_getTopTableFirst" type="text/x-handlebars-template">
    {{#each this}}
    <tr style="text-align: center">
        <td></td>
        <td>{{cfgTaskId}}</td>
        <td>{{countSum}}</td>
    </tr>
    {{/each}}
</script>
<script type="text/javascript">
seajs.use("script/archTaskMonitoring/ArchTaskMonitoring", function(init) {
    init.init();
});
</script>


