<div class="row" id="Page_taskMonitoring">
    <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#dataSelectByView" role="tab" data-toggle="tab">视图信息查询</a></li>
                <li role="presentation"><a href="#dataSelectByTable" role="tab" data-toggle="tab">表格信息查询</a></li>
                <li role="presentation"><a href="#dataSelectByTop" role="tab" data-toggle="tab">失败率Top10</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="dataSelectByView">
                    <div class="box">
                        <form id="JS_queryDataForm">
                            <div class="box-tools pull-right">
                            </div>
                            <div class="box-body"><br/>
                                <div class ="row">
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-2  control-label">查询时间:</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control input-sm " name="startDate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="text-center">
                                        <button type="reset" class="btn btn-default">重置</button>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box" id="JS_taskMonitoringList" style="min-height:100px;">
                        <div class="box-header ">
                            <h3 class="box-title">监控信息图一</h3>
                        </div>
                        <div class="box-body">
                            <div  style="float: left;width: 120px;height:100px; color:cadetblue;margin-top: 250px">
                                对应表格信息请到<br>&nbsp;&nbsp;&nbsp;第二页<br><br>
                                ->表格信息查询<br><br>
                                ->监控信息表格一<br>
                            </div>
                            <div id="taskSumAndSuccessful" style="width: 1000px;height:400px;margin: auto;position: relative;left: 0;right: 0;"></div>
                        </div>
                    </div>
                    <div class="box" id="JS_taskMonitoringListByTime" style="min-height:100px;">
                        <div class="box-header ">
                            <h3 class="box-title">监控信息图二</h3>
                        </div>
                        <div class="box-body">
                            <div  style="float: left;width: 120px;height:100px; color:cadetblue;margin-top: 250px">
                                对应表格信息请到<br>&nbsp;&nbsp;&nbsp;第二页<br><br>
                                ->表格信息查询<br><br>
                                ->监控信息表格二<br>
                            </div>
                            <div id="taskRuntimeByTime" style="width: 1000px;height:400px;margin: auto;position: relative;left: 0;right: 0;"></div>
                        </div>
                    </div>
                    <div class="box" id="JS_taskMonitoringFrequencyAndTimes" style="min-height:100px;">
                        <div class="box-header">
                            <h3 class="box-title">监控信息图三</h3>
                        </div>
                        <div class="box-body">
                            <div  style="float: left;width: 120px;height:100px; color:cadetblue;margin-top: 250px">
                                对应表格信息请到<br>&nbsp;&nbsp;&nbsp;第二页<br><br>
                                ->表格信息查询<br><br>
                                ->监控信息表格三<br>
                            </div>
                            <div style="width: 1000px;height: 400px;margin: auto;position: relative;left: 0;right: 0;">
                                <div id="taskRuntimeByFrequency" style="width: 500px;height:400px;margin:auto;float: left"></div>
                                <div id="taskRuntimeByTimes" style="width: 500px;height:400px;margin: auto;float: left;"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="dataSelectByTable">
                    <div class="box" >
                        <form id="JS_queryDataFormTable">
                            <div class="box-tools pull-right">

                            </div>
                            <div class="box-body"><br/>
                                <div class ="row">
                                    <div class="form-group col-sm-6" style="float: left">
                                        <label class="col-sm-2  control-label">查询时间:</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control input-sm " name="startDate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
                                        </div>
                                    </div>
                                    <div class="dropdown" style="float:right;">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            快速定位表格位置
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="#JS_taskMonitoringListTable">失败任务信息清单</a></li>
                                            <li><a href="#JS_taskMonitoringListTableSecond">任务运行频率分布清单</a></li>
                                            <li><a href="#JS_taskMonitoringListTableThird">指定时长内任务运行清单</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="text-center">
                                        <button type="reset" class="btn btn-default">重置</button>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box" id="JS_taskMonitoringListTable" style="width:auto;height:auto;">
                        <div class="box-header with-border">
                            <h3 class="box-title">监控信息表格一</h3>
                            <div style="text-align: center;">一周内失败任务信息清单</div>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-target="#firstTable"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body" id="firstTable" style="overflow: auto;height:270px">
                            <table class="table table-bordered table-hover" id="dataMaintainListTable">
                                <thead>
                                <tr>
                                    <th style="width:30px"></th>
                                    <th style="text-align:center">start_date</th>
                                    <th style="text-align:center">cfg_task_id</th>
                                    <th style="text-align:center">task_name</th>
                                    <th style="text-align:center">business_class</th>
                                </tr>
                                </thead>
                                <tbody name="content"></tbody>
                            </table>
                        </div>
                        <div class="box-footer no-border">
                            <div class="dataTables_paginate" name="pagination" style="text-align:center"></div>
                        </div>
                    </div>
                    <div class="box" id="JS_taskMonitoringListTableSecond" >
                        <div class="box-header with-border">
                            <h3 class="box-title">监控信息表格二</h3>
                            <div style="text-align: center;">一天内任务运行频率情况信息</div>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-target="#firstTable"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body" id="secondTable" style="overflow: auto;height:270px">
                            <table class="table table-bordered table-hover" id="dataMaintainListTableSecond">
                                <thead>
                                <tr>
                                    <th style="width:30px"></th>
                                    <th style="text-align:center">运行次数</th>
                                    <th style="text-align:center">cfg_task_id</th>
                                    <th style="text-align:center">task_name</th>
                                    <th style="text-align:center">business_class</th>
                                </tr>
                                </thead>
                                <tbody name="content"></tbody>
                            </table>
                        </div>
                        <div class="box-footer no-border">
                            <div class="dataTables_paginate" name="pagination" style="text-align:center"></div>
                        </div>
                    </div>
                    <div class="box" id="JS_taskMonitoringListTableThird" style="height:auto;">
                        <div class="box-header with-border">
                            <h3 class="box-title">监控信息表格三</h3>
                            <div style=";text-align: center;">一天中任务指定时长内任务运行信息</div>
                            <div class="box-tools pull-left">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-target="#firstTable"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body" style="overflow: auto;height:270px">
                            <table class="table table-bordered table-hover" id="dataMaintainListTableThird">
                                <thead>
                                <tr>
                                    <th style="width:130px"></th>
                                    <th style="text-align:center">运行时长(分钟)</th>
                                    <th style="text-align:center">cfg_task_id</th>
                                    <th style="text-align:center">task_name</th>
                                </tr>
                                </thead>
                                <tbody name="content"></tbody>
                            </table>
                        </div>
                        <div class="box-footer no-border">
                            <div class="dataTables_paginate" name="pagination" style="text-align:center"></div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="dataSelectByTop">
                    <div class="box">
                        <form id="JS_queryDataFormTop">
                            <div class="box-tools pull-right">
                            </div>
                            <div class="box-body"><br/>
                                <div class ="row">
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-2  control-label">查询时间:</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control input-sm " name="startDate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="text-center">
                                        <button type="reset" class="btn btn-default">重置</button>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box" id="JS_taskMonitoringListTopFirst" style="width: 33%;height:350px;float: left;">
                        <div style="text-align: center;">一天中任务指定时长内任务运行信息</div>
                        <div class="box-body" >
                            <table class="table table-bordered table-hover" id="TopTableFirst">
                                <thead>
                                <tr>
                                    <th style="width:80px"></th>
                                    <th style="text-align:center">cfg_task_id</th>
                                    <th style="text-align:center">运行次数</th>
                                </tr>
                                </thead>
                                <tbody name="content"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box" style="width: 33%;height:350px;float:left;">
                        <div style=";text-align: center;">***********************************</div>
                        <div class="box-body" >
                            <table class="table table-bordered table-hover" id="TopTableSecond">
                                <thead>
                                <tr>
                                    <th style="width:80px"></th>
                                    <th style="text-align:center">cfg_task_id</th>
                                    <th style="text-align:center">countNum</th>
                                </tr>
                                </thead>
                                <tbody name="content"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

 <script id="TPL_getFullTableList" type="text/x-handlebars-template">
     {{#each this}}
     <tr style="text-align: center">
         <td><input type="radio" class="minimal" value="{{idThird}}" name="idThird"></td>
         <td>{{startTime}}</td>
         <td>{{cfgTaskId}}</td>
         <td>{{taskName}}</td>
         <td>{{businessClass}}</td>
     </tr>
     {{/each}}
 </script>
 <script id="TPL_getFullTableListSecond" type="text/x-handlebars-template">
     {{#each this}}
     <tr style="text-align: center">
         <td><input type="radio" class="minimal" value="{{idThird}}" name="idThird"></td>
         <td>{{times}}</td>
         <td>{{cfgTaskId}}</td>
         <td>{{taskName}}</td>
         <td>{{businessClass}}</td>
     </tr>
     {{/each}}
 </script>
<script id="TPL_getFullTableListThird" type="text/x-handlebars-template">
    {{#each this}}
    <tr style="text-align: center">
        <td><input type="radio" class="minimal" value="{{idThird}}" name="idThird"></td>
        <td>{{minutes}}</td>
        <td>{{cfgTaskId}}</td>
        <td>{{taskName}}</td>
    </tr>
    {{/each}}
</script>
<script id="TPL_getTopTableFirst" type="text/x-handlebars-template">
    var num = 1;
    {{#each this}}
    <tr style="text-align: center">
        <td></td>
        <td>{{cfgTaskId}}</td>
        <td>{{countNum}}</td>
    </tr>
    num++;
    <%num++%>
    {{/each}}
</script>
<script type="text/javascript">
seajs.use("script/archTaskMonitoring/ArchTaskMonitoring", function(init) {
    init.init();
});
</script>


