<div id="Page_welcome" class="page-welcome">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body" id="JS_getWelcomeKpiList">
                    <div class="text-loader">
                        <div class="text-loader-content">
                            <i class="fa fa-refresh fa-spin"></i> 请稍候，数据加载中...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        	<div class="box box-solid">
               <div class="box-body no-padding" style="overflow: hidden;">
                   <div class="row welcome-calendar">
                       <div class="col-md-4 calendar-title">
                           <h3>上线日历</h3>
                           <p name="showTime"></p>
                       </div>
                       <div class="col-md-8">
                           <!--The calendar -->
                           <div id="JS_getWelcomePlanDate" class="calendar-content" >
                               <div class="text-loader min-height">
                                   <div class="text-loader-content">
                                       <i class="fa fa-refresh fa-spin"></i> 请稍候，数据加载中...
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">问题展示</h3>
                </div>
				<ul class="indexline" name="wordGull" style="padding: 0px">
				</ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-solid" style="height:493px">
                <div class="box-header">
                    <h3 class="box-title">系统数量统计</h3>
                    <div class="box-tools">
                        <div class="page-list pull-right">
                            <ul name="complimeNum"></ul>
                        </div>
                        <!-- <span class="flow-online-tips pull-right">本次上线已发布<span name="maxNum"></span>次</span> -->
                    </div>
                </div>
                <div class="box-body" id="JS_getWelcomeFlowList" style="padding: 10px 0;">
                    <div id="echartsPie" style="width:100%;height:471px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
	.page-welcome .ques-word {
		width:50%;
		display: inline-block;
		white-space:nowrap;
		text-overflow:ellipsis; 
		-o-text-overflow:ellipsis; 
		overflow: hidden;
	}
	.page-welcome .ques-state {
		width:16%;
		display: inline-block;
		white-space:nowrap;
		text-overflow:ellipsis; 
		-o-text-overflow:ellipsis; 
		overflow: hidden;
	}
	.page-welcome .ques-time {
		width:30%;
		display: inline-block;
		white-space:nowrap;
 		text-overflow:ellipsis; 
		-o-text-overflow:ellipsis; 
		overflow: hidden; 
	}
	.page-welcome ul.indexline{
		font-weight: bold;
		width: 100%;
		height: 150px;
		background-color: #ffffff;
		overflow: hidden;
	} 
	.page-welcome ul.indexline li{height:30px;text-indent:15px; font-size:12px; line-height:30px;list-style:none} 
     .page-welcome h3.box-title{
       color: #44abe5;
    }
    .page-welcome .info-count{
        padding: 10px;
    }
    .page-welcome .info-count ul,.page-welcome .info-count li{
        list-style: none;
    }
    .page-welcome .info-box-icon{
        height: 50px;
        width: 50px;
        font-size: 26px;
        line-height: 50px;
        border-radius:0;
    }
    .page-welcome .info-box-content{
        margin-left: 50px;
        padding: 2px 15px;
    }

    .page-welcome .info-box-content .info-box-number{
        font-weight:normal;
        font-size: 22px;
    }

    .page-welcome .info-box-content .info-box-text{
        color: #666;
    }
    .page-welcome .info-count .text-aqua{
        color: #44abe5 !important;
    }
    .page-welcome .info-count .text-red{
        color: #f7245b !important;
    }
    .page-welcome .info-count .text-green{
        color: #8ac14a !important;
    }
    .page-welcome .info-count .text-yellow{
        color: #ff9922 !important;
    }


    .welcome-calendar .calendar-title{
        background: #f9f9f9;
        height: 270px;
        padding-left: 40px;
    }

    .welcome-calendar .calendar-title h3{
        font-size: 16px;
        font-weight: bold;
        color: #44abe5;
        margin-top: 100px;
    }
    .welcome-calendar .calendar-title p{
        color: #44abe5;
        font-size: 16px;
    }
    .welcome-calendar .calendar-content{
        width: 320px;
        margin: 0 auto;
        padding: 10px 10px 0 0;
    }

    .page-welcome .timeline > li > .timeline-item > .timeline-header{
        font-size: 14px
    }
    .page-welcome .timeline .timeline-body {
        font-size: 12px
    }
    .page-welcome .box .timeline-item{
        box-shadow:none;
    }
    .page-welcome .page-list,
    .page-welcome .page-list ul li{
        list-style: none;
        font-size:12px;
        color:#999;
        line-height:20px;
        float:left;
        margin-left:5px;
        padding: 0;
    }
    .page-welcome .page-list ul{
        padding: 0;
        margin-right: 10px;
    }
    .page-welcome .page-list ul li{
        width:20px;
        height: 20px;
        border-radius: 50%;
        text-align:center;
        border:1px solid #999;
        cursor:pointer;
    }
    .page-welcome .page-list ul li.active{
        color:#fff;
        background:#44abe6;
        border:1px solid #44abe6;
    }
    .page-welcome .flow-online-tips{
        color: #787878;
    }
    .welcome-kpiList{
        padding-top: 20px;
    }
    .welcome-kpiList label{
        font-weight: 100;
        margin-left: 5px;
    }
    .welcome-kpiList .col-md-3{
        margin-bottom: 10px;
    }
    .page-welcome .timeline > li > .fa{
        cursor: pointer;
    }
</style>

<!-- handlebars/获取总计结果 -->
<script id="TPL_getWelcomeKpiList" type="text/x-handlebars-template">
<div class="row info-count">
<div id="welcome_carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {{#each this}}
        <ul class="row item {{isActive @index}}" style="list-style:none">
            {{#each this}}
            <li class="col-md-3">
                <span class="info-box-icon bg-{{bgColor}}"><i class="{{icon}}"></i></span>
                <div class="info-box-content">
                    <span title="{{ext1}}" class="info-box-text">{{shrinkHtmlFilter ext1 10}}</span>
                    <span class="info-box-number text-{{bgColor}}">{{value}}<small>{{setPercent kpiType}}</small></span>
                </div>
            </li>
            {{/each}}
        </ul>
        {{/each}}
    </div>
    <a class="carousel-control left" href="#welcome_carousel" data-slide="prev">Previous</a>
    <a class="carousel-control right" href="#welcome_carousel" data-slide="next">Next</a>
  </div>
</div>
</script>
<script>
seajs.use("script/welcome", function(Query) {
    Query.init();
});
</script>