<div id="Page_welcome" class="page-welcome">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-body" id="JS_getWelcomeKpiList">
					<div class="text-loader">
						<div class="text-loader-content">
							<i class="fa fa-refresh fa-spin"></i> 请稍候，数据加载中...
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	    <!-- 模块一    -->
		<div class="col-md-12">
			<!-- 连接池  -->
			<div class="col-md-4">
				<div class="box" style="border-top: 3px solid #3c8dbc;">
					<div class="box-header with-border">
						<h3 class="box-title"><i class="fa fa-microchip" style="margin-right: 10px"></i>连接池</h3>					
					</div>
					<div class="box-body" style="height: 100px">
					    <div class="row" id="JS_connectionPoolText"> 
					    	<h3>暂无数据</h3>
					    </div>	
					</div>
					<div class="box-footer">
					    <button type="button" class="btn btn-primary"  data-toggle="modal" name="poolButton">更多信息</button>				
					</div>						
				</div>
			</div>
			<!-- 错误码 -->
			<div class="col-md-4">
				<div class="box" style="border-top: 3px solid #00a65a;">
					<div class="box-header with-border">
						<i class="fa fa-ravelry" style="margin-right: 10px"></i><h3 class="box-title" name="errcode-title">CSF错误码配置规范</h3>					
					</div>
					<div class="box-body" style="height: 100px; overflow:hidden" >
						<div class="row" id="JS_errorCodeText">
							<ul class="indexline" name="wordGull" style="padding: 0px">
	                		</ul>
						</div>
					</div>
					<div class="box-footer">
	          			<button type="button" class="btn btn-primary"  data-toggle="modal" name="errCodeButton">更多信息</button>		          			
					</div>						 
				</div>
			</div>
			<!-- 基线系统  -->
			<div class="col-md-4">
				<div class="box" style="border-top: 3px solid #f39c12;">
					<div class="box-header with-border">
						<h3 class="box-title"><i class="fa fa-window-maximize" style="margin-right: 10px"></i>三级系统管理</h3>					
					</div>
					<div class="box-body" style="height: 100px">
	          			<div class="row" id="JS_monthReportNowData">
	          				<h3>暂无数据</h3>
	          			</div>
					</div>	
					<div class="box-footer">
	          			<button type="button" class="btn btn-primary"  data-toggle="modal" name="sysButton">三级系统申请</button>		          			
					</div>					
				</div>
			</div>
		</div>
		
		<!-- 模块2 -->
		<div class="col-md-4">
		    <!-- 热门菜单 -->		    
			<div class="col-md-12">			
				<div class="box" style="border-top: 3px solid #8ac14a;">
					<div class="box-header">
						<h3 class="box-title">热门菜单TOP10</h3>
					</div>
					<div id="JS_functionRecordMenu" class="box-body top-list-comsty">
					</div>
				</div>
			</div>
			
			<!-- 日历  -->
			<div class="col-md-12">
	            <div class="box" style="border-top: 3px solid #00a65a;">
	               <div class="box-body no-padding" style="overflow: hidden;">
	                   <div class="row welcome-calendar">
	                       <div class="col-md-12">
	                           <!--The calendar -->
	                           <div id="JS_getWelcomePlanDate" class="calendar-content" >
	                               <div class="text-loader min-height">
	                                   <div class="text-loader-content">
	                                       <i class="fa fa-refresh fa-spin"></i> 请稍候，数据加载中...
	                                   </div>
	                               </div>
	                           </div>
	                       </div>
	                   </div>
	               </div>
	            </div>
			</div>
			
			<!--  一级域 echarts  -->
			<div class="col-md-12">
				<div class="box box-solid" style="height:279px">
					<div class="box-body">
						<div id="JS_echartsPie" style="width:100%;height:280px"></div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 模块3 -->
		<div class="col-md-8">
		    <!-- 一级架构图  -->		    
			<div class="col-md-12">
				<div class="box" style="border-top: 3px solid #00c0ef;">
					<div class="box-header">
						<h3 class="box-title">系统架构分级视图 </h3>
					</div>
					<img id="JS_archView" src="style/welcome/firstDomain.png" style="width:100%;cursor: pointer;"></img>		
				</div>
			</div>
			
			<!-- 巡检问题  -->		
			<div class="col-md-12">
				<div class="box" style="border-top: 3px solid #dd4b39;">
					<div class="box-header with-border">
						<h3 class="box-title">疑难类问题管控</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<table class="table table-bordered" id="JS_quesTable">
							<thead>					
								<tr>
                    				<th class="iCheckbox" width="15"></th>
									<th>问题</th>
									<th>所属中心系统</th>
									<th>问题优先级</th>
									<th>状态</th>
									<th>创建时间</th>								
								</tr>
				            </thead>
							<tbody  id="JS_quesShow"></tbody>
						</table>
					</div>
					<!-- /.box-body -->
					<div class="box-footer clearfix">
						<div class="dataTables_paginate" name="pagination"></div>						
					</div>
				</div>
				<!-- /.box -->
			</div>	
		</div>
	</div>
</div>
<style>
	.page-welcome .top-icon-declick {
	    cursor: pointer;	
	}
	.page-welcome #JS_functionRecordMenu  li {
	    cursor: pointer;	
	}
	.page-welcome .errcode-center{
	    blue;
	    font-size:14px;
	}
	.page-welcome .errcode-percentage{
	    color:red;
	    font-size:16px;
	}
	.page-welcome .errcode-standard{
	    color:red;
	    font-size:16px;
	}
	.page-welcome ul.indexline{
		font-weight: bold;
		width: 100%;
		height: 240px;
		background-color: #ffffff;
		overflow: hidden;
	} 
	.page-welcome ul.indexline li{height:30px;text-indent:15px; font-size:12px; line-height:30px;list-style:none} 
     .page-welcome h3.box-title{
		/*   color: #44abe5;*/    
 		color: #333;}
    .page-welcome .info-count{
        padding: 10px;
    }
    .page-welcome .info-count ul,.page-welcome .info-count li{
        list-style: none;
    }
    .page-welcome .info-box-icon{
        height: 50px;
        width: 50px;
        font-size: 26px;
        line-height: 50px;
        border-radius:0;
    }
    .page-welcome .info-box-content{
        margin-left: 50px;
        padding: 2px 15px;
    }

    .page-welcome .info-box-content .info-box-number{
        font-weight:normal;
        font-size: 22px;
    }

    .page-welcome .info-box-content .info-box-text{
        color: #666;
    }
    .page-welcome .info-count .text-aqua{
        color: #44abe5 !important;
    }
    .page-welcome .info-count .text-red{
        color: #f7245b !important;
    }
    .page-welcome .info-count .text-green{
        color: #8ac14a !important;
    }
    .page-welcome .info-count .text-yellow{
        color: #ff9922 !important;
    }
    .page-welcome .text-style {
    	color:red;font-size:16px;
    }
    .welcome-calendar .calendar-title{
        background: #f9f9f9;
        height: 270px;
        padding-left: 40px;
    }

    .welcome-calendar .calendar-title h3{
        font-size: 16px;
        font-weight: bold;
        color: #44abe5;
        margin-top: 100px;
    }
    .welcome-calendar .calendar-title p{
        color: #44abe5;
        font-size: 16px;
    }
    .welcome-calendar .calendar-content{
        width: 320px;
        margin: 0 auto;
        padding: 10px 10px 0 0;
    }

    .page-welcome .timeline > li > .timeline-item > .timeline-header{
        font-size: 14px
    }
    .page-welcome .timeline .timeline-body {
        font-size: 12px
    }
    .page-welcome .box .timeline-item{
        box-shadow:none;
    }
    .page-welcome .page-list,
    .page-welcome .page-list ul li{
        list-style: none;
        font-size:12px;
        color:#999;
        line-height:20px;
        float:left;
        margin-left:5px;
        padding: 0;
    }
    .page-welcome .page-list ul{
        padding: 0;
        margin-right: 10px;
    }
    .page-welcome .page-list ul li{
        width:20px;
        height: 20px;
        border-radius: 50%;
        text-align:center;
        border:1px solid #999;
        cursor:pointer;
    }
    .page-welcome .page-list ul li.active{
        color:#fff;
        background:#44abe6;
        border:1px solid #44abe6;
    }
    .page-welcome .flow-online-tips{
        color: #787878;
    }
    .welcome-kpiList{
        padding-top: 20px;
    }
    .welcome-kpiList label{
        font-weight: 100;
        margin-left: 5px;
    }
    .welcome-kpiList .col-md-3{
        margin-bottom: 10px;
    }
    .page-welcome .timeline > li > .fa{
        cursor: pointer;
    }
    /* 热门菜单样式 start */
    .Page_functionRecord .top-list-comsty{height: 420px;}
	.top-list-comsty .menu-data-num{color: #8C929A; position: absolute;right: 0;top: 0;}
	.top-list-comsty ul {padding:10px;}
	.top-list-comsty .toplist-primicon0{background-position: 0 0;text-shadow: 0px 0px 0 #999999;}
	.top-list-comsty .toplist-primicon1{background-position: -25px 0;text-shadow: 0px 0px 0 #999999;}
	.top-list-comsty .toplist-primicon2{background-position: -50px 0;text-shadow: 0px 0px 0 #999999;}
	.top-list-comsty li {
	    border-top: 1px dotted #D3D3D3;
	    height: 40px;
	    line-height: 36px;
	    overflow: hidden;
	    padding: 0 70px 0 25px;
	    position: relative;
	}
	.top-list-comsty li i{
	    background: url(style/images/ranksbg.png) no-repeat scroll -75px 0 transparent;
	    color: #FFFFFF;
	    display: block;
	    float: left;
	    font-family: Arial;
	    font-size: 13px;
	    font-style: normal;
	    height: 28px;
	    left: 0;
	    line-height: 20px;
	    margin-top: 7px;
	    position: absolute;
	    text-align: center;
	    text-indent: -4px;
	    top: 0;
	    width: 18px;
	}
	.baseDataChange{
		font-size:1.35em;
		font-weight:600;
		color:#f17074;
		margin:0em 0em 0.4em 0em;
	}
	/* 热门菜单样式 end */
	.pool-cfg-text {
		color: red;
	    margin: 0 10px;
	    font-size: 25px;
	}
</style>

<!-- 热门菜单数据  -->
<script id="TPL_getWelcomeHotfunction" type="text/x-handlebars-template">
<ul>
{{#each this}}
	<li><i class={{iconContrll @index}}>{{nextGroupTitle @index}}</i><a>{{dataName}}</a><span class="menu-data-num">{{dataNum}}</span></li>
</tr>
{{/each}}
</ul>
</script>

<!-- handlebars/获取总计结果 -->
<script id="TPL_getWelcomeKpiList" type="text/x-handlebars-template">
<div class="row info-count">
<div id="welcome_carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {{#each this}}
        <ul class="row item {{isActive @index}}" style="list-style:none">
            {{#each this}}
            <li class="col-md-3 top-icon-declick" data-nodeid="{{ext3}}">
                <span class="info-box-icon bg-{{bgColor}}"><i class="{{icon}}"></i></span>
                <div class="info-box-content">
                    <span title="{{ext1}}" class="info-box-text">{{shrinkHtmlFilter ext1 10}}</span>
                    <span class="info-box-number text-{{bgColor}}">{{value}}<small>{{setPercent kpiType}}</small></span>
                </div>
            </li>
            {{/each}}
        </ul>
        {{/each}}
    </div>
    <a class="carousel-control left" href="#welcome_carousel" data-slide="prev">Previous</a>
    <a class="carousel-control right" href="#welcome_carousel" data-slide="next">Next</a>
  </div>
</div>
</script>

<script id="TPL_connectionPoolTempText" type="text/x-handlebars-template">
<div class="events-grid" >
	<div class="events-semi-grid">
		{{#if change}}<p style="text-indent:2em;margin-top:0px;" name="textShow"><span name="timeShowTwo"></span>日共成功采集<span class="pool-cfg-text">{{collect}}</span>个系统连接池配置<span class="pool-cfg-text">{{total}}</span>条，经巡检发现<span class="pool-cfg-text">{{change}}</span>条配置存在变更，具体变更清单请选择“查询状态”条件为“是”后再次查询。</p>
		{{/if}}
		<p style="text-indent:2em;margin-top:0px;" name="textShowTwo"><span name="timeShowTwo"></span>日共成功采集<span class="pool-cfg-text">{{collect}}</span>个系统连接池配置<span class="pool-cfg-text">{{total}}</span>条，经巡检未发现配置变更。</p>
	</div>
</div>
</script>

<!-- 更新数据具体数值 -->
<script id="TPL_baseDataChangeTempA" type="text/x-handlebars-template">
	<h4>本月收到IT系统架构基线:</h4>
	<p>
		{{#if applycount}}<span name="span">申请{{applycount}}起，</span>{{/if}}{{#if tongguo}}<span name="span">审批通过{{tongguo}}起，</span>{{/if}}{{#if bohui}}<span name="span">驳回{{bohui}}起，</span>{{/if}}
		{{#if xinzeng}}<span name="span">新增{{xinzeng}}个三级域系统中包含：</span>{{/if}}  {{#if yewu}}业务支撑域{{yewu}}个<span name="punctuation">、</span>{{/if}}  {{#if guanxin}}管信域{{guanxin}}个<span name="punctuation">、</span>{{/if}} 
	    {{#if bomc}}BOMC域{{bomc}}个<span name="punctuation">、</span>{{/if}} {{#if anquan}}安全域{{anquan}}个<span name="punctuation">、</span>{{/if}} {{#if shuju}}大数据域{{shuju}}个<span name="punctuation">、</span>{{/if}} 
	    {{#if gonggong}}公共域{{gonggong}}个<span name="punctuation">、</span>{{/if}}{{#if wangluo}}网络域{{wangluo}}个<span name="punctuation">、</span>{{/if}}  {{#if dishi}}地市域{{dishi}}个<span name="punctuation">、</span>{{/if}}  {{#if kaifang}} 开放域{{kaifang}}个<span name="punctuation">、</span>{{/if}}
	</p>
</div>
</script>

<!-- 更新数据具体数值 -->
<script id="TPL_baseDataChangeTempC" type="text/x-handlebars-template">
	<h4 class="baseDataChange">本月暂无数据！</h4><br>
</script>

<!--		<div class="progress progress-xs">
			<div class="progress-bar progress-bar-danger"
				style="width: 55%"></div>
		</div>  -->
<!-- 巡检问题展示  -->
<script id="TPL_questionShow" type="text/x-handlebars-template">
{{#each this}}
<tr>
	<td><input type="radio" class="minimal" value="{{quesId}}" name="quesId"></td>
	<td>{{occurEnvironment}}</td>
	<td>{{belongProject}}</td>
	<td>{{priority}}</td>
	<td><span class="badge {{quesStateColor state}}">{{state}}</span>
	<td>{{createDate}}</td>
	</td>
</tr>
{{/each}}
</script>
<!-- 错误码 -->
<script id="TPL_errorCodeTempText" type="text/x-handlebars-template">
<div class="events-grid">
	<div class=" events-semi-grid">
		{{#each this}}
			<p style="text-indent:2em;margin-top:13px;" name="textShowTwo">
				<span class="text-style">{{center}}</span>CSF服务错误码覆盖率为
				<span class="text-style">{{percentage}}%</span>;规范率为
				<span class="text-style">{{standard}}%</span>;
			</p>
		{{/each}}
	</div>
</div>
</script>
<script>
seajs.use("script/welcome", function(Query) {
    Query.init();
});
</script>