<div id="Page_workbench" class="page-workbench">
    <div class="row" id="JS_getOwnHomeInfo">
        <div class="text-loader min-height">
            <div class="text-loader-content">
                <i class="fa fa-refresh fa-spin"></i> 数据加载中，请稍候...
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="css/workbanchStyle.css" />
<style>
    /*new icon style  start*/
    .user-main-cnt .total-item-word {
   	 	color: #8d8d8d;
		float: right;
	    width: 115px;
	    text-align: center;
	    border-right: 1px solid #b4b2b2;
    }
    .user-main-cnt .total-item-num {
	    font-weight: bolder;
	    font-size: 25px;
	    text-align: center;
	    width: 115px;
	    float: right;
	    border-right: 1px solid #b4b2b2;
    }
    .page-workbench .user-main-cnt {
    	float:right;
    	width: 115px;
    	height: 90px;   	
	    padding-top: 25px;
    }    
    
    .page-workbench .user-main-name {
	    display: block;
	    margin-top: 25px;
	    font-size: 18px;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    font-weight: bold;
    }
    .page-workbench .nomal-icon-wbch {
	    background: url(style/images/workbench.jpg) no-repeat scroll -272px -110px transparent;
	    color: #FFFFFF;
	    display: block;
	    float: left;
	    font-family: Arial;
	    font-size: 13px;
	    font-style: normal;
	    height: 70px;
	    width: 70px;
	    line-height: 20px;
	    margin-top: 7px;
	    position: absolute;
	    text-align: center;
	    text-indent: -4px;
	    top: 0;  
		left: 0;    
 	}
    
    .page-workbench .boxhd-nsty-gred {
	    background-color: #f9f9f9;
	    border-bottom: 1px solid #b4b2b2;
    }
    
    .page-workbench .boxbody-nomal-ulli {
    	height: 110px;
    	border-right: 1px solid #b4b2b2;
    	cursor:pointer;
    }
    
    .boxbody-nomal-ulli .bill-apply-icon1, .bill-apply-icon2, .bill-apply-icon3, .bill-apply-icon4, .bill-apply-icon5, .bill-apply-icon6, .bill-apply-icon7, .bill-apply-icon8{
	    background: url(style/images/workbench.jpg) no-repeat scroll -262px -275px transparent;	    
	    color: #FFFFFF;
	    display: block;
	    font-family: Arial;
	    font-size: 13px;
	    font-style: normal;
	    height: 40px;
	    width: 40px;
	    left: 5%;	    
	    line-height: 20px;
	    margin-top: 7px;
	    position: absolute;
	    text-align: center;
	    text-indent: -4px;
	    top: 0;   
    }
    .boxbody-nomal-ulli .bill-apply-icon2{
    	background-position: -398px -275px;
    	text-shadow: 0px 0px 0 #999999;
    }
    .boxbody-nomal-ulli .bill-apply-icon3{
    	background-position: -533px -275px;
    	text-shadow: 0px 0px 0 #999999;
    }
    .boxbody-nomal-ulli .bill-apply-icon4{
    	background-position: -670px -275px;
    	text-shadow: 0px 0px 0 #999999;
    }
    .boxbody-nomal-ulli .bill-apply-icon5{
    	background-position: -822px -275px;
    	text-shadow: 0px 0px 0 #999999;
    }
    .boxbody-nomal-ulli .bill-apply-icon6{
    	background-position: -956px -275px;
    	text-shadow: 0px 0px 0 #999999;
    }
    .boxbody-nomal-ulli .bill-apply-icon7{
    	background-position: -1094px -275px;
    	text-shadow: 0px 0px 0 #999999;
    }
    .boxbody-nomal-ulli .bill-apply-icon8{
    	background-position: -1229px -275px;
    	text-shadow: 0px 0px 0 #999999;
    }
    .boxbody-nomal-ulli .bill-apply-name {
		margin: 20px 0 0 20%;
	    width: 115px;
	    text-align: center;
    }    
    .boxbody-nomal-ulli .bill-apply-num {
        color:#333;
   	 	text-align: center;
    	display: block;
	    margin-top: 20px;
	    font-size: 30px;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    font-weight: bold;
    }
    .boxbody-nomal-ulli .small-font-foll {
		font-size: 15px
    }
    .boxbody-nomal-ulli .task-deal-pic {
		left: 10%;
    }
    .boxbody-nomal-ulli .task-deal-word{
    	margin-left:25%;
    }
    /*new icon style  fin*/   
</style>
<script id="TPL_newOwnHomeInfo" type="text/x-handlebars-template">
<div class="col-md-12">
	<div class="box box-solid">
		<div class="box-body" style="height:100px;">
			<div class="col-md-5">
				<span class="nomal-icon-wbch" style="margin-left:30px"></span>
				<div style="margin-left:100px">
					<span class="user-main-name">{{userCode}},{{helloword}}</span>
					<span style="color: #8d8d8d;">{{presentDate}}</span>
				</div>
			</div>	
			<ul class="col-md-7" style="list-style:none;">
				<li class="user-main-cnt">
					<span class="total-item-word" style="border: none;">待处理任务</span>
					<span class="total-item-num" style="border: none;">{{computeAdd dealFirst dealSecond dealThird dealIndentyQues dealResolveQues dealCloseQues}}</span>
				</li>
				<li class="user-main-cnt">
					<span class="total-item-word">问题申请单</span>
					<span class="total-item-num">{{computeAdd applyIndentyQues applyResolveQues applyCloseQues}}</span>
				</li>
				<li class="user-main-cnt">
					<span class="total-item-word">基线申请单</span>
					<span class="total-item-num">{{computeAdd applyFirst applySecond applyThird noPassSystem}}</span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="box box-solid">
		<div class="box-header boxhd-nsty-gred">
			<h3 class="box-title">基线申请单</h3>
		</div>
		<div class="box-body" style="padding:0;">
			<ul class="col-md-12" style="list-style:none;">
				<li class="col-md-3 boxbody-nomal-ulli">
					<div class="bill-apply-icon1"></div>
					<div class="bill-apply-name" name="applyFirst">一级域</div>
					<div class="bill-apply-num">{{applyFirst}}<span class="small-font-foll">个</span></div>
				</li>
				<li class="col-md-3 boxbody-nomal-ulli">
					<div class="bill-apply-icon2"></div>
					<div class="bill-apply-name" name="applySecond">二级子域</div>
					<div class="bill-apply-num">{{applySecond}}<span class="small-font-foll">个</span></div>
				</li>			
				<li class="col-md-3 boxbody-nomal-ulli">
					<div class="bill-apply-icon3"></div>
					<div class="bill-apply-name" name="applyThird">三级系统</div>
					<div class="bill-apply-num">{{applyThird}}<span class="small-font-foll">个</span></div>
				</li>
				<li class="col-md-3 boxbody-nomal-ulli" style="border: none;">
					<div class="bill-apply-icon4"></div>
					<div class="bill-apply-name" name="noPassSystem">驳回系统单</div>
					<div class="bill-apply-num">{{noPassSystem}}<span class="small-font-foll">个</span></div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="col-md-6">
	<div class="box box-solid">
		<div class="box-header boxhd-nsty-gred">
			<h3 class="box-title">问题申请单</h3>
		</div>
		<div class="box-body" style="padding:0;">
			<ul class="col-md-12" style="list-style:none;">
				<li class="col-md-3 boxbody-nomal-ulli">
					<div class="bill-apply-icon5"></div>
					<div class="bill-apply-name" name="applyIndentyQues">待认定问题</div>
					<div class="bill-apply-num">{{applyIndentyQues}}<span class="small-font-foll">个</span></div>
				</li>
				<li class="col-md-3 boxbody-nomal-ulli">
					<div class="bill-apply-icon6"></div>
					<div class="bill-apply-name" name="applyResolveQues">待解决问题</div>
					<div class="bill-apply-num">{{applyResolveQues}}<span class="small-font-foll">个</span></div>
				</li>
				<li class="col-md-3 boxbody-nomal-ulli">
					<div class="bill-apply-icon7"></div>
					<div class="bill-apply-name" name="applyCloseQues">解决中问题</div>
					<div class="bill-apply-num">{{applyCloseQues}}<span class="small-font-foll">个</span></div>
				</li>
				<li class="col-md-3 boxbody-nomal-ulli" style="border: none;">
					<div class="bill-apply-icon8" name="applyThird"></div>
					<div class="bill-apply-name" name="noPassQues">驳回问题单</div>
					<div class="bill-apply-num">0<span class="small-font-foll">个</span></div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="col-md-12">
	<div class="box box-solid">
		<div class="box-header boxhd-nsty-gred">
			<h3 class="box-title">待处理任务</h3>
		</div>
		<div class="box-body" style="padding: 0;">
			<ul class="col-md-12" style="list-style:none;">
				<li class="col-md-2 boxbody-nomal-ulli">
					<div class="bill-apply-icon1 task-deal-pic"></div>
					<div class="bill-apply-name task-deal-word" name="dealFirst">一级域</div>
					<div class="bill-apply-num">{{dealFirst}}<span class="small-font-foll">个</span></div>
				</li>
				<li class="col-md-2 boxbody-nomal-ulli">
					<div class="bill-apply-icon2 task-deal-pic"></div>
					<div class="bill-apply-name task-deal-word" name="dealSecond">二级子域</div>
					<div class="bill-apply-num">{{dealSecond}}<span class="small-font-foll">个</span></div>
				</li>
				<li class="col-md-2 boxbody-nomal-ulli">
					<div class="bill-apply-icon3 task-deal-pic"></div>
					<div class="bill-apply-name task-deal-word" name="dealThird">三级系统</div>
					<div class="bill-apply-num">{{dealThird}}<span class="small-font-foll">个</span></div>
				</li>
				<li class="col-md-2 boxbody-nomal-ulli">
					<div class="bill-apply-icon5 task-deal-pic"></div>
					<div class="bill-apply-name task-deal-word" name="dealIndentyQues">待认定问题</div>
					<div class="bill-apply-num">{{dealIndentyQues}}<span class="small-font-foll">个</span></div>
				</li>
				<li class="col-md-2 boxbody-nomal-ulli">
					<div class="bill-apply-icon6 task-deal-pic"></div>
					<div class="bill-apply-name task-deal-word" name="dealResolveQues">待解决问题</div>
					<div class="bill-apply-num">{{dealResolveQues}}<span class="small-font-foll">个</span></div>
				</li>
				<li class="col-md-2 boxbody-nomal-ulli" style="border: none;">
					<div class="bill-apply-icon7 task-deal-pic"></div>
					<div class="bill-apply-name task-deal-word" name="dealCloseQues">解决中问题</div>
					<div class="bill-apply-num">{{dealCloseQues}}<span class="small-font-foll">个</span></div>
				</li>
			</ul>
		</div>
	</div>
</div>
</script>

<script>
seajs.use("script/workbench", function(Query) {
    Query.init();
});
</script>