<div id="Page_workbench" class="page-workbench">
    <div class="row" id="JS_getOwnHomeInfo">
        <div class="text-loader min-height">
            <div class="text-loader-content">
                <i class="fa fa-refresh fa-spin"></i> 数据加载中，请稍候...
            </div>
        </div>
    </div>
</div>
<link rel="shortcut icon" href="style/favicon.ico">
<link rel="stylesheet" type="text/css" href="css/component.css" />
<style>
    .page-workbench .info-box-icon{
        height: 50px;
        width: 50px;
        font-size: 26px;
        line-height: 50px;
        border-radius:0;
    }
    .page-workbench .info-box-content{
        margin-left: 50px;
        padding: 2px 15px;
    }

    .page-workbench .info-count{
        padding:10px 15px;
    }
    .page-workbench .info-count h5{
        padding-left: 5px;
        font-weight: 700;
        border-bottom: 1px solid #f4f4f4;
        padding-bottom: 10px;
        color: #44abe5;
    }
    .page-workbench .info-count .fa {
        font-size: 24px;
    }
    .page-workbench .description-block{
        padding-bottom: 20px;
    }
    .page-workbench .description-header{
        font-size: 26px;
        padding-bottom: 5px;
    }
    .page-workbench .info-box-content .info-box-number{
        font-weight:normal;
        font-size: 22px;
    }
    .page-workbench .info-box-content .info-box-text{
        color: #666;
    }
    .page-workbench .info-count .text-aqua{
        color: #44abe5 !important;
    }
    .page-workbench .info-count .text-red{
        color: #f7245b !important;
    }
    .page-workbench .info-count .text-green{
        color: #8ac14a !important;
    }
    .page-workbench .info-count .text-yellow{
        color: #ff9922 !important;
    }
    .page-workbench .show-nothing {
    	display: none;
    }
    .page-workbench .header-point {
    	cursor:pointer;
    }
    .page-workbench .label-chart-position {
    	float:right;
    }
</style>
<script id="TPL_newOwnHomeInfo" type="text/x-handlebars-template">
<div class="col-md-6">
	<div class="box box-solid">
		<div class="box-header">
			<h3 class="box-title">申请中的任务</h3>
		</div>
		<div class="box-body">
			<div class="row">
				<ul class="cbp-ig-grid">
					<li><a name="applyFirst" number={{applyFirst}}><span class="label label-success label-chart-position">{{applyFirst}}</span><span class="cbp-ig-icon cbp-ig-icon-shoe"></span>
					<h3 class="cbp-ig-title">一级域</h3>
					<span class="cbp-ig-category">SYSTEM</span></a></li>
					<li><a name="applySecond" number={{applySecond}}><span class="label label-success label-chart-position">{{applySecond}}</span><span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
					<h3 class="cbp-ig-title">二级子域</h3>
					<span class="cbp-ig-category">SYSTEM</span></a></li>
					<li><a name="applyThird" number={{applyThird}}><span class="label label-success label-chart-position">{{applyThird}}</span><span class="cbp-ig-icon cbp-ig-icon-milk"></span>
					<h3 class="cbp-ig-title">三级系统</h3>
					<span class="cbp-ig-category">SYSTEM</span></a></li>
					<li><a name="noPassSystem" number={{noPassSystem}}><span class="label label-success label-chart-position">{{noPassSystem}}</span><span class="cbp-ig-icon cbp-ig-icon-whippy"></span>
					<h3 class="cbp-ig-title">驳回系统</h3>
					<span class="cbp-ig-category">SYSTEM</span></a></li>
					<li><a name="applyIndentyQues" number={{applyIndentyQues}}><span class="label label-success label-chart-position">{{applyIndentyQues}}</span><span class="cbp-ig-icon cbp-ig-icon-spectacles"></span>
					<h3 class="cbp-ig-title">待认定的问题</h3>
					<span class="cbp-ig-category">QUESTION</span></a></li>
					<li><a name="applyResolveQues" number={{applyResolveQues}}><span class="label label-success label-chart-position">{{applyResolveQues}}</span><span class="cbp-ig-icon cbp-ig-icon-doumbek"></span>
					<h3 class="cbp-ig-title">待解决的问题</h3>
					<span class="cbp-ig-category">QUESTION</span></a></li>
					<li><a name="applyCloseQues" number={{applyCloseQues}}><span class="label label-success label-chart-position">{{applyCloseQues}}</span><span class="cbp-ig-icon cbp-ig-icon-doumbek"></span>
					<h3 class="cbp-ig-title">解决中的问题</h3>
					<span class="cbp-ig-category">QUESTION</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="col-md-6 {{dealshow}}">
	<div class="box box-solid">
		<div class="box-header">
			<h3 class="box-title">待处理任务</h3>
		</div>
		<div class="box-body">
			<div class="row">
				<ul class="cbp-ig-grid">
					<li class="{{sysRoleSty}}"><a name="dealFirst" number={{dealFirst}}><span class="label label-success label-chart-position">{{dealFirst}}</span><span class="cbp-ig-icon cbp-ig-icon-shoe"></span>
					<h3 class="cbp-ig-title">一级域</h3>
					<span class="cbp-ig-category">SYSTEM</span></a></li>
					<li class="{{sysRoleSty}}"><a name="dealSecond" number={{dealSecond}}><span class="label label-success label-chart-position">{{dealSecond}}</span><span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
					<h3 class="cbp-ig-title">二级子域</h3>
					<span class="cbp-ig-category">SYSTEM</span></a></li>
					<li class="{{sysRoleSty}}"><a name="dealThird" number={{dealThird}}><span class="label label-success label-chart-position">{{dealThird}}</span><span class="cbp-ig-icon cbp-ig-icon-milk"></span>
					<h3 class="cbp-ig-title">三级系统</h3>
					<span class="cbp-ig-category">SYSTEM</span></a></li>
					<li class="{{quesRoleSty}}"><a name="dealIndentyQues" number={{dealIndentyQues}}><span class="label label-success label-chart-position">{{dealIndentyQues}}</span><span class="cbp-ig-icon cbp-ig-icon-whippy"></span>
					<h3 class="cbp-ig-title">待认定的问题</h3>
					<span class="cbp-ig-category">QUESTION</span></a></li>
					<li class="{{quesRoleSty}}"><a name="dealResolveQues" number={{dealResolveQues}}><span class="label label-success label-chart-position">{{dealResolveQues}}</span><span class="cbp-ig-icon cbp-ig-icon-spectacles"></span>
					<h3 class="cbp-ig-title">待解决的问题</h3>
					<span class="cbp-ig-category">QUESTION</span></a></li>
					<li class="{{quesRoleSty}}"><a name="dealCloseQues" number={{dealCloseQues}}><span class="label label-success label-chart-position">{{dealCloseQues}}</span><span class="cbp-ig-icon cbp-ig-icon-doumbek"></span>
					<h3 class="cbp-ig-title">解决中的问题</h3>
					<span class="cbp-ig-category">QUESTION</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</script>
<!-- handlebars -->
<script id="TPL_getOwnHomeInfo" type="text/x-handlebars-template">
    <div class="col-md-12">
            <div class="box box-solid">
               <div class="box-header">
                    <h3 class="box-title">个人待办任务详情</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="row info-count">
                            <h5>申请中的任务</h5>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <span name="applyFirst" number={{applyFirst}} class="info-box-icon bg-green header-point"><i class="fa fa-area-chart"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">一级域</span>
                                    <span class="info-box-number text-green">{{applyFirst}}</span>
                                </div> 
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <span name="applySecond" number={{applySecond}} class="info-box-icon bg-aqua header-point"><i class="fa fa-bar-chart"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">二级子域</span>
                                    <span class="info-box-number text-aqua">{{applySecond}}</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <span name="applyThird" number={{applyThird}} class="info-box-icon bg-red header-point"><i class="fa fa-server"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">三级系统</span>
                                    <span class="info-box-number text-red">{{applyThird}}</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <span name="noPassSystem" number={{noPassSystem}} class="info-box-icon bg-red header-point"><i class="fa fa-th"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">驳回的系统申请</span>
                                    <span class="info-box-number text-red">{{noPassSystem}}</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <span name="applyIndentyQues" number={{applyIndentyQues}} class="info-box-icon bg-yellow header-point"><i class="fa fa-line-chart"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">待认定的问题单</span>
                                    <span class="info-box-number text-yellow">{{applyIndentyQues}}</span>
                                </div> 
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <span name="applyResolveQues" number={{applyResolveQues}} class="info-box-icon bg-navy header-point"><i class="fa fa-pie-chart"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">待解决的问题单</span>
                                    <span class="info-box-number text-navy">{{applyResolveQues}}</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <span name="applyCloseQues" number={{applyCloseQues}} class="info-box-icon bg-purple header-point"><i class="fa fa-stack-overflow"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">解决中的问题单</span>
                                    <span class="info-box-number text-navy">{{applyCloseQues}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row info-count {{dealshow}}">
                            <h5>待处理任务</h5>
                            <div class="col-md-3 col-sm-6 col-xs-12 {{sysRoleSty}}">
                                <span name="dealFirst" number={{dealFirst}} class="info-box-icon bg-green header-point"><i class="fa fa-area-chart"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">一级域</span>
                                    <span class="info-box-number text-green">{{dealFirst}}</span>
                                </div> 
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 {{sysRoleSty}}">
                                <span name="dealSecond" number={{dealSecond}} class="info-box-icon bg-aqua header-point"><i class="fa fa-bar-chart"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">二级子域</span>
                                    <span class="info-box-number text-aqua">{{dealSecond}}</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 {{sysRoleSty}}">
                                <span name="dealThird" number={{dealThird}} class="info-box-icon bg-red header-point"><i class="fa fa-server"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">三级系统</span>
                                    <span class="info-box-number text-red">{{dealThird}}</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 {{quesRoleSty}}">
                                <span name="dealIndentyQues" number={{dealIndentyQues}} class="info-box-icon bg-yellow header-point"><i class="fa fa-line-chart"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">待认定的问题单</span>
                                    <span class="info-box-number text-yellow">{{dealIndentyQues}}</span>
                                </div> 
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 {{quesRoleSty}}">
                                <span name="dealResolveQues" number={{dealResolveQues}} class="info-box-icon bg-navy header-point"><i class="fa fa-pie-chart"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">待解决的问题单</span>
                                    <span class="info-box-number text-navy">{{dealResolveQues}}</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 {{quesRoleSty}}">
                                <span name="dealCloseQues" number={{dealCloseQues}} class="info-box-icon bg-purple header-point"><i class="fa fa-stack-overflow"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">解决中的问题单</span>
                                    <span class="info-box-number text-navy">{{dealCloseQues}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</script>
<script>
seajs.use("script/workbench", function(Query) {
    Query.init();
});
</script>