<div class="box">
    <form id="Js_queryPublicTaskForm">
        <div class="box-header with-border">
            <h3 class="box-title">按条件查询</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>变更计划名称</label>
                        <select name="onlinePlan" class="form-control input-sm" data-url="getOnlinePlanList"  data-subname="taskId" data-idkey="onlinePlan" data-namekey="onlinePlanName">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>任务类型</label>
                        <select name="taskType" class="form-control input-sm">
                            <option value="">请选择</option>
                            <option value="1">Boss验收</option>
                            <option value="2">开通验收</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>任务名称</label>
                        <select name="taskId" class="form-control input-sm" data-suburl="getOtherTaskInfo" data-idkey="taskId" data-namekey="taskName"> </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>子任务名称</label>
                        <input name="subTaskName" class="form-control input-sm">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>子任务状态</label>
                        <select name="dealState" class="form-control input-sm">
                            <option value="">请选择</option>
                            <option value="0">未处理</option>
                            <option value="1">处理中</option>
                            <option value="2">处理完成</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="text-center">
                <button type="reset" class="btn btn-default">重置</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" name="query">查询</button>
            </div>
        </div>
    </form>
</div>
<div class="box" style="min-height: 100px">
    <div class="box-header">
        <h3 class="box-title">验收任务测试报告</h3>
        <div class="box-tools">
            <div class="btn-group">
                <button type="button" id="JS_addReport" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus"></i> 新增</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;" id="JS_updateReport">修改</a></li>
                    <li><a href="javascript:;" id="JS_delReport">删除</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="Js_publicTaskList" class="box-body" style="min-height: 100px;">
        <div style="text-align: center; padding: 50px 0;">
            <p style="font-size: 38px;"><i class="fa fa-hourglass-1  text-gray"></i></p>
            <p style="color: #333;"><span>数据加载中，请稍后...</span></p>
        </div>
    </div>
</div>
<!--新增和修改弹出框 -->
<div class="modal fade" id="modal_testReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增测试报告</h4>
            </div>
            <div id="JS_testReportForm">
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" name="cancel" id="JS_AutoCaseTempReset">取消</button>
                    <button type="button" class="btn btn-primary" name="save">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="TPL_testReportForm" type="text/x-handlebars-template">
    <form name="addFaultForm">
        <div class="col-md-12">
            <div class="col-md-4 form-group">
                <label class="control-label"><i class="text-red">* </i>变更计划名称</label>
                <select name="onlinePlanId" class="form-control input-sm" data-url="getOtherPlan" data-subname="taskId" data-idkey="onlinePlanId" data-namekey="onlinePlanName"  required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label"><i class="text-red">* </i>任务名称</label>
                <select name="taskId" class="form-control input-sm" data-suburl="getOtherTaskInfo" data-subname="planId" data-idkey="taskId" data-namekey="taskName"  required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label"><i class="text-red">* </i>Boss任务名称</label>
                <select name="planId" class="form-control input-sm" data-suburl="getOtherFlowName"  data-idkey="planId" data-namekey="planName" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label">测试范围</label>
                <input type="text" class="form-control input-sm" value="{{testRemark}}" name="testRemark">
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label">缺陷数量</label>
                <input type="text" class="form-control input-sm " value="{{bugCount}}" name="bugCount">
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label">是否解决</label>
                <select name="ifSolve" class="form-control select2 input-sm">
                    <option value="">请选择</option>
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label">缺陷状态</label>
                <input type="text" class="form-control input-sm " name="bugStatus" value="{{bugStatus}}">
            </div>
            <div class="col-md-4 form-group">
                <label class="control-label">具备上线条件</label>
                <select name="onlineCondition" class="form-control select2 input-sm">
                    <option value="">请选择</option>
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
            </div>
            <div class="col-md-12 form-group">
                <label class="control-label">缺陷具体描述</label>
                <textarea class="form-control" name="bugRemark">{{bugRemark}}</textarea>
            </div>
            <div class="col-md-12 form-group">
                <label class="control-label">问题原因</label>
                <textarea class="form-control" name="reason">{{reason}}</textarea>
            </div>
            <div class="col-md-12 form-group">
                <label class="control-label">解决方法</label>
                <textarea class="form-control" name="solution">{{solution}}</textarea>
            </div>
            <div class="col-md-12 form-group">
                <label class="control-label">备注</label>
                <textarea class="form-control" name="remark">{{remark}}</textarea>
            </div>
        </div>
    </form>
</script>
<script id="TPL_publicTaskList" type="text/x-handlebars-template">
    <table class="table table-condensed table-hover table-bordered dataTable" style="width: 2500px; white-space: nowrap;overflow: hidden; text-overflow:ellipsis">
        <thead>
            <tr>
                <th class="iCheckbox"></th>
                <th>变更计划名称</th>
                <th>任务名称</th>
                <th>Boss任务名称</th>
                <th>上线时间</th>
                <th>测试范围</th>
                <th>执行测试时长</th>
                <th>总耗时长</th>
                <th>分析时长</th>
                <th>执行次数</th>
                <th>发现缺陷个数</th>
                <th>缺陷具体描述</th>
                <th>问题原因</th>
                <th>解决方法</th>
                <th>是否解决</th>
                <th>缺陷状态</th>
                <th>具备上线条件</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
            <tr>
                <td>
                    <input type="radio" class="minimal" value="{{resultId}}" name="resultId">
                </td>
                <td title="{{onlinePlanName}}">
                    <input type="hidden" name="onlinePlanId" value="{{onlinePlanId}}">{{onlinePlanName}}</td>
                <td title="{{taskName}}">
                    <input type="hidden" name="taskId" value="{{taskId}}">{{taskName}}</td>
                <td title="{{bossName}}">
                    {{shrink bossName 15}}</td>
                <td>
                    <input type="hidden" name="onlineTime" value="{{onlineTime}}">{{onlineTime}}</td>
                <td title="{{testRemark}}">
                    <input type="hidden" name="testRemark" value="{{testRemark}}">{{shrink testRemark 10}}</td>
                <td>
                    <input type="hidden" name="execTimeCount" value="{{execTimeCount}}">{{execTimeCount}}</td>
                <td>
                    <input type="hidden" name="totalTimeCount" value="{{totalTimeCount}}">{{totalTimeCount}}</td>
                <td>
                    <input type="hidden" name="analyTimeCount" value="{{analyTimeCount}}">{{analyTimeCount}}</td>
                <td>
                    <input type="hidden" name="execCount" value="{{execCount}}">{{execCount}}</td>
                <td>
                    <input type="hidden" name="bugCount" value="{{bugCount}}">{{bugCount}}</td>
                <td title="{{bugRemark}}">
                    <input type="hidden" name="bugRemark" value="{{bugRemark}}">{{shrink bugRemark 10}}</td>
                <td title="{{reason}}">
                    <input type="hidden" name="reason" value="{{reason}}">{{shrink reason 10}}</td>
                <td title="{{solution}}">
                    <input type="hidden" name="solution" value="{{solution}}">{{solution}}</td>
                <td>
                    <input type="hidden" name="ifSolve" value="{{ifSolve}}">{{transformatIf ifSolve}}</td>
                <td>
                    <input type="hidden" name="bugStatus" value="{{bugStatus}}">{{bugStatus}}</td>
                <td>
                    <input type="hidden" name="onlineCondition" value="{{onlineCondition}}">{{transformatIf onlineCondition}}</td>
                <td title="{{remark}}">
                    <input type="hidden" name="remark" value="{{remark}}">{{shrink remark 10}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
<script>
seajs.use("script/netFlowManage/taskProcess/publicTaskProcess.js", function(Query) {
    Query.init();
});
</script>
