<div class="row" id="Page_componentManage">
    <div class="col-md-3">
        <div class="box">
            <div class="box-header">
                <div class="box-title">选择功能点</div>
                <div class="box-body" id="JS_compTreeScorll">
                    <ul id="Tree_getRightTree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box">
            <div class="box-header">
                <div class="box-title">条件查询</div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <form id="JS_getCompInfoForm">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group input-group-sm">
                                <label>组件名称<i class="text-red">*</i></label>
                                <input type="text" class="form-control" name="compName" value="" required="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group input-group-sm">
                                <label>创建人<i class="text-red">*</i></label>
                                <input type="text" class="form-control" name="creatorName" value="" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group input-group-sm ">
                                <label>创建时间<i class="text-red">*</i></label>
                                <div class="form-inline">
                                    <input type="text" class="form-control input-sm " name="createTime1" id="datepicker" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"> 至:
                                    <input type="text" class="form-control input-sm " name="createTime2" id="datepicker" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="text-center">
                            <button type="reset" class="btn btn-default btn-flat">重置</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-primary btn-flat" name="submit" id="JS_queryComp">查询</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="box hide" id="JS_getQueryInfoWrap">
            <div class="box-header">
                <div class="box-title">组件列表</div>
                <div class="box-tools">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" id="JS_addComp"><i class="fa fa-plus"></i> 添加组件</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:;" id="JS_updateComp">修改</a></li>
                            <li><a href="javascript:;" id="JS_delComp">删除</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box-body" style="min-height: 100px;" id="JS_getQueryInfo"></div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="JS_addCompModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑组件</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
            </div>
        </div>
    </div>
    <script id="JS_addCompTemp" type="text/x-handlebars-template">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false">脚本编辑</a>
                    <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
                </li>
                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">参数设置</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="row">
                        <div class="col-md-3">
                            <div id="JS_addCompCtrScroll">
                                <ul id="JS_addCompCtrTree" class="ztree"></ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <form id="JS_addCompInfoForm">
                            </form>
                        </div>
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary pull-right" id="JS_addCompSubmit">保存</button>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="box" id="JS_getParameterWrap">
                                <div class="box-header">
                                    <h3 class="box-title">参数列表</h3>
                                    <div class="box-tools">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-toggle="modal" name="add"><i class="fa fa-plus"></i> 添加</button>
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="javascript:;" name="del">删除</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-body" id="JS_getParameterList">
                                    <div style="text-align: center; padding: 100px 0;">
                                        <p style="font-size: 38px;"><i class="fa fa-hourglass-1  text-gray"></i></p>
                                        <p style="color: #333;"><span>请添加参数</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div id="JS_addParameterForm" class="box hide" style="min-height: 100px">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
    </script>
    <!-- Modal -->
    <script id="TPL_getQueryInfo" type="text/x-handlebars-template">
        <table id="JS_getQueryInfo" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="iCheckbox" width="15"></th>
                    <th>组件名</th>
                    <th>创建人</th>
                    <th>最后修改人</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                </tr>
            </thead>
            <tbody>
                {{#each content}}
                <tr>
                    <td>
                        <input type="radio" class="minimal" name="compId" value="{{compId}}">
                        <!-- <input type="hidden" value="" name="creatorId">
                        <input type="hidden" value="" name="updateId"> -->
                    </td>
                    <td>{{compName}}</td>
                    <td>{{creatorName}}</td>
                    <td>{{updateName}}</td>
                    <td>{{createTime}}</td>
                    <td>{{updateTime}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>
    <script id="TPL_getCompInfoForm" type="text/x-handlebars-template">
        <div id="JS_addCompInfoScroll" style="padding-right: 15px;">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group input-group-sm">
                        <label>组件名<i class="text-red">*</i></label>
                        <input type="text" class="form-control" name="compName" value="{{compName}}" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group input-group-sm">
                        <label>等待时间<i class="text-red">*</i></label>
                        <input type="text" class="form-control" name="waitTime" value="8" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group input-group-sm">
                        <label>创建时间<i class="text-red">*</i></label>
                        <input type="text" class="form-control" name="createTime" value="{{createTime}}" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group input-group-sm">
                        <label>最后修改人<i class="text-red">*</i></label>
                        <input type="text" class="form-control" name="updateId" value="{{updateId}}" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group input-group-sm">
                        <label>组件创建人<i class="text-red">*</i></label>
                        <input type="text" class="form-control" name="creatorId" value="{{creatorId}}" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group input-group-sm">
                        <label>组件描述<i class="text-red">*</i></label>
                        <input type="text" class="form-control" name="compDesc" value="{{compDesc}}" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>脚本编辑<i class="text-red">*</i></label>
                        <textarea id="compScript" class="form-control" rows="5" name="compScript"></textarea>
                    </div>
                </div>
            </div>
    </script>
    <script id="TPL_getParameterList" type="text/x-handlebars-template">
        <table name="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="iCheckbox" width="15"></th>
                    <th>参数名</th>
                    <th>参数值</th>
                    <th>参数描述</th>
                    <th>取值SQL</th>
                    <th>预期值</th>
                </tr>
            </thead>
            <tbody>
                {{#each this}}
                <tr>
                    <td>
                        <input type="radio" class="minimal" value="{{paramId}}" name="paramId">
                    </td>
                    <td>{{paramName}}</td>
                    <td>{{paramValue}}</td>
                    <td>{{paramDesc}}</td>
                    <td>{{paramSql}}</td>
                    <td>{{paramExpect}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>
    <script id="TPL_addParameterForm" type="text/x-handlebars-template">
        <form>
            <div class="box-header">
                <h3 class="box-title">{{type}}</h3>
            </div>
            <div class="box-body" style="min-height: 100px;">
                <div class="row">
                    <input type="hidden" name="paramId" value="{{paramId}}">
                    <div class="col-md-12">
                        <div class="form-group input-group-sm">
                            <label>参数名<i class="text-red">*</i></label>
                            <input type="text" class="form-control" name="paramName" value="{{paramName}}" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group input-group-sm">
                            <label>参数值<i class="text-red">*</i></label>
                            <input type="text" class="form-control" name="paramValue" value="{{paramValue}}" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group input-group-sm">
                            <label>参数描述<i class="text-red">*</i></label>
                            <input type="text" class="form-control" name="paramDesc" value="{{paramDesc}}" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group input-group-sm">
                            <label>取值SQL<i class="text-red">*</i></label>
                            <input type="text" class="form-control" name="paramSql" value="{{paramSql}}" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group input-group-sm">
                            <label>预期值<i class="text-red">*</i></label>
                            <input type="text" class="form-control" name="paramExpect" value="{{paramExpect}}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="reset" class="btn btn-default" name="reset">重置</button>
                <button type="button" class="btn btn-primary pull-right" name="save">保存</button>
            </div>
            <!-- Modal -->
        </form>
    </script>
    <script>
    seajs.use("script/componentManage/componentManage.js", function(indexQuery) {
        indexQuery.init();
    });
    </script>
