  <style type="text/css">
	#Page_connectionPool .btn-center {text-align: center;}
	#Page_connectionPool .total-width {width: 850px;}
	#Page_connectionPool .btn-table-change {margin-right: 20px;}
	#Page_connectionPool .btn-table-report {margin-right: 20px;}
	#Page_connectionPool .text-style {color:red;font-size:16px;}
	#Page_connectionPool .min-height{min-height:50px;}
	#Page_connectionPool .width-input-167 {width: 167px;}
	#Page_connectionPool .width-input-400 {width: 400px;}
	#Page_connectionPool .width-input-158 {width: 155px;}
	#Page_connectionPool .check-inline-label {display: block;float:left;margin-top: 10px;}
	#Page_connectionPool .margin-onl {margin-left: 20px;margin-right: 20px;}
	#Page_connectionPool .query-data-label {width: 80px;}
	#Page_connectionPool .fist-text-label, .col2-sec-label, .col3-after-label {margin-right: 5px;width: 84px;}
	#Page_connectionPool .col2-sec-label {margin-left: 250px;}
	#Page_connectionPool .col3-after-label {margin-left: 17px;}
	#Page_connectionPool .line-sen-top {margin-top: 15px;}
	#Page_connectionPool .text-area-sty {width: 680px;vertical-align:middle; }
	#Page_connectionPool .btn-center {text-align: center;}
	#Page_connectionPool .total-width {width: 850px;}
	#Page_connectionPool .btn-table-change {margin-right: 20px;}
	#Page_connectionPool .btn-table-report {margin-right: 20px;}
	#Page_connectionPool .errcode-center {color:blue;font-size:18px;font-weight: bold;}
	#Page_connectionPool .text-style {color:red;font-size:16px;font-weight: bold;}
	#Page_connectionPool .select-label-word {margin-top: 7px;width: 70px;}
	#Page_connectionPool .table-word-center {text-align: center;vertical-align: middle;}  
	#Page_connectionPool .show-nothing {display:none;}  
	#Page_connectionPool .spl-thead-color1 {background-color: #00a65a;color: white;}  
	#Page_connectionPool .spl-thead-color2 {background-color: #3c8dbc;color: white;}  
	#Page_connectionPool .spl-thead-color3 {background-color: #f39c12;color: white;}  
	#Page_connectionPool .spl-thead-color4 {background-color: #8ac14a;color: white;}  
	#Page_connectionPool .spl-thead-color5 {background-color: #e1b34a;color: white;}  
	#Page_connectionPool .spl-thead-wid {} 
	#Page_connectionPool .change-font-red {color: red;font-weight: 700;} 
	#Page_connectionPool .change-font-green {color: green;font-weight: 700;} 
	#Page_connectionPool .change-font-orange {color: yellow;font-weight: 700;} 
	#Page_connectionPool .change-font-yellow {color: orange;font-weight: 700;} 
	#Page_connectionPool .table-word-center {text-align: center;vertical-align: middle;}  
	#Page_connectionPool .table-kuan1{width:6%;}
	#Page_connectionPool .table-kuan2{width:10%;}
	#Page_connectionPool .table-kuan3{width:15%;}
  </style>
<div class="row" id="Page_connectionPool">
    <div class="col-md-12">
        <div class="box">
            <form id="JS_queryDataForm">
                <div class="box-header with-border">
                    <h3 class="box-title">连接池配置按条件查询</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body"><br/>		            
		            <div class="row">
		            	<div class="col-sm-6">
		            		<label class="col-sm-2  control-label">采集日期:</label>
		            		<div class="col-sm-4">
                  				<input type="text" class="form-control input-sm " name="insertTime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
                  			</div>
                  		</div>
                		<div class="col-sm-6">
		                    <label  class="col-sm-2  control-label">业务系统：</label>
		                    <div class="col-sm-4 min-height">
		                    	<select name="center" class="form-control select2 input-sm" data-url="distinctCenter" data-subname="db" data-idkey="center" data-namekey="center">
			                        <option value="">请选择</option>
			                    </select>
			                </div>
		                </div>		                 
		            </div>
		            <div class ="row">
		            	<div class="col-sm-6">
		                    <label  class="col-sm-2  control-label">数据库节点名：</label>
		                    <div class="col-sm-4 min-height">
                   				<select name="db" class="form-control select2 input-sm" data-suburl="distinctDb" data-idkey="db" data-namekey="db">
			                        <option value="">请选择</option>
			                    </select>
			                </div>
		                </div>
		                <div class="col-sm-6">
		                    <label  class="col-sm-2  control-label">查询状态：</label>
		                    <div class="col-sm-4 min-height">
		                        <select name="isChange" class="form-control select2 input-sm" data-url="queryState" data-idkey="codeValue" data-namekey="codeName">		                    
			                        <option value="">请选择</option>
			                    </select>
			                </div>
		                </div>
		            </div>
                </div>
                <div class="box-footer">
                    <div class="text-center">
                         <button type="reset" class="btn btn-default">重置</button>
                         <button type="button" class="btn btn-primary"  name="query">查询</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="box" id="JS_text" style="min-height:100px;border:1px solid green;">
            <div class="box-header with-border">
                <h3 class="box-title"><span name="timeShow"></span>日连接池巡检报告:</h3>
            </div>
            <div class="box-body">
          		<div class="row" id="JS_connectionPoolText"> </div>
            </div> 
        </div> 
        <div class="box" id="JS_connectionPoolList" style="min-height:100px;">
            <div class="box-header ">
                <h3 class="box-title">连接池配置列表</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover" id="dataMaintainListTable">
                    <thead>
		                <tr>
		                <th class="iCheckbox table-word-center spl-thead-color1" width="15"></th>
	                    <th class="table-word-center spl-thead-color1">业务系统</th>
	                    <th class="table-word-center spl-thead-color1">系统模块</th>
	                    <th class="table-word-center spl-thead-color1">目标数据库节点</th>
						<th class="table-word-center spl-thead-color3">initial_size</th>	
						<th class="table-word-center spl-thead-color3">max_active</th>					
						<th class="table-word-center spl-thead-color3">max_idle</th>
						<th class="table-word-center spl-thead-color3">min_idle</th>						
						<th class="table-word-center spl-thead-color1">max_wait</th>
						<th class="table-word-center spl-thead-color1">采集时间</th>
						<th class="table-word-center spl-thead-color1">是否变化</th>
						<th class="table-word-center spl-thead-color1">是否已报备</th>
		                </tr>
                    </thead>
                    <tbody name="content"></tbody>         
                </table>
            </div>
            <div class="box-footer no-border">
            	<div class="dataTables_paginate" name="pagination" style="text-align:center"></div>
            </div>
        </div>
    </div>
    <!-- 弹出页面（是否变化） -->
	<div class="modal fade" id="JS_showDetailModal" tabindex="-1" role="dialog">
	    <div class="modal-dialog total-width">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                <h4 class="modal-title">最近七天数据库连接池配置采集情况展示</h4>
	            </div>
	            <div id="JS_changeModal" class="modal-body" style="padding-bottom: 0">
					<div class="box" id="JS_recentSevenDay">
						<div class="box-header" >
							<h3 class="box-title">数据库连接池配置采集表</h3>
						</div>
						<div class="box-body" >
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th class="iCheckbox table-word-center spl-thead-color1" width="15"></th>
					                    <th class="table-word-center spl-thead-color1">业务系统</th>
					                    <th class="table-word-center spl-thead-color1">系统模块</th>
					                    <th class="table-word-center spl-thead-color1">目标数据库节点</th>
										<th class="table-word-center spl-thead-color3">initial_size</th>	
										<th class="table-word-center spl-thead-color3">max_active</th>					
										<th class="table-word-center spl-thead-color3">max_idle</th>
										<th class="table-word-center spl-thead-color3">min_idle</th>						
										<th class="table-word-center spl-thead-color1">max_wait</th>
										<th class="table-word-center spl-thead-color1">采集时间</th>
										<th class="table-word-center spl-thead-color1">是否已报备</th>
									</tr>
								</thead>
								<tbody name="content"></tbody>
							</table>
						</div>
						<div class="box-footer no-border">
							<div class="dataTables_paginate" style="text-align: center;" name="pagination"></div>
						</div> 
					</div>
	          	</div>
	            <div class="modal-footer btn-center">
	                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>              
	            </div>
	        </div>
	    </div>
	</div>
    <!-- 弹出页面 （是否报备）-->
	<div class="modal fade" id="JS_showReportModal" tabindex="-1" role="dialog">
	    <div class="modal-dialog total-width">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                <h4 class="modal-title">数据库连接池配置采集报备信息展示</h4>
	            </div>
	            <div id="JS_reportModal" class="modal-body" style="padding-bottom: 0">
		            <form id="reportModalForm" class="form">
	                </form>
	          	</div>
	            <div class="modal-footer btn-center">
	                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>              
	            </div>
	        </div>
	    </div>
	</div>
</div>

<!-- 表格数据 -->
<script id="TPL_connectionPoolTemp" type="text/x-handlebars-template">
{{#each this}}
<tr>
    <td><input type="radio" class="minimal" value="{{id}}" name="id"></td>
	<td class="table-word-center">{{center}}</td>
    <td class="table-word-center">{{module}}</td>
	<td class="table-word-center">{{db}}</td>
    <td class="table-word-center">{{initialSize}}</td>
    <td class="table-word-center">{{maxActive}}</td>
    <td class="table-word-center">{{maxIdle}}</td>
	<td class="table-word-center">{{minIdle}}</td>
	<td class="table-word-center">{{maxWait}}</td>
	<td class="table-word-center">{{insertTime}}</td>
	<td class="table-word-center"><button type="button" class="btn btn-primary btn-table-change" data-center="{{center}}" data-module="{{module}}" data-db="{{db}}" data-date="{{insertTime}}" name="isChange">{{isChange}}</button></td>
	<td class="table-word-center"><button type="button" class="btn btn-primary btn-table-report" name="report">否</button></td>
</tr>
{{/each}}
</script>
<!-- 	<td >{{change}}</td>
	<td >{{report}}</td> -->
<!-- 内层表格数据 -->
<script id="TPL_connectionPoolTempIn" type="text/x-handlebars-template">
{{#each this}}
<tr>
    <td><input type="radio" class="minimal" value="{{id}}" name="id"></td>
	<td >{{center}}</td>
    <td >{{module}}</td>
	<td >{{db}}</td>
    <td >{{initialSize}}</td>
    <td >{{maxActive}}</td>
    <td >{{maxIdle}}</td>
	<td >{{minIdle}}</td>
	<td >{{maxWait}}</td>
	<td >{{insertTime}}</td>
	<td ><button type="button" class="btn btn-primary btn-table-report" name="report">否</button></td>
</tr>
{{/each}}
</script>
<!-- 报备信息模板 -->
<script id="TPL_reportTemp" type="text/x-handlebars-template">
    <div class="box-body">
		<div class="row">
			<div class="form-group">
				<label for="abstracts" class="col-sm-1 control-label">报备信息:</label>
				<div class="col-sm-9">
					<textarea name="abstracts" class="form-control" rows="3" id="abstracts" placeholder="请输入报备信息">{{abstracts}}</textarea>
				</div>
			</div>
		</div>
    </div>
</script>

<script id="TPL_connectionPoolTempText" type="text/x-handlebars-template">
<div class="events-grid" >
	<div class=" events-semi-grid">
		{{#if change}}<p style="text-indent:2em;margin-top:13px;" name="textShow"><span name="timeShowTwo"></span>日共成功采集<span class="text-style">{{collect}}</span>个系统连接池配置<span class="text-style">{{total}}</span>条，经巡检发现<span class="text-style">{{change}}</span>条配置存在变更，具体变更清单请选择“查询状态”条件为“是”后再次查询。</p>{{/if}}
		<p style="text-indent:2em;margin-top:13px;" name="textShowTwo"><span name="timeShowTwo"></span>日共成功采集<span class="text-style">{{collect}}</span>个系统连接池配置<span class="text-style">{{total}}</span>条，经巡检未发现配置变更。</p>
	</div>
</div>
</script>


<script type="text/javascript">
//<![CDATA[
seajs.use("script/connectionPoolConfiguration/connectionPoolConfiguration", function(init) {
    init.init();
});
//]]>
</script>


