<style type="text/css">
	#Page_archAigaFunction .width-input-167 {width: 167px;}
	#Page_archAigaFunction .text-change {text-indent:2em;margin-left:5px;margin-right:5px;}
	#Page_archAigaFunction .text{margin-top:-15px;margin-bottom:-10px;}
	#Page_archAigaFunction .listUl{margin-left:-23px}
	#Page_archAigaFunction .text-top{margin-top:5px}
 	#Page_archAigaFunction .table-pb{table-layout:fixed;}
 	#Page_archAigaFunction .events-grid {margin-top:-8px}
	#Page_archAigaFunction .events-semi-grid h4 {font-size: 1.35em;font-weight: 600;color: #F17074;margin: 0em 0em 0.4em 0em;}
	#Page_archAigaFunction .events-semi-grid p {font-size: 1em;color: #717171;line-height:1.6em;}
	#Page_archAigaFunction .events-semi-grid h5 {font-size: 1.1em;font-weight: 400;color: #fff;padding: 0.5em 1em 0.5em 1em;background: #90D966;width: 26%;text-align: center;border-radius: 15px 0px 15px 0px;}
	#Page_archAigaFunction .with-border{text-align:center;}
</style>
<div class="row" id="Page_archAigaFunction">
    <div class="col-md-12">
        <div class="box">
            <form id="JS_queryDataForm">
                <div class="box-header ">
                    <h3 class="box-title">基线数据按条件查询</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
               		<div class="form-group col-sm-12">
	            		<label class="col-sm-1  control-label text-top">查询月份:</label>
	            		<div class="col-sm-3">
                 			<input type="text" class="form-control  width-input-167" name="applyTime" onclick="WdatePicker({dateFmt:'yyyy-MM'})"/>
                 		</div>
						<div class="col-sm-8">
							<button type="reset" class="btn btn-default">重置</button>&nbsp;&nbsp;
                    		<button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button> 
                        </div>
                     </div>                 	
                </div>
            </form>
        </div>
    </div>
	<div class="col-md-12">
        <div class="col-md-6">
	        <div class="box">
	            <div class="box-header with-border">
	                <h3 class="box-title">当月数据</h3>
	            </div>
	            <div class="box-body">
	          		<div class="row" id="JS_monthReportNowData"> </div>
	            </div> 
	        </div> 
	    </div> 
		<div class="col-md-6">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">累计数据</h3>
           		</div>
           		<div class="box-body">
					<div class="row" id="JS_monthReportAllData"> </div>
           		</div> 
             </div> 
        </div>
	</div>
	<div class="col-md-12"> 
        <div class="box" id="JS_archAigaFunctionList" style="min-height:100px;">
            <div class="box-header ">
                <h3 class="box-title">本月新增三级域列表</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover table-pb" id="JS_dataMaintainListTable">
                    <thead>
		                <tr>
	                    <th >业务支撑域</th>
	                    <th >管信域</th>
	                    <th >BOMC域</th>
	                    <th >安全域</th>
						<th >大数据域</th>	
						<th >公共域</th>					
						<th >网络域</th>						
						<th >地市域</th>
						<th >开放域</th>
		                </tr>
                    </thead>
                    <tbody name="content"></tbody>         
                </table>
            </div>
        </div>
    </div>
</div>

<!-- 更新数据具体数值 -->
<script id="TPL_baseDataChangeTempA" type="text/x-handlebars-template">
<div class="events-grid" name="divListA">
		<div class=" events-semi-grid">
			<h5 name="timeShow"></h5>
			<h4>本月收到IT系统架构基线:</h4>
			<p>{{#if applycount}}<span name="span">申请{{applycount}}起，</span>{{/if}}{{#if tongguo}}<span name="span">审批通过{{tongguo}}起，</span>{{/if}}{{#if bohui}}<span name="span">驳回{{bohui}}起，</span>{{/if}}
			   {{#if xinzeng}}<span name="span">新增{{xinzeng}}个三级域系统中包含：</span>{{/if}}{{#if yewu}}业务支撑域{{yewu}}个、{{/if}}  {{#if guanxin}}管信域{{guanxin}}个、{{/if}}  {{#if bomc}}BOMC域{{bomc}}个、{{/if}}  
	           {{#if anquan}}安全域{{anquan}}个、{{/if}} {{#if shuju}}大数据域{{shuju}}个、{{/if}} {{#if gonggong}}公共域{{gonggong}}个、{{/if}}{{#if wangluo}}网络域{{wangluo}}个、{{/if}}  {{#if dishi}}地市域{{dishi}}个、{{/if}}  {{#if kaifang}} 开放域{{kaifang}}个。{{/if}}
			</p>
		</div>
</div>
</script>

<script id="TPL_baseDataChangeTempB" type="text/x-handlebars-template">
<div class="events-grid" name="divListB">
		<div class="events-semi-grid">
			<h5 name="timeShow"></h5>
			<h4>平台上线至今累计: </h4>
			<p>收到基线变更申请{{totalcount}}起，审批通过{{totalguo}}起，驳回{{totalnotguo}}起，目前累计新增三级系统共{{totalzeng}}个。</p>
		</div>
		<div class="clearfix"> </div>
</div>
</script>

<!-- 各级域具体信息 --> 
<script id="TPL_archAigaFunctionTemp" type="text/x-handlebars-template">
<tr name="trList">
    {{#each this}}
	<td ><ol class="listUl">{{#each this}}<li class="listLi" name="listLi">{{this}}</li>{{/each}}</ol></td>
	{{/each}}
</tr>
</script>

<script type="text/javascript">
//<![CDATA[
seajs.use("script/archAigaFunction/ArchAigaFunction", function(init) {
    init.init();
});
//]]>
</script>


