
<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">条件查询</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form id="JS_queryCaseTempForm" class="form-horizontal" role = "form">

              <div class="box-body">
   
				<!-- <div class="col-sm-3">
			        <button type="button" class="btn btn-primary pull-left" name="reset">新增用例模板</button>
			        <button type="button" class="btn btn-primary pull-right" name="submit">删除用例模板</button>
			    </div> -->
			    <!-- 搜索表单 --> 
			    <div class="row">   
				    <div class="col-sm-4 form-group">
				        <label for="queryCaseName" class="col-sm-5 control-label">模板名称：</label>
						<div class="col-sm-7">
							<input type="text" class="form-control input-sm" id="queryCaseName" name="caseName">
						</div> 
				    </div>

				    <div class="col-sm-4 form-group">
				        <label class="col-sm-5 control-label">重要程度：</label>
						<div class="col-sm-7">
							<select id="query_important" name="important" class="form-control input-sm"  >
								<option> </option>
								<option value="1">一级用例</option>
								<option value="2">二级用例</option>
								<option value="3">三级用例</option>
								<option value="4">四级用例</option>
				    		</select>
						</div> 
				    </div>
					<div class="col-sm-4 form-group">
				        <label class="col-sm-5 control-label">业&nbsp;&nbsp;&nbsp;&nbsp;务：</label>
						<div class="col-sm-7">
							<select  id="query_busi" name="busiId" class="form-control select2 input-sm" >

				    		</select>		
						</div>
				    </div>
				</div>

				<div class="row">
			        <div class="col-sm-4 form-group">
			            <label class="col-sm-5 control-label">系统大类：</label>
						<div id="query_sysId" class="col-sm-7">
							<select  name="sysId" class="form-control select2 input-sm" >
							</select>
						</div>
			            
			        </div>   
					<div class="col-sm-4 form-group">
			            <label class="col-sm-5 control-label">系统子类：</label>
						<div id="query_subSysId" class="col-sm-7">
							<select  name="subSysId" class="form-control select2 input-sm" >	        		
								
							</select>	
						</div>
			            
			        </div>
			        <div class="col-sm-4 form-group">
			            <label class="col-sm-5 control-label">功能点：</label>
						<div id="query_funId" class="col-sm-7">
							<select  name="funId" class="form-control select2 input-sm" >
	
							</select>
						</div>
			   		</div>
			    </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
              	<div class=" text-center">
                <button type="button" class="btn btn-default" name="reset">重置</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
			    <button type="button" class="btn btn-primary" id="queryBtn" name="submit">查询</button>
			    </div>
              </div>
            </form>
          </div>


<div class="content">
	<div class="row">
	       
		<div class="box"  style="min-height: 100px">
		    <div class="box-header">
			    <h3 class="box-title">模板列表</h3>
			    <div class="box-tools">
			        <div class="btn-group">
			            <button type="button" class="btn btn-primary" data-toggle="modal"  id="JS_addCaseTemp"><i class="fa fa-plus"></i> 新增模板</button>
			            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			                <span class="caret"></span>
			                <span class="sr-only">Toggle Dropdown</span>
			            </button>
			            <ul class="dropdown-menu" role="menu">
			                <li><a href="javascript:;" id="JS_deleCaseTemp">删除模板</a></li>
			                <li><a href="javascript:;" id="JS_viewCaseTemp">查看编辑</a></li>
			                <li><a href="javascript:;" id="JS_createTest">生成测试用例</a></li>
			                <li><a href="javascript:;" id="JS_createAutoTestTemp">生成自动化模板</a></li>
			            </ul>
			        </div>
			    </div>
			</div>
			
			<div id="JS_getCaseTempList"  class="box-body" style="min-height: 100px;" >
				

			</div>


		</div>
<!-- 新增测试用例 -->
		<div class="modal fade" id="modal_CaseTempForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		    <div class="modal-dialog modal-lg" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                <h4 class="modal-title" id="myModalLabel"></h4>
		            </div>

					<div class="modal-body">
						<div class="nav-tabs-custom">
		                    <ul class="nav nav-tabs">
		                      <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false">基本信息</a><iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></li>
		                      <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">因子信息</a></li>
		                    </ul>
		                    <div class="tab-content">
		                      <div class="tab-pane active" id="tab_1">		            
					            <form id="JS_CaseTempForm" class="form-horizontal">
						            <!-- 新增模板表单 -->   
						        </form> 
						      </div>
								<div class="tab-pane" id="tab_2">
			                        <div class="row">
			                          <div class="col-md-9">
			                            <div id="JS_getParameterList" class="box">
											<div class="box-header">
											    <h4 class="box-title">因子列表</h4>
											    <div class="box-tools">
											        <div class="btn-group">
											            <button type="button" id="JS_addFactor" class="btn btn-primary">添加因子</button>
														<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
											                <span class="caret"></span>
											                <span class="sr-only">Toggle Dropdown</span>
											            </button>
														<ul class="dropdown-menu" role="menu">
											                <li><a href="javascript:;" id="JS_delFactor">删除</a></li>
											            </ul>											            
											        </div>
											    </div>
											</div>			                            	
			                                <table id="compTable" class="table table-bordered table-hover">
									            <div id="JS_messageAddFactor" style="text-align: center; padding: 100px 0;">
									                <p style="font-size: 38px;"><i class="fa fa-hourglass-1  text-gray"></i></p>
									                <p style="color: #333;"><span>请添加因子</span></p>
									            </div>
									            <thead id="factorThead">
									                <tr>
									                    <th class="iCheckbox" width="15"></th>
									                    <th>因子名称</th>
									                    <th>因子描述</th>
									                </tr>
									            </thead>
									            <tbody id="JS_factorList">
									            </tbody> 
									        </table>
			                            </div>
			                          </div>
			                          <div class="col-md-3">
			                            <div class="box" style="min-height: 100px">
											<form id="JS_factorForm"></form>
			                            </div>
			                          </div>
			                        </div>
			                    </div>
						    </div>						    
						</div>						
					</div>
					<div class="modal-footer">
		                <button type="button" class="btn btn-default pull-left" name="cancel" id="JS_addCaseTempReset">取消</button>
		                <button type="button" class="btn btn-primary" id="JS_SaveCaseTemp">保存</button>
		            </div>					
		        </div>
		    </div>
		</div>

<!-- 自动化模板生成 -->
		<div class="modal fade" id="modal_AutoCaseTempForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		    <div class="modal-dialog modal-lg" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                <h4 class="modal-title" id="myModalLabel">生成自动化模板</h4>
		            </div>
		            <form id="JS_AutoCaseTempForm" class="form-horizontal">
			            <div class="modal-body">
			                <div id="JS_AutoTempFormInner" style="padding-right: 15px;">
								<div class="row">
									<div class="form-group">
								        <label for="queryCaseName" class="col-sm-2 control-label"><i class="text-red"> * </i>自动化模板名称：</label>
								        <div class="col-sm-8 form-inline ">
								            <input type="text" class="form-control input-sm" id="tempName1" name="caseName" readonly="true">
								            <input type="text" class="form-control input-sm" id="tempName2" name="caseName" value="">
								        </div>  
									</div>
								</div>

								<div class="row">
								<!-- 组件树 -->
									<div class="col-sm-3"> 
										<div class="nav-tabs-custom">
						                    <ul class="nav nav-tabs">
						                      <li class="active"><a href="#activity" data-toggle="tab">选择添加组件</a></li>
						                    </ul>
						                    <div class="tab-content">
						                        <div class="active tab-pane" id="activity">
						                            <ul id="compTree" class="ztree"></ul>
						                        </div>
						                    </div>										
										</div>
									</div>
									<!-- 组件列表 -->
									<div class="col-sm-9">
										<div class="box"  style="min-height: 100px">
										    <div class="box-header">
											    <h4 class="box-title">组件列表</h4>
											    <div class="box-tools">
											        <div class="btn-group">
											            <button type="button" id="deleComp" class="btn btn-primary">删除</button>
											        </div>
											    </div>
											</div>
											
											
												<div class="box-body" style="min-height: 100px;" >
													<table id="compTable" class="table table-bordered table-hover">
														<div id="messageAddComp" style="text-align: center; padding: 100px 0;">
                                    						<p style="font-size: 38px;"><i class="fa fa-hourglass-1  text-gray"></i></p>
                                    						<p style="color: #333;"><span>请添加组件</span></p>
                                						</div>
                                						<thead id="compThead">
														    <tr>
														        <th class="iCheckbox" width="15"></th>
														        <th>组件名称</th>
														        <th>用例步骤描述</th>
														        <th>组件顺序</th>
														    </tr>
														</thead>
														<tbody id="compBody">
														</tbody>      
												    </table>
												</div>
											


										</div>										
									</div>
								</div>
			                </div>

			            </div>
			            <div class="modal-footer">
			                <button type="button" class="btn btn-default pull-left" name="cancel" id="JS_AutoCaseTempReset">取消</button>
			                <button type="button" class="btn btn-primary" id="JS_addAndSaveAutoCaseTemp" name="save">保存</button>
			            </div>
			        </form>  
		        </div>
		    </div>
		</div>

<!-- 测试用例生成 -->
       <div class="modal fade" id="modal_testCaseForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		    <div class="modal-dialog modal-lg" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                <h4 class="modal-title" id="myModalLabel">生成测试用例</h4>
		            </div>
		            <form id="JS_TestForm" class="form-horizontal">
			            <div class="modal-body">
			                <div id="JS_AutoTempFormInner" style="padding-right: 15px;">
								<div class="row">
									<div class="form-group">
								        <label for="queryCaseName" class="col-sm-2 control-label"><i class="text-red"> * </i>测试用例名称：</label>
								        <div class="col-sm-8 form-inline ">
								            <input type="text" class="form-control input-sm" id="testName1" readonly="true">
								            <input type="text" class="form-control input-sm" id="testName2" value="">
								        </div>  
									</div>
								</div>

								<div class="row">
								
									<!-- 组件列表 -->
									<div class="col-sm-9">
										<div class="box"  style="min-height: 100px">
										    <div class="box-header">
											    <h3 class="box-title">因子列表</h3>
											</div>
											

												<div class="box-body" style="min-height: 100px;" >
													<table id="" class="table table-bordered table-hover">
												        <thead>
												            <tr>
												                <th class="iCheckbox" width="15"></th>
												                <th>因子名称</th>
												                <th>因子描述</th>
												                <th>参数</th>
												                <th>因子顺序</th>
												            </tr>
												        </thead>
												        <tbody id="JS_testCaseFactorList">
												           
												        </tbody>
												    </table>
												</div>
										


										</div>										
									</div>
								</div>
			                </div>

			            </div>
			            <div class="modal-footer">
			                <button type="button" class="btn btn-default pull-left" name="cancel">取消</button>
			                <button type="button" class="btn btn-primary" name="save">保存</button>
			            </div>
			        </form>  
		        </div>
		    </div>
		</div>




	</div>    
</div>

<script>
    seajs.use("script/caseTempMng/caseTempMng", function(init) {
        init.init();
    });    	
</script>