<div class="row">
    <div class="col-md-12">
        <div class="box">
            <form id="JS_queryChangePlanForm">
                <div class="box-header with-border">
                    <h3 class="box-title">按条件查询</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>变更计划名称</label>
                                <select name="onlinePlan" class="form-control input-sm" data-url="getOnlinePlanList" data-idkey="onlinePlan" data-namekey="onlinePlanName">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>计划状态</label>
                                <select name="planState" class="form-control input-sm">
                                    <option value="">请选择</option>
                                    <option value="1">新建</option>
                                    <option value="2">处理中</option>
                                    <option value="3">完成</option>
                                    <option value="4">取消</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>创建人</label>
                                <input type="email" class="form-control input-sm" name="createOpId" placeholder="请输入创建人">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>起始时间</label>
                                <input type="text" class="form-control input-sm " name="time1" id="JS_createDate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" placeholder="请选择起始时间">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>终止时间</label>
                                <input type="text" class="form-control input-sm " name="time2" id="JS_doneDate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" placeholder="请选择终止时间">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="text-center">
                        <button type="reset" class="btn btn-default">重置</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary" data-toggle="modal" name="query">查询</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="box" id="JS_getChangePlanList" style="min-height:100px;">
            <div style="text-align: center; padding: 50px 0;">
                <p style="font-size: 38px;"><i class="fa fa-hourglass-1  text-gray"></i></p>
                <p style="color: #333;"><span>数据加载中，请稍后...</span></p>
            </div>
        </div>
    </div>
</div>
<!-- 查看自动化执行结果详细信息弹出框 -->
<div class="modal fade" id="JS_getAutoResultModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">功能验收自动化验证</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box" id="JS_getAutoResultListC" style="min-height:100px;">
                            <div style="text-align: center; padding: 50px 0;">
                                <p style="font-size: 38px;"><i class="fa fa-hourglass-1  text-gray"></i></p>
                                <p style="color: #333;"><span>数据加载中，请稍后...</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- 查看编译发布详细信息弹出框 -->
<div class="modal fade" id="JS_getPublishResultModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编译发布结果</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box" id="JS_getPublishResultList" style="min-height:100px;">
                            <div style="text-align: center; padding: 50px 0;">
                                <p style="font-size: 38px;"><i class="fa fa-hourglass-1  text-gray"></i></p>
                                <p style="color: #333;"><span>数据加载中，请稍后...</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- 启动弹出框 -->
<div class="modal fade" id="JS_getTaskResultModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增验收任务</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <form id="JS_saveTaskResultForm">
                                <div class="box-header with-border">
                                    <h3 class="box-title">任务分派</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>验收任务类型</label><i class="text-red">*</i>
                                                <select name="taskType" class="form-control input-sm">
                                                    <option value="">请选择</option>
                                                    <option value="1">前台功能验收</option>
                                                    <option value="2">后台功能验收</option>
                                                    <option value="3">非功能验收</option>
                                                </select>
                                                <input type="hidden" name="onlinePlan" value="">
                                                <input type="hidden" name="onlinePlanName" value="">
                                                <input type="hidden" name="taskId" value="">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>处理人</label>
                                                <select name="dealName" class="form-control input-sm" data-url="getDealOpIdList">
                                                    <option value="">请选择</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label></label>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" name="save">保存</button>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label></label>
                                                <button type="reset" class="btn btn-default" name="reset">重置</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="box" id="JS_getTaskResultList" style="min-height:100px;">
                            <div style="text-align: center; padding: 50px 0;">
                                <p style="font-size: 38px;"><i class="fa fa-hourglass-1  text-gray"></i></p>
                                <p style="color: #333;"><span>数据加载中，请稍后...</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<script>
seajs.use("script/netFlowManage/changePlan/changeplanStart.js", function(Query) {
    Query.init();
});
</script>
