<div class="row" id="Page_archiChangeMessage">
    <div class="box box-primary">
        <form id="JS_querySysDomainForm" class="form-horizontal">
            <div class="box-header with-border">
                <h3 class="box-title">条件查询</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <div id="JS_selectData" class="form-group form-inline">
                        <label class="control-label margin-onl">时间</label>
                  		<input type="text" class="form-control input-sm " name="begainTime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/> 
                        <button type="button" class="btn btn-primary margin-onl" data-toggle="modal" name="query">查询</button>
 
                    </div>             
                </div>
            </div>
        </form>
    </div>
    <div class="box" id="JS_sysMessageView">
        <div class="box-header" >
        </div>
        <div class="box-body" id="JS_archiView" style="width: 100%; height:350px; ">
            <!-- 视图 -->
        </div>
    </div>
</div>
<style type="text/css">
#Page_archiChangeMessage .sys-sty{
    z-index: 2;
    position: absolute;
    border: 1px solid rgba(6, 6, 6, 0.93);
    background-color: #85dfec;
}

#Page_archiChangeMessage .label-left-sty{
    margin-top: 10px;
    -webkit-transform: rotate(90deg);
    width: auto;
}
#Page_archiChangeMessage .paas-sty {
    display: block;
    margin-left: 30px;
}
#Page_archiChangeMessage .border-view-out {
   width: fit-content;
   min-width:  600px; 
   margin-left: auto;
   margin-right: auto;
   margin-top: 5px;
   min-height: 30px;
}
#Page_archiChangeMessage .noborder-view {
   width: auto;
   min-width:  200px; 
   margin-left: 10px;
   margin-top: 2px;
   min-height: 40px;
   margin-right: 2px;
   margin-bottom: 2px;
}
#Page_archiChangeMessage .border-view {
   width: auto;
   min-width:  200px; 
   margin-left: 10px;
   margin-top: 2px;
   min-height: 40px;
   border: 1px solid rgba(6, 6, 6, 0.93);
   margin-right: 2px;
   margin-bottom: 2px;
}
#Page_archiChangeMessage .border-view-inside {
   width: auto;
   margin-left: 10px;
   margin-top: 2px;
   min-height: 40px;
   border: 1px solid rgba(6, 6, 6, 0.93);
   margin-right: 2px;
   margin-bottom: 2px;
}
#Page_archiChangeMessage .first-name-label {
 margin-left: 40px; 
 margin-right: 20px;
}
#Page_archiChangeMessage .second-label {
 margin-left: 260px;
 margin-right: 20px;
}
#Page_archiChangeMessage .margin-onl {
 margin-left: 20px;
}

</style>
<script>
seajs.use("script/sysArchiBaselineManage/archiChangeMessage", function(init) {
	init.init();
});
</script>

