<div class="row" id="Page_sysMessageQuery">
    <div class="box box-primary">
        <form id="JS_querySysDomainForm" class="form-horizontal">
            <div class="box-header with-border">
                <h3 class="box-title">条件查询</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <div id="JS_selectData" class="form-group form-inline">
                        <label class="control-label margin-onl">时间</label>
                  		<input type="text" class="form-control input-sm " name="begainTime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/> 
                        <button type="button" class="btn btn-primary margin-onl" data-toggle="modal" name="query">查询</button>
 
                    </div>             
                </div>
            </div>
        </form>
    </div>
    <div class="box" id="JS_sysMessageView">
        <div class="box-header" >
        </div>
        <div class="box-body" id="JS_archiView" style="width: 100%; height:350px; ">
            <!-- 视图 -->
        </div>
    </div>
</div>
<style type="text/css">
#Page_sysMessageQuery .sys-sty{
    z-index: 2;
    position: absolute;
    border: 1px solid rgba(6, 6, 6, 0.93);
    background-color: #85dfec;
}

#Page_sysMessageQuery .label-left-sty{
    margin-top: 10px;
    -webkit-transform: rotate(90deg);
    width: auto;
}
#Page_sysMessageQuery .paas-sty {
    display: block;
    margin-left: 30px;
}
#Page_sysMessageQuery .border-view-out {
   width: fit-content;
   min-width:  600px; 
   margin-left: auto;
   margin-right: auto;
   margin-top: 5px;
   min-height: 30px;
}
#Page_sysMessageQuery .noborder-view {
   width: auto;
   min-width:  200px; 
   margin-left: 10px;
   margin-top: 2px;
   min-height: 40px;
   margin-right: 2px;
   margin-bottom: 2px;
}
#Page_sysMessageQuery .border-view {
   width: auto;
   min-width:  200px; 
   margin-left: 10px;
   margin-top: 2px;
   min-height: 40px;
   border: 1px solid rgba(6, 6, 6, 0.93);
   margin-right: 2px;
   margin-bottom: 2px;
}
#Page_sysMessageQuery .border-view-inside {
   width: auto;
   margin-left: 10px;
   margin-top: 2px;
   min-height: 40px;
   border: 1px solid rgba(6, 6, 6, 0.93);
   margin-right: 2px;
   margin-bottom: 2px;
}
#Page_sysMessageQuery .first-name-label {
 margin-left: 40px; 
 margin-right: 20px;
}
#Page_sysMessageQuery .second-label {
 margin-left: 260px;
 margin-right: 20px;
}
#Page_sysMessageQuery .margin-onl {
 margin-left: 20px;
}

.mxgif-wrapper{
    width: 1140px;
    min-height: 450px;
    margin:20px auto;
    border:#eee 1px solid;
}

.mxgif-container{
    border:#787878 1px solid;
    padding: 5px 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.mxgif-sidebar{
    float: left;
}

.mxgif-sidebar{
    display:table;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    /*height: 100px;*/
}

.mxgif-sidebar p{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.mxgif-container.width-1 .mxgif-sidebar{
    width: 62px;
}

.mxgif-container.width-1 .mxgif-lists{
    margin-right: -62px;
    float: right;
    width: 100%;
}

.mxgif-container.width-1 .mxgif-lists-content{
    margin-right: 62px;
}


.mxgif-container.width-2 .mxgif-sidebar{
    width: 136px;
}

.mxgif-container.width-2 .mxgif-lists{
    margin-right: -136px;
    float: right;
    width: 100%;
}

.mxgif-container.width-2 .mxgif-lists-content{
    margin-right: 136px;
}

.mxgif-container.width-3 .mxgif-sidebar{
    width: 204px;
}

.mxgif-container.width-3 .mxgif-lists{
    margin-right: -204px;
    float: right;
    width: 100%;
}

.mxgif-container.width-3 .mxgif-lists-content{
    margin-right: 204px;
}



.mxgif-lists.height-1 .mxgif-lists-item{
    min-height: 110px;
    line-height: 110px;
    margin: 5px 0;
}

.mxgif-lists.height-2 .mxgif-lists-item{
    min-height: 50px;
    line-height: 50px;
    margin: 5px 0;
}

.mxgif-lists.height-3 .mxgif-lists-item{
    min-height: 30px;
    line-height: 30px;
    margin: 5px 0;
}

.mxgif-lists-content .mxgif-lists-item{
    float: left;
    text-align: center;
    background: #bbdcf4;
    font-weight: 700;
    border-right: #fff 5px solid;
    border-left: #fff 5px solid;
}

.mxgif-lists-content.item-1 .mxgif-lists-item{
    width: 100%;
    margin-bottom: 0;
}

.mxgif-lists-content.item-2 .mxgif-lists-item{
    width: 50%;
}

.mxgif-lists-content.item-3 .mxgif-lists-item{
    width: 33.3%;
}

.mxgif-lists-content.item-4 .mxgif-lists-item{
    width: 25%;
}

.mxgif-lists-content.item-5 .mxgif-lists-item{
    width: 20%;
}
</style>
<script>
seajs.use("script/sysArchiBaselineManage/archiChangeMessage", function(init) {
	init.init();
});
</script>

