<div class="row" id="Page_archiChangeMessage">
    <div class="box box-primary">
        <form id="JS_querySysDomainForm" class="form-horizontal">
            <div class="box-header with-border">
                <h3 class="box-title">条件查询</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <div id="JS_selectData" class="form-group form-inline">
                        <label class="control-label margin-onl">开始时间</label>
                  		<input type="text" class="form-control input-sm " name="begainTime" onclick="WdatePicker({dateFmt:'yyyy-MM'})"/>
                  		<label class="control-label margin-onl">结束时间</label>
                  		<input type="text" class="form-control input-sm " name="begainTime" onclick="WdatePicker({dateFmt:'yyyy-MM'})"/> 
                        <button type="button" class="btn btn-primary margin-onl" data-toggle="modal" name="query">查询</button>
                    </div>             
                </div>
            </div>
        </form>
    </div>
    <div class="box" id="JS_sysMessageView">
        <div class="box-header" >
        </div>
        <div class="box-body" id="JS_archiView" style="width: 100%; height:350px; ">
            <!-- 视图 -->
        </div>
    </div>
</div>
<style type="text/css">

#Page_archiChangeMessage .first-name-label {
	margin-left: 40px; 
	margin-right: 20px;
}
#Page_archiChangeMessage .second-label {
	margin-left: 260px;
	margin-right: 20px;
}
#Page_archiChangeMessage .margin-onl {
	margin-left: 20px;
}

</style>
<script>
seajs.use("script/sysArchiBaselineManage/archiChangeMessage", function(init) {
	init.init();
});
</script>

