<head>
<style type="text/css"> 
#Page_archiGradingIdentified .margin-onl {
	width: 90px;
	margin-left: 5px;
}
#Page_archiGradingIdentified .from-change-line {
	margin-bottom: 5px;
}
#Page_archiGradingIdentified .show_nothing {
	display:none;
}
</style> 
</head>
<div class="row" id="Page_quesShenqingView">
    <div class="col-md-12">
        <div class="box">
            <form id="JS_queryDataMaintainForm" role="form">
                <div class="box-header with-border">
                    <h1 class="box-title">公共照片墙</h1>
                </div><br/>
                <div class="box-body">
                	
                </div>
                <div class="box-footer">
                    <div class="text-center">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<script id="TPL_getImageTemp" type="text/x-handlebars-template">
    {{#each this}}
        <li>
        	<div class="img_block">
            	<img src="{{imgSrc}}" />
                <a href="#" rel="lightbox[plants]" title="测试标题" class="zoom">放大</a>
                <a href="#" class="ilike">我喜欢</a>
      		</div>
            <h3>{{title}}</h3>
            <div class="iNum"><span>{{likeCount}}</span><a href="#">{{commentCount}}</a></div>
          	<p>{{description}}</p>
		</li>
    {{/each}}
</script>
<script type="text/javascript">
//<![CDATA[
seajs.use("script/photoWall/commonImage", function(Init) {
    Init.init();
});
//]]>
</script>
