<head>
<link href="css/iconfont.css" rel="stylesheet" type="text/css"/>
<link href="css/fileUpload.css" rel="stylesheet" type="text/css"/>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<div class="row" id="Page_commonImageView">
    <div class="col-md-12">
        <div class="box">
            <form id="JS_showMyImageForm" role="form">
                <div class="box-header with-border">
                    <h1 class="box-title">公共照片墙</h1>
                </div><br/>
                <div class="box-body">
					<!-- 文件上传 -->
					
    				<div id="JS_fileUploadContentCommon" class="fileUploadContent" style="display:none"></div>
					
					<div id="JS_main">
						<ul id="JS_waterfall" name="content">
					        
					    </ul>
					    
					    <br/>

					</div>
					
						                	
                </div>
                <div class="box-footer">
                    <div class="text-center">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="js/lightbox.js"></script>
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/jquery.masonry.min.js"></script>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="js/fileUpload.js"></script>

<script type="text/javascript">
//<![CDATA[
seajs.use("script/photoWall/commonImage", function(Init) {
    Init.init();
});
//]]>
</script>
