<style type="text/css">
    #Page_connectionPool .btn-center {text-align: center;}
    #Page_connectionPool .total-width {width: 850px;}
    #Page_connectionPool .btn-table-change {margin-right: 20px;}
    #Page_connectionPool .btn-table-report {margin-right: 20px;}
    #Page_connectionPool .text-style {color:red;font-size:16px;}
    #Page_connectionPool .min-height{min-height:50px;}
    #Page_connectionPool .width-input-167 {width: 167px;}
    #Page_connectionPool .width-input-400 {width: 400px;}
    #Page_connectionPool .width-input-158 {width: 155px;}
    #Page_connectionPool .check-inline-label {display: block;float:left;margin-top: 10px;}
    #Page_connectionPool .margin-onl {margin-left: 20px;margin-right: 20px;}
    #Page_connectionPool .query-data-label {width: 80px;}
    #Page_connectionPool .fist-text-label, .col2-sec-label, .col3-after-label {margin-right: 5px;width: 84px;}
    #Page_connectionPool .col2-sec-label {margin-left: 250px;}
    #Page_connectionPool .col3-after-label {margin-left: 17px;}
    #Page_connectionPool .line-sen-top {margin-top: 15px;}
    #Page_connectionPool .text-area-sty {width: 680px;vertical-align:middle; }
    #Page_connectionPool .btn-center {text-align: center;}
    #Page_connectionPool .total-width {width: 850px;}
    #Page_connectionPool .btn-table-change {margin-right: 20px;}
    #Page_connectionPool .btn-table-report {margin-right: 20px;}
    #Page_connectionPool .errcode-center {color:blue;font-size:18px;font-weight: bold;}
    #Page_connectionPool .text-style {color:red;font-size:16px;font-weight: bold;}
    #Page_connectionPool .select-label-word {margin-top: 7px;width: 70px;}
    #Page_connectionPool .table-word-center {text-align: center;vertical-align: middle;}
    #Page_connectionPool .show-nothing {display:none;}
    #Page_connectionPool .spl-thead-color1 {background-color: #00a65a;color: white;}
    #Page_connectionPool .spl-thead-color2 {background-color: #3c8dbc;color: white;}
    #Page_connectionPool .spl-thead-color3 {background-color: #f39c12;color: white;}
    #Page_connectionPool .spl-thead-color4 {background-color: #8ac14a;color: white;}
    #Page_connectionPool .spl-thead-color5 {background-color: #e1b34a;color: white;}
    #Page_connectionPool .spl-thead-wid {}
    #Page_connectionPool .change-font-red {color: red;font-weight: 700;}
    #Page_connectionPool .change-font-green {color: green;font-weight: 700;}
    #Page_connectionPool .change-font-orange {color: yellow;font-weight: 700;}
    #Page_connectionPool .change-font-yellow {color: orange;font-weight: 700;}
    #Page_connectionPool .table-word-center {text-align: center;vertical-align: middle;}
    #Page_connectionPool .table-kuan1{width:6%;}
    #Page_connectionPool .table-kuan2{width:10%;}
    #Page_connectionPool .table-kuan3{width:15%;}
</style>
<div class="row" id="Page_capacityEvaluation">
    <div class="col-md-12">
        <div class="box">
            <form id="JS_queryDataForm">
                <div class="box-header with-border">
                    <h3 class="box-title">新接入业务数据库连接容量评估</h3>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    seajs.use("script/databaseConnectionCapacityEvaluation/capacityEvaluation", function(init) {
        init.init();
    });
    //]]>
</script>


