<style type="text/css">
    #Page_capacityEvaluation  .cbsize{width:20%;}
    #Page_capacityEvaluation .txtime{
        margin-left: 200px;
    }
    #Page_capacityEvaluation .txlabel{
        font-weight:bold;
        font-family:"Microsoft YaHei";
        font-family: Verdana, Arial;
    }
    #Page_capacityEvaluation .checkboxdiv{
        margin-left:50px;
    }
    #Page_capacityEvaluation .formdiv div{
        margin-left:10px;
        margin-top: 10px;
    }
    #Page_capacityEvaluation .cbsize{
        margin-left: 5px;
        vertical-align:-5px;
    }
    #Page_capacityEvaluation .sct
    {
        margin-left:5px;
        width:100px;
        margin-bottom:6px;
        background-color:white;
        font-family: Verdana, Arial;
    }
    #Page_capacityEvaluation .selectopt
    {
      width: 100px;
      height: 24px;
      border-radius: 5px;
      box-shadow: 0 0 5px #ccc;
      position: relative;
    }
</style>
<div class="row" id="Page_capacityEvaluation">
    <div class="col-md-12">
           <div class="box">
            <form id="JS_queryDataForm" >
                <div class="box-header with-border">
                    <h3 class="box-title">新接入业务数据库连接容量评估</h3>
                </div>
                <div class="box-body formdiv"><br/>
                    <div>
                        <h class="txlabel">请输入tps(系统吞吐量):</h>
                        <input class="sct" type="text"  name="tpsnumbers"/>
                        <h>笔/</h>
                        <select class="selectopt">
                            <option value ="sectime">秒</option>
                            <option value ="mintime">分</option>
                        </select>
                        <h class="txlabel txtime">请输入服务调用时长(毫秒ms):</h>
                        <input class="sct" type="text"  name="serviceCalledTime"/>
                        <h class="txlabel txtime">预计新增部署实例数(可选):</h>
                        <input class="sct" type="text"  name="deployednumbers"/>
                    </div>
                    <div> <h class="txlabel">请选择待评估数据库(多选)：</h></div>
                    <div class="checkboxdiv">
                            <input  type="checkbox" value="1" name="营业A库"><h class="cbsize">营业A库</h>
                            <input   type="checkbox" value="2" name="营业B库"><h class="cbsize">营业B库</h>
                            <input  type="checkbox" value="3" name="营业C库"><h class="cbsize">营业C库</h>
                            <input  type="checkbox" value="4" name="营业D库"><h class="cbsize">营业D库</h>
                    </div>
                    <div> <h class="txlabel">请选择按地市分节点访问的分中心数据库(多选)：</h></div>
                    <div class="checkboxdiv">
                        <input   type="checkbox" value="1" name="营业A库"><h class="cbsize" >营业A库</h>
                        <input   type="checkbox" value="2" name="营业B库"><h class="cbsize" >营业B库</h>
                        <input   type="checkbox" value="3" name="营业C库"><h class="cbsize" >营业C库</h>
                        <input   type="checkbox" value="4" name="营业D库"><h class="cbsize" >营业D库</h>
                    </div>
                    <div class="box-footer">
                        <div class="text-center">
                            <button type="reset" class="btn btn-default">重置</button>
                            <button type="button" class="btn btn-primary"  name="query">提交</button>
                        </div>
                    </div>
                </div>
            </form>
           </div>
        </div>
    <div class="col-md-12">
                <div class="box" id="JS_numberFluctuationList" style="min-height:100px;">
                    <div class="box-header ">
                        <h3 class="box-title">新接入业务数据库连接容量评估列表</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover" id="dataMaintainListTable">
                            <thead>
                            <tr>
                                <th class="iCheckbox table-word-center spl-thead-color4" width="15"></th>
                                <th class="table-word-center spl-thead-color1">数据库名</th>
                                <th class="table-word-center spl-thead-color2">预计增长连接数</th>
                                <th class="table-word-center spl-thead-color1">minIdle参考值</th>
                                <th class="table-word-center spl-thead-color1">maxIdle参考值</th>
                                <th class="table-word-center spl-thead-color1">maxActive参考值</th>
                            </tr>
                            </thead>
                            <tbody name="content"></tbody>
                        </table>
                    </div>
                    <div class="box-footer no-border">
                        <div class="dataTables_paginate" name="pagination" style="text-align:center"></div>
                    </div>
                </div>
            </div>
    <div class="col-md-12">
		<textarea cols="100" rows="5" disabled>
新接入业务数据库连接容量评估说明：
(1):
(2):
(3):
		</textarea>
    </div>
</div>
</div>
<script type="text/javascript">
    //<![CDATA[


    seajs.use("script/databaseConnectionCapacityEvaluation/capacityEvaluation", function(init) {
        init.init();
    });
    //]]>
</script>


